[2020-01-23 12:57] uira opened #1 "Cultura UX(User eXperience) na ESP"
Referências:
- Mapa Estratégico da ESP: https://prezi.com/view/5IDYo9te42mDRsPSEZMz/
-

[2020-01-23 13:13] rodrigopeixotoespce commented on #1
- [ ] Criar uma nova interface do mapa estratégico

[2020-01-27 18:51] uira opened #2 "#DesignSprint para Criação de proposta para Reestruturação do Portal da ESP"
https://trello.com/c/nfBV2LBZ

[2020-01-27 18:52] uira opened #3 "#DesignSprint para Criação de Fluxo e Telas do Sistema de Seleções/Editais"

[2020-01-30 03:37] uira commented on #2
## Benchmark
- https://www.digix.com.br/quem-somos/

[2020-01-31 19:00] victorMagalhaesPacheco commented on #3
Fluxo seleções.
https://drive.google.com/file/d/1e23cq0XdOAV_ufCYDWLJQGRAdvjroY1I/view?usp=sharing

[2020-02-17 18:03] drmarcos commented on #1
Transferida para o Trello: https://trello.com/b/PG4dwn3N/designlab

[2020-02-17 18:03] #1 closed

[2020-02-17 18:06] drmarcos commented on #3
Migrado para o Trello: https://trello.com/c/PtvCQ3c7

[2020-02-17 18:06] #3 closed

[2020-04-24 12:25] matheuscpl opened #4 "Ceará_icon"
Ícone em sgv e png do mapa do ceará:
https://drive.google.com/open?id=1-NaEStxxWeiBh0MFKuwpp7H4YgO3iZd3

[2020-04-24 13:41] rodrigoplimafreire opened #5 "Ata Reunião 24/04 com a superintendência"
proposta do app:
- app que apoia o profissional de saúde no manejo clínico

usuários - profissionais de saúde:
- upa
- assistência primaria
- uti/hospital

tipos de perfil (1ª MVP v.1.0):
- médico
- fisioterapeuta
- enfermeiro

formulário:
- elaborar um _survey_ para ser respondido pelos usuários detectados

3 eixos do app:
- educação
- apoio
- informação

notificação:
- de casos
- informações

si

[2020-04-24 14:31] rodrigoplimafreire opened #6 "Referência para o UI Design"
Conforme foi acordado, a equipe de design vai desenvolver as interfaces baseadas no React Native Paper: https://callstack.github.io/react-native-paper/

[2020-08-13 18:34] rodrigoplimafreire opened #7 "Realizar Canvas de Trabalho da Equipe do FeliciLab"
Este Canvas é uma ferramenta de reflexão para ajudar a equipe a desenvolver maneiras de identificar práticas de trabalho em temas operacionais comuns.

Temas abordados:
1. Acordos de equipe
2. Saúde da Equipe
3. Ritmo da Equipe
4. Necessidades e Expectativas
5. Informação e Comunicação
6. Reuniões
7. Fluxo de Trabalho
8. Tomada de Decisão
9. Associação e Funções
10. Recursos
11. Pontos Fortes e At

[2020-08-13 18:46] rodrigoplimafreire opened #8 "Realizar Canvas de Contextualização da Equipe do FeliciLab"
Este Canvas é uma ferramenta de reflexão para construir conexões pessoais mais profundas entre os membros da equipe.

Temas abordados:
1. Meu perfil
2. Minha família
3. Eu me formei em...
4. Eu já trabalhei em...
5. Eu moro em...
6. Minhas principais listas de música...
7. Nas minhas próximas férias eu vou para...
8. Meu jogo favorito é...
9. Eu faço meu melhor quando...
10. Minhas comidas preferi

[2020-08-20 14:50] rodrigoplimafreire opened #9 "Organizar Cerimônias no SAGU"
- **Sprints de 15 dias**
Última Sprint (17 a 31/08).

-  **Cerimônias: Revisão, Retrospectiva e Planejamento**
Dia 31/08 às 15h
No Planejamento devemos definir metas de entregas e traçar no Roadmap

[2020-08-20 14:56] rodrigoplimafreire opened #10 "Criar base de Stakeholders para consulta"
Capturar com o Victor, Rafael e Uirá os envolvidos nos projetos para montar uma base quando for necessário manter contato com eles.

Criar uma planilha e compartilhar com todos os que desejarem.

[2020-08-20 20:17] rodrigoplimafreire opened #11 "Realizar Workshop Inception com os envolvidos no projeto Sistema Integrado de Seleções/Mapas"
**1ª Reunião (18/08/2020):** https://github.com/EscolaDeSaudePublica/Selecoes/issues/37

**Data e Hora:** 20/08/2020, das 14h30 a 16h30

**Convidados Confirmados:**

Caio Cavalcanti (Adins)
Francisco Júnior (@Junior-Shyko )
Luciana Magalhães (GT)
Patrícia Azevedo (Asjur)
Rafael Moreira (@rmadev-master )
Rodrigo Freire (@rodrigoplimafreire )
Uirá Maia (@uira )
Victor Pacheco (@victorMagalhaesPachec

[2020-08-24 18:58] #11 closed

[2020-09-04 14:54] rodrigoplimafreire opened #12 "Adaptar Fluxo de Projetos Gnova p/ Lab"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

- Link: http://gnova.enap.gov.br/pt/sobre/o-que-fazemos#lg=1&slide=0

[2020-09-04 14:56] rodrigoplimafreire opened #13 "Criar apresentação do Mapas"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

- Link: https://docs.google.com/presentation/d/1ObzItKREzaUoHlLDNpkUs-rMlyj1S2M1EVCYZ5SvM6c/edit#slide=id.g1dad48d40e_0_6

[2020-09-04 14:56] rodrigoplimafreire opened #14 "Reestruturação dos Cursos das Residências Multiprofissional e Uniprofissional - Turma 07"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
Esta é uma demanda emergência de uma nova estruturação dos cursos (Turma 07) das Residenciais Multiprofissional e Uniprofissional. Por ser uma estrutura complexa gostaríamos da visão do Design UX para o desenvolvimento das ideias.
Este curso iniciará início de março a estrutura é prioridade neste momento, já que o conteúdo será readequado a

[2020-09-04 15:06] rodrigoplimafreire opened #15 "Reestruturação do Portal da ESP Virtual"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2020-09-04 15:06] rodrigoplimafreire opened #16 "Reanálise dos modelos de cursos híbridos realizados pela ESP"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2020-09-04 15:08] rodrigoplimafreire opened #17 "Criar Nova "Interface" para Mapa Estratégico"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ] Consultar: https://github.com/EscolaDeSaudePublica/DesignLab/issues/1

# Observações

- Link: https://prezi.com/view/5IDYo9te42mDRsPSEZMz/

[2020-09-04 15:11] rodrigoplimafreire opened #18 "Criar uma nova interface do PPA 2020-2023"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2020-09-04 15:12] rodrigoplimafreire opened #19 "Capacitação EAD e Presencial sobre UX Design #EGP"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2020-09-04 15:13] rodrigoplimafreire opened #20 "Design de Interface e Experiência: Observatório de Educação Permanente"
# Objetivo
**Eu como** usuário
**Quero** acessar o site do Observatório
**Para que** possa acompanhar o projeto e seus resultados

# Contexto
Foi preparado um espaço de interação entre os centros de estudos das unidades hospitalares para um projeto piloto. Estas informações é um ponto de entrada com o observatório.

A intenção que a Rede Estadual de Gestão das unidades de saúde seja um local de co

[2020-09-04 15:17] rodrigoplimafreire opened #21 "Workshop: Sexta do Conhecimento"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
Educação Permanente

# Definições

- [ ] A importância da Experiência do Usuário

- [ ] Design Thinking para Inovação

- [ ] Consistência da Experiência do Usuário: Design System e Style Guide

- [ ]  Implementando a Cultura UX em sua organização

# Observações

-

[2020-09-04 15:18] rodrigoplimafreire opened #22 "Avaliar ferramenta: https://tellus.org.br/tcu/"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
@Uirá: E se a gente usasse esse conteúdo como base de uma Especialização de UX em Sistemas de Saúde?

# Definições

- [ ]

# Observações

-

[2020-09-05 10:42] drmarcos commented on #14
Se e somente se trata de Reestruturação de Cursos:
Não é  esta uma atribuição para o CEDES?
Um trabalho de Design Instrucional?

[2020-09-05 10:44] drmarcos commented on #16
Se e somente se trata de modelos de cursos:
Não é  esta uma atribuição para o CEDES?
Um trabalho de Design Instrucional?

[2020-09-15 13:20] rodrigoplimafreire opened #23 "Login via QRCode"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
"Login via QRCode entre iSUS e outros Apps que utilizam ID Saúde"

# Definições

- [ ]

# Observações

-

[2020-09-15 13:22] rodrigoplimafreire opened #24 "Mapear, dentro do Integrasus, diferentes indicadores"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
"Mapear, dentro do Integrasus, diferentes indicadores, pra cada um dos perfis/homes personalizadas"

# Definições

- [ ]

# Observações

-

[2020-09-15 13:23] rodrigoplimafreire opened #25 "Inclusão de Badges no Perfil"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
"Vamos incluir alguns badges (medalhas e certificados) no perfil.Desde e-mail confirmado até 10 convites enviados. E aí podemos trabalhar com níveis de reputação e recompensa. Por exemplo, a função de favoritos só fica liberada depois de receber o badge de mobilizador, por ter enviado 10 convites"

# Definições

- [ ]

# Observações

-

[2020-09-15 13:24] rodrigoplimafreire opened #26 "Linhas de Cuidado"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
"linhas de cuidado: como materno infantil"

# Definições

- [ ]

# Observações

-

[2020-09-15 13:25] rodrigoplimafreire opened #27 "Avaliação do serviço de Saúde"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto
"avaliação do serviço de Saúde: ao final do atendimento, usuário recebe um sms ou zap ou notificação no.iSUS, perguntando pela nota para aquele atendimento (padrão uber/ifood). Profissional de Saúde recebe a nota e pode responder/reagir. Gestores da Unidade e da alta gestão do SUS, acompanha indicadores e recebe insights e notificação dos a

[2020-11-05 17:56] danielgula opened #28 "Guidelines da arquitetura da saúde - documentação"
Manual de orientação para a criação de conteúdos
- Criar doc
- Definir as 3 dimensões
- Criar personas
- idSaude
- Modelagem da informação (integração dos produtos)
- Guideline iSUS / app
- Guideline web

[2020-11-05 17:57] danielgula opened #29 "Levantamento das informações dos produtos:"
iSUS - app
Site Coronavirus - https://coronavirus.ceara.gov.br/
Esp virtual - http://espvirtual.esp.ce.gov.br/
Site da ESP - https://www.esp.ce.gov.br/

[2020-11-05 17:57] danielgula opened #30 "Revisão da Arquitetura do iSUS"
Família de categorias

Família de tags

[2020-11-05 17:57] danielgula opened #31 "Arquitetura visual da Saúde - MIRO"
https://miro.com/app/board/o9J_kvCsABY=/

[2020-11-23 16:23] #10 closed

[2020-12-08 18:21] jessica-salmazzo opened #141 "Mapas que indiquem onde acessar serviços de saúde, usando geolocalização (Inception)"
**Contexto**
Ser possível proporcionar um serviço para a usuária em que ela possa identificar serviços de saúde próximos à sua localização para informação própria ou para atendimentos.

[2020-12-08 20:32] wforte88 opened #32 "Relatório de testes de usabilidade iSUS"
Especificar oportunidades de melhorias encontradas nos testes de usabilidade.

[2020-12-09 12:40] danielgula opened #33 "Criar landing page do Felicilab"
Criar uma página única para conter informações básicas sobre o Felicilab.

- [ ] fazer layout visual
- [ ] codificar no WP
- [ ] inserir conteúdos de texto

[2020-12-10 03:53] uira commented on #33
@danielgula Fazer layout oficial, troca por escolher layou base do Divi

https://www.elegantthemes.com/layouts/

[2020-12-10 11:14] #4 closed

[2020-12-10 11:16] #5 closed

[2020-12-10 11:16] #6 closed

[2020-12-10 11:20] #7 closed

[2020-12-10 11:20] #8 closed

[2020-12-10 11:20] #9 closed

[2020-12-10 11:45] wforte88 commented on #26
Tratado na issue #402

[2020-12-10 11:45] #26 closed

[2020-12-10 20:20] wforte88 commented on #17
Tarefa vinculada ao novo site da ESP

[2020-12-10 20:21] wforte88 commented on #18
Tarefa vinculado ao novo site da ESP

[2020-12-10 20:21] #19 closed

[2020-12-10 20:21] wforte88 commented on #18
![image](https://user-images.githubusercontent.com/21333612/101825292-32088e80-3b0c-11eb-946c-d46fa29070d6.png)

[2020-12-10 20:22] #22 closed

[2020-12-10 20:23] #21 closed

[2020-12-10 20:23] #27 closed

[2020-12-10 20:24] #25 closed

[2020-12-10 20:27] wforte88 commented on #2
Aguardando aprovação de projeto específico para novo site da ESP.

[2020-12-10 20:28] #12 closed

[2020-12-10 20:29] #13 closed

[2020-12-10 20:30] #14 closed

[2020-12-10 20:30] #16 closed

[2020-12-10 20:31] #23 closed

[2020-12-21 12:05] danielgula opened #34 "Refinamento da matriz da arquitetura do iSUS"
Construir hierarquias de conteúdos sobre o SUS, a promoção da saúde, os agentes e seus vínculos, as linhas de cuidado e seus documentos.

[2020-12-24 00:44] danielgula opened #35 "Marcas do Mapas e do id Saúde"

[2020-12-29 11:41] #35 closed

[2020-12-29 12:28] danielgula opened #36 "Doc da arquitetura atual do iSUS"
Verificar a estrutura atual do app e montar os caminhos de conteúdos, páginas e tags

[2020-12-30 11:40] danielgula opened #37 "Melhorar o visual de páginas de acesso do Keycloak (marca do id Saúde e texto)"

[2020-12-30 11:41] danielgula opened #38 "Implementar experiência do usuário para o id Saúde (Keycloak)"

[2020-12-30 11:43] danielgula opened #39 "Doc da Arquitetura atual do Mapa da Saúde"
Verificar a estrutura atual da solução e montar os caminhos de conteúdos, páginas e tags

[2020-12-30 11:47] danielgula opened #40 "Doc da Arquitetura do id Saúde"
Verificar a estrutura atual da solução e montar os caminhos de conteúdos, páginas e tags

[2020-12-31 13:47] danielgula opened #41 "Precisamos melhorar a área de tutorial do Mapa (design) e também criar uma ou mais apresentações de treinamento do Mapa."
Ex: https://docs.google.com/presentation/d/1aQZZ6MjDGf5WchKvCIHrRX2czdr_0aTWC9vtcYNtv18/edit?usp=sharing
https://mapa.sus.ce.gov.br/como-usar/

[2021-01-05 12:26] #37 closed

[2021-01-06 13:27] danielgula opened #42 "Definir arquitetura para a Central"

[2021-01-11 13:09] danielgula opened #43 "Avaliar a sincronização de campos do id Saúde e do Mapas"

[2021-01-11 13:11] danielgula opened #44 "Refinar campos "Especialidade" e "Área de atuação" dentro da arquitetura e atribuir base."
Objetivo:
Ter mapeadas as especialidades e áreas de atuação do Mapas

Contexto:
A equipe do mapas está criando taxonomias para poder construir as oportunidades, eventos e projetos dentro da plataforma. Contudo isso deve ser mapeado para não impactar na experiência do usuário no cadastro de outros produtos.

Escopo:

- [ ] Alinhamento com PM do Mapas
- [ ] Alinhamento com o PM do id Saude
- [ ] Ali

[2021-01-11 13:19] danielgula opened #45 "Desenhar campos de informação no Mapa da Saúde"
Verificar com a equipe do Mapas os seguintes grupos de informação:
- [ ] Nome Completo (Sincronização com id Saúde)
- [ ] Área de Atuação
- [ ] Especialidade

[2021-01-11 13:25] danielgula opened #46 "Rever com a Infra o processo de limpeza dos snapshots no sus.ce"
Uma vez que faremos uma grande quantidade de snapshots dentro da máquina do sus.ce.gv.br, solicitamos à infra que possamos encontrar uma forma da equipe do Felicilab realizar a limpeza de versões anteriores.

[2021-01-11 13:42] danielgula opened #47 "Organização dos boards do Miro (NIT)"
Os boards do Miro com a conta do NIT devem ser reorganizados para a seguinte estrutura:

NIT - boards táticos do NIT
Design Lab - boards do Designlab
WIP Boards - demais boards de rascunhos, versões antigas

[2021-01-11 13:43] danielgula opened #48 "Documentação do Designlab"
Documentar as seguintes experiências do Designlab:
- [ ] Programas usados
- [ ] Processos de UX
- [ ] Design System
- [ ] Processos de UI
- [ ] Boas práticas

[2021-01-18 22:28] danielgula opened #49 "Incluir seção de notícias do Elmo"

[2021-01-18 22:29] danielgula opened #50 "Incluir métricas do Elmo no site"

[2021-01-20 11:46] wforte88 commented on #33
Demanda tratada na tarefa https://github.com/EscolaDeSaudePublica/isus-app/issues/440

[2021-01-20 11:46] #33 closed

[2021-01-20 14:24] danielgula commented on #50
Demanda redirecionada para o link

[(https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/15)]

[2021-01-20 14:24] #50 closed

[2021-01-20 14:26] danielgula commented on #49
Demanda foi redirecionada para o card abaixo

[]https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/16

[2021-01-20 14:26] #49 closed

[2021-01-25 14:56] ClarisCaval opened #142 "Identidade visual do iSUS"
Criar identidade visual do iSUS. Atualmente só dispomos do logotipo.
- cards e stories para as redes sociais
- iconografia
- manual de identidade visual (ou orientações para uso da marca)

[2021-01-25 18:45] #39 closed

[2021-01-25 18:46] #36 closed

[2021-01-25 18:46] #40 closed

[2021-01-27 11:38] MayaraMonte opened #51 "Unificar dados de testes com usuários"
## Objetivo

Como designer de experiência do iSUS
Quero visualizar dados unificados sobre dores e expectativas já relatadas
Para ter subsídios concretos para decisões de UX

## Contexto

O iSUS possui uma série de tarefas para refinamento que exigem uma análise mais apurada da experiência do usuário. Algumas telas foram implementadas em regime de urgência devido à pandemia de Covid-19 e, neste mom

[2021-02-02 13:01] danielgula opened #52 "Criar links padrão no rodapé de todos os sites"
[Imagem com os links]
Ouvidoria Estadual
https://cearatransparente.ce.gov.br/portal-da-transparencia/ouvidoria?locale=pt-BR

Ceará Transparente
https://cearatransparente.ce.gov.br/

Acesso à Informação
https://www.saude.ce.gov.br/acesso-a-informacao

From Uirá
Esses links aí, de ouvidoria e acesso à informação, são obrigatórios em todos os sites do governo.

Importante implementarmos isso no rodap

[2021-02-09 10:52] #32 closed

[2021-02-17 12:39] wforte88 opened #53 "Analisar segunda rodada de testes de usabilidade do iSUS"

[2021-02-24 11:30] wforte88 opened #54 "Discovery Identidade FeliciLab"
### Objetivo
**Como** designer
**Quero** ter mais informações sobre a identidade do FeliciLab
**Para** compreender melhor o posicionamento da marca

### Contexto
A marca do FeliciLab foi criada após o primeiro inception do laboratório. Contudo, não houve um trabalho de consolidação da identidade, que hoje flutua no imaginário dos integrantes do grupo a partir de diversas referências. Esta tarefa b

[2021-02-24 19:57] RaniGub opened #55 "Wireframe do Manual de Identidade"
## **Objetivo**

**Como** designer
**Quero** desenvolver via InDesign a base para formatação do Manual de Identidade
**Para** adiantar o processo do produto

## **Contexto**

Acordado em daily em 16/02/2021.

## **Escopo**

- [ ] Definição de seções, títulos e paginação
- [ ] Definição de estilos (serão revistos após escolha da família tipográfica)
- [ ] Gerar layout de seções
- [ ] Inserir conteú

[2021-02-24 20:03] sigachiconeto commented on #54
Verificamos que 60% dos integrantes responderam o questionário. Consolidamos percentual vinculado à data de entrada no FeliciLab. Visualizamos as 22 respostas. Prototipamos, com sucesso, a organização dos resultados em uma nuvem de palavras usando a ferramenta Tag Cloud. Identificamos a possibilidade de organizar as personalidades por idade e gênero.

Para a próxima reunião será necessário organiz

[2021-02-25 13:40] wforte88 opened #56 "Pesquisa de similares - Bookmark OS"
## **Objetivo**

**Como** Designer
**Quero** Pesquisar referências de marcas de laboratórios similares ao FeliciLab
**Para** Colaborar com a construção da Identidade do FeliciLab, reunindo referências de elementos visuais, como: tipografias, símbolos, ícones, grafismos, cores, entre outros, de iniciativas nacionais e internacionais com perfil similar.

## **Contexto**

- A Pesquisa de Similares é

[2021-03-02 14:00] RaniGub opened #57 "Briefing Felicilab"
## **Objetivo**

**Como** designer
**Quero** entender aspectos que envolvem o Felicilab
**Para** consolidar a persona da Marca

## **Contexto**

No desenvolvimento da Marca 'Felicilab' é necessário entender um pouco mais do contexto coletivo que habita no imaginário dos stakeholders, dentre outros aspectos já consolidados.

## **Escopo**

- [x] Criar um roteiro para o Briefing
- [x] Validar a dinâ

[2021-03-03 18:47] #56 closed

[2021-03-05 11:31] wforte88 opened #58 "Configurar faqs e fluxo de propostas no Help Desk"
## **Objetivo**

**Como** gerente comercial
**Quero** otimizar o fluxo de gerenciamento de propostas de treinamento
**Para** agilizar os contatos com leads

## **Contexto**
As solicitações de propostas comerciais são recebidas por e-mail ou pelo help desk (via site). A categorização é manual e as respostas pré-definidas estão em um arquivo de referência, de onde são copiadas e coladas nas resposta

[2021-03-05 11:51] pauloamoreira commented on #54
Dados consolidados disponíveis no Miro: https://miro.com/app/board/o9J_lR2-1ZQ=/?moveToWidget=3074457355193707940&cot=14

[2021-03-05 11:51] #54 closed

[2021-03-05 11:53] RaniGub commented on #56
Disponível em https://miro.com/app/board/o9J_lR2-1ZQ=/

[2021-03-08 12:36] RaniGub opened #59 "Manejo Clínico - Definição da AI"
## **Objetivo**

**Como** designer
**Quero** compreender as informações
**Para** criar uma arquitetura da informação

## **Contexto**

Considerando o volume de informações e sua distribuição na seção Manejo Clínico do site coronavirus.ceara.gov.br, devemos reavaliar sua representação.

## **Escopo**

- [x] Avaliar o conteúdo textual proposto em arquivos do word
- [x] Projetar uma AI do presente in

[2021-03-10 12:25] Clarisse1983 opened #60 "Criar linha tempo das capacitações do Elmo"
Criar uma linha do tempo de acontecimentos do Elmo - imagens da capacitação, relato sociogeográfico da disseminação do Elmo pelo país, depoimentos de pessoas que fizeram o curso.

[2021-03-10 13:39] RaniGub opened #61 "Manejo Clínico - Prototipação"
## **Objetivo**

**Como** designer
**Quero** desenvolver protótipo
**Para** Manejo Clínico COVID-19

## **Contexto**

Após seção realizada dia 17/03/2021, foi acordado que um protótipo do Manejo Clínico já poderia começar a ser esboçado com base nas indicações discutidas. Será levado em consideração no primeiro momento um perfil geral de usuário.

## **Escopo**

- [x] Protótipo em baixa fidelidade

[2021-03-11 13:16] pauloamoreira opened #62 "Manejo Clínico - Referências de sites"
## **Objetivo**

**Como** designer
**Quero** reunir referências de outros sites nacionais e internacionais de manejo clínico do covid-19.
**Para** colaborar com o desenvolvimento da versão 2.0 do site de Manejo do Covid-19 da ESP.

## **Contexto**

- Após a análise dos textos do manejo e produção da Arquitetura de Informação inicial, estamos coletando referências para dar continuidade ao processo

[2021-03-18 18:58] danielgula commented on #20
O MVP do site foi terminado com UX e foi feita a implementação de código do site nos servidores da nuvem.
Projeto pode ser acessado em:
https://observatorio.esp.ce.gov.br/

[2021-03-24 11:21] #61 closed

[2021-03-24 11:30] RaniGub opened #63 "Protótipo 0 do Manejo Clínico - Fase 01"
## **Objetivo**

**Como** designer
**Quero** desenvolver um protótipo
**Para** Manejo Clínico COVID-19

## **Contexto**

Após finalização da tarefa #61, será desenvolvido um protótipo de alta fidelidade no Wordpress do Manejo Clínico. Esse momento está relacionado somente com o nível 0 de informações e faz parte da Fase 01 projetada no plano de desenvolvimento (MIRO).

## **Escopo**
- [x] Protótip

[2021-03-26 12:08] #57 closed

[2021-03-26 12:20] RaniGub opened #64 "Ideação - Identidade Felicilab"
## **Objetivo**

**Como** designer
**Quero** gerar ideias e explorar aplicações
**Para** ter a definição da assinatura visual do Felicilab

## **Contexto**
Frente à conclusão da fase de problematização da identidade do Felicilab, devemos interpretar as informações coletadas para geração de ideias acerca de sua representação visual.

## **Escopo**

- [x] Processo de naming
- [x] Aplicar formulário

[2021-03-31 16:40] #20 closed

[2021-04-06 12:48] wforte88 opened #65 "Atualizar textos de introdução"
## **Objetivo**

**Como** usuária do subsite Manejo Clínico Covid-19
**Quero** ter noção do conteúdo de cada seção
**Para** encontrar rapidamente o conteúdo que desejo

## **Contexto**
O conteúdo do manejo clínico foi dividido em seis seções principais, chamadas na arquitetura da informação de "Nível 0". Essas seções possuem introduções em formatos diferentes, ora uma lista de tópicos, ora um text

[2021-04-06 17:00] rmadev-master opened #66 "Criar vídeo de apresentação do Mapa da Saúde"
A equipe do Mapa da Saúde solicita um vídeo de apresentação para divulgação da ferramenta e suas funcionalidades.

No vídeo, devem ser respondidas perguntas com respostas simples como:

- O que é o Mapa da Saúde?
- Como posso me cadastrar?
- Como vejo quais os serviços de saúde que tem próximos à minha região?
- Como posso conseguir um selo de qualidade MapSus?
- Como posso participar de uma rede

[2021-04-09 08:21] MayaraMonte opened #67 "Analisar e consolidar referências do Moodboard"
## **Objetivo**

**Como** designer
**Quero** buscar referências
**Para** visualizar elementos que representam a marca

## **Contexto**
-Diante dos pontos levantados até aqui chegamos a conclusão de que a marca tem um grande potencial além do apego sentimental pelo que representa, com o objetivo de traduzir essa representatividade e personalidade optamos pela criação de um moodboard para nos auxili

[2021-04-09 08:29] MayaraMonte opened #68 "Explorar/idear aplicações"
## **Objetivo**

**Como** designer
**Quero**  idear aplicações
**Para** complementar a identidade visual da marca

## **Contexto**
-Afim de garantir que a mensagem da marca seja clara e represente de forma visual seu conceito e essência é necessário buscar elementos que condizem com esse objetivo.

## **Escopo**

- [x] Definir família tipográfica primaria
- [x] Definir paleta de cores

[2021-04-09 08:34] MayaraMonte opened #69 "Refinar soluções para prototipação"
## **Objetivo**

**Como** designer
**Quero** transformar conceito em protótipo
**Para** dar forma, validar e testar a solução

## **Contexto**
-Após unirmos todo o material coletado desde de o moodboard é o momento de validar ás ideias geradas e aplicações definidas para dar início a prototipação. O protótipo vai ajudar a reduzir as incertezas e consolidar a solução.

## **Escopo**

- [x] Refinar

[2021-04-12 13:18] RaniGub opened #70 "Identidade Visual do Felicilab"
## **Objetivo**

**Como** designers
**Quero** desenvolver a Identidade Visual do Felicilab
**Para** consolidar sua representação gráfica

## **Contexto**

- A identidade visual do Felicilab tem por objetivo a consolidação da representação visual de seus princípios fundamentais em sua comunicação gráfica e, consequentemente, seus produtos.  A assinatura visual e diretrizes de aplicação serão úteis

[2021-04-13 17:53] MayaraMonte commented on #67
Resultados no link: https://miro.com/app/board/o9J_lR2-1ZQ=/

[2021-04-23 11:21] wforte88 commented on #63
Protótipo 0 finalizado. Disponível para revisão em http://dev.servicos.ws/sus.ce/manejocovid19/

[2021-04-27 12:27] danielgula opened #71 "Criar protótipo de podcast para uso do DaVinci Resolve"
## **Objetivo**

**Como** designer
**Quero** ter um protótipo de edição audiovisual
**Para** dinamizar os processos de trabalho

## **Contexto**

O DaVinci Resolve é uma ferramenta gratuita de edição audiovisual que permite uso colaborativo e online de seus projetos. Precisamos estudar e construir um ambiente para uso dessa ferramenta nos produtos que criamos na ESP. O primeiro passo é criar um pr

[2021-05-03 12:10] RaniGub opened #72 "Apresentação da Assinatura Visual do Felicilab"
## **Objetivo**

**Como** designer
**Quero** desenvolver a apresentação das propostas de Assinatura Visual do Felicilab
**Para** que os stakeholders avaliem a que melhor se adequa

## **Contexto**

Após a etapa de geração de alternativas das Assinaturas Visuais, chegou-se ao consenso que duas opções tem maior potencial de representação, sendo assim, os stakeholders devem fazer sua apreciação e dec

[2021-05-05 11:33] #72 closed

[2021-05-05 20:10] wforte88 commented on #64
### Reunião de refinamento da ideação

**OP01**
Mais próxima de saúde, educação, cores efervescentes simbolizam bem a dinâmica das atividades.

**OP02**
Conceito dialoga com os valores do FeliciLab, espalhamento, rede, liberdade.

**Uirá**
- Elemento arco-íris enquanto símbolo;
- Testar: círculo com arco-íris, somente esporos e caule orgânico;
- Referência de aplicações web: Google e Facebook.

**

[2021-05-07 12:04] wforte88 opened #208 "Criar apresentação institucional do Mapa da Saúde"
## **Objetivo**

**Como** gestor no NIT/FeliciLab
**Quero** uma apresentação institucional do Mapa da Saúde
**Para** prospectar parceiros e oportunidades

## **Contexto**
O time do Mapa da Saúde tem visualizado oportunidades de crescimento para o produto que se conectam com diversas demandas de outros projetos da Saúde no Ceará. É necessário elaborar uma apresentação sucinta, aos moldes da do iSUS

[2021-05-13 11:51] #63 closed

[2021-05-14 11:11] #68 closed

[2021-05-14 11:16] #59 closed

[2021-05-19 12:00] danielgula opened #73 "Vídeo com entrevistas sobre o iSUS"
## **Objetivo**

**Como** usuário
**Quero** acessar o Youtube do Felicilab
**Para** ver depoimentos de profissionais que trabalharam no iSUS

## **Contexto**

O Ciêncialab está criando um capítulo de livro com conteúdo transmidiático sobre o iSUS. Um QRcode irá acessar um link do Youtube com depoimentos de profissionais que trabalharam no desenvolvimento do app.

## **Escopo**

### **Ciêncialab**

[2021-05-19 12:06] drmarcos commented on #73
Perfeito @danielgula

[2021-05-19 12:15] danielgula opened #74 "Criar template visual para Capítulo de livro sobre o iSUS"
## **Objetivo**

**Como** articulista
**Quero** um template visual de documento para o capítulo iSUS
**Para** editar textos no Word

## **Contexto**

O Ciêncialab está criando um capítulo de livro com conteúdo transmidiático sobre o iSUS. Dentre as inovações propostas, o layout do documento terá um design próprio, inspirado no estetoscópio.

## **Escopo**

### **Ciêncialab**
- [ ] Criar boneco da

[2021-05-19 13:12] ClarisCaval commented on #73
Qual a diferença entre exportar a versão para o Youtube e criar link no canal?

[2021-05-19 13:15] danielgula commented on #73
Pronto @Clarisse1983, melhorei o texto para "Exportar versão em vídeo para o formato do Youtube". Designlab gera o vídeo e Publicilab posta no canal (ou alguém que tenha acesso).

[2021-05-19 14:06] geniltonfaheinajr commented on #73
Muito bom, Daniel! Os relatos em vídeo estão em uma pasta do Drive. Vou passar logo pra vc .

[2021-05-20 14:02] RaniGub opened #75 "Formulação de instrumento para teste de compreensibilidade"
## **Objetivo**

**Como** designer
**Quero** aplicar teste cego
**Para** consolidar informações de compreensibilidade sobre o símbolo utilizado na assinatura visual do Felicilab

## **Contexto**

Após segunda etapa de refinamento com stakeholders, ficou definido que será aplicado um teste cego de compreensibilidade com usuários com a finalidade de clarificar a compreensão e pregnância informaciona

[2021-05-20 15:07] RaniGub commented on #75
Será adaptado o Teste de Compreensibilidade proposto por Formiga (2011), do Design da Informação. A autora propõe um quadro de pontuação percentual adaptado de Brugger (1994) com base no índice de compreensão do usuário em relação a semântica do símbolo proposto. Considera-se que uma taxa entre 66% a 88% de interpretação provável daquilo que se deseja comunicar, seria o aceitável em uma representa

[2021-05-21 18:51] danielgula opened #76 "Vídeo tutorial de criação de conteúdos em Wordpress"
## **Objetivo**

**Como** usuário
**Quero** ter acesso a um tutorial
**Para** saber os principais passos na atualização de conteúdos de um site Wordpress

## **Contexto**

Com o aumento de

## **Escopo**

- [ ] agendar treinamento com usuários Observa EPS
- [ ] pegar contas de login e email
- [ ] criar contas no subsite WP
- [ ] gravar treinamento
- [ ] editar treinamento
- [ ] publicar em pasta n

[2021-05-24 11:14] #62 closed

[2021-05-26 20:02] ClarisCaval commented on #73
@danielgula, achei bacana o vídeo, tenho só duas observações: sugiro alterar a fonte que vc escolheu para destacar os trechos das falas pra uma fonte mais usual nas redes sociais (te passei uma referência pelo telegram) e baixar mais o bg durante as falas das pessoas (achei muito alto).

[2021-05-28 02:53] danielgula commented on #73
Alterações efetuadas no vídeo, que se encontra pronto para ser enviado para o Youtube. O arquivo se encontra dentro da pasta do projeto no Ciêncialab

[2021-06-08 12:52] #73 closed, assigned to danielgula, drmarcos, geniltonfaheinajr

[2021-06-08 20:05] danielgula commented on #74
Essa demanda foi refinada e não será mais necessário fazê-la.

[2021-06-08 20:05] #74 closed, assigned to danielgula, drmarcos, geniltonfaheinajr

[2021-06-18 11:52] #75 closed, assigned to RaniGub

[2021-07-01 14:44] #64 closed

[2021-07-01 14:45] #69 closed

[2021-07-01 18:08] RaniGub opened #77 "Refinamento final da Assinatura Visual"
## **Objetivo**

**Como** designer
**Quero** utilizar de técnicas de grid e experimentações
**Para** refinar a Assinatura Visual selecionada

## **Contexto**

Em 30/06/21 foi apresentado ao Grupo Tático do Felicilab o resultado do teste de compreensibilidade dos símbolos das propostas de Assinatura Visual. Feitas as devidas considerações técnicas e limitações, o grupo decidiu que a Assinatura do D

[2021-07-03 11:44] RaniGub opened #78 "Fluxo de Cadastro - Pareamento campos da SESA"
## **Objetivo**

**Como** designer
**Quero** reformular os campos de cadastro
**Para** otimizar a experiência do usuário e unificar os dados

## **Contexto**

O cadastro é uma ferramenta estratégica de coleta de dados para caracterização e dimensionamento dos trabalhadores da saúde do SUS-CE. Ele possibilita um relacionamento entre os gestores e os trabalhadores para tomada de decisão. Além disso,

[2021-07-03 12:07] RaniGub opened #79 "QualiQuiz"
## **Objetivo**

**Como** designer
**Quero** criar a experiência
**Para** desenvolvimento do QualiQuiz

## **Contexto**

O QualiQuiz é uma ferramenta estratégica de educação permanente e qualificação dos profissionais de saúde do SUS-CE. Ele integra a dimensão do Diagnóstico e Educação da Plataforma de Qualificação da Força de Trabalho do SUS-CE.

## **Escopo**

- [x] Estruturação da AI
- [x] Prot

[2021-07-03 12:41] RaniGub opened #80 "Plataforma de Qualificação da Força de Trabalho do SUS-CE"
## **Objetivo**

**Como** designer
**Quero** contribuir com a estruturação
**Para** fortalecimento da experiência do usuário e estratégias do SUS-CE

## **Contexto**

A Plataforma de Qualificação da Força de Trabalho do SUS-CE é um conjunto de ferramentas estratégicas que visam contribuir para o Mapeamento, Diagnóstico e Educação dos Trabalhadores da Saúde no estado do Ceará. Através dela, será po

[2021-07-05 13:31] RaniGub commented on #43
Essa tarefa foi atualizada e será encerrada. Integra agora o card 'Fluxo de Cadastro do Trabalhador da Saúde #78'.

[2021-07-05 13:32] #43 closed

[2021-07-05 13:33] RaniGub commented on #44
Essa tarefa foi atualizada e será encerrada. Integra agora o card 'Fluxo de Cadastro do Trabalhador da Saúde #78'.

[2021-07-05 13:33] #44 closed

[2021-07-05 13:35] RaniGub commented on #45
Essa tarefa foi atualizada e será encerrada. Integra agora o card 'Fluxo de Cadastro do Trabalhador da Saúde #78'.

[2021-07-05 13:35] #45 closed

[2021-07-05 13:43] RaniGub commented on #41
Essa tarefa será encerrada e a ação está prevista para ser desenvolvida na reformulação do Mapa da Saúde, incluída no épico "Plataforma de Qualificação da Força de Trabalho do SUS-CE #80".

[2021-07-05 13:43] #41 closed

[2021-07-05 14:00] RaniGub commented on #47
O desenvolvimento das boards está sendo migrado para o Figma e organizado por projetos/produtos. Ainda há necessidade dessa organização?

[2021-07-05 14:04] RaniGub commented on #38
Qual o andamento do relatório?

[2021-07-06 14:38] RaniGub commented on #78
Refinamento realizado com Uirá, Washington e Victor em 05/07/21. AI em atualização.

[2021-07-07 18:44] RaniGub opened #81 "Assistente Virtual SUSi"
## **Objetivo**

**Como** designer
**Quero** contribuir com o conceito de uma Assistente Virtual
**Para** integrar e consolidar a experiência das pessoas usuárias nas Soluções Digitais do SUS-CE

## **Contexto**

A SUSi é a Assistente Virtual das soluções digitais em saúde do SUS-CE e tem como objetivo tornar a jornada da pessoa usuária uma experiência mais fluída, com narrativa sólida e integrada

[2021-07-08 00:24] uira commented on #81
@RaniGub 😍😍😍😍

[2021-07-15 19:31] marameida commented on #60
Necessário analisar viabilidade.

[2021-07-15 21:06] danielgula opened #82 "Linha do tempo da ESP"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o site da ESP
**Para** ver a linha do tempo da escola em seus 22 anos

## **Contexto**

Precisamos implementar uma linha do tempo no site oficial da ESP até dia 22 de julho (aniversário ESP). Foi destacado desenvolvedor do time NIT para ajudar a ASCOM nisso. A demanda foi feita pelo dr Marcelo, mas os dados demoraram um pouco a ser levanta

[2021-07-20 13:09] RaniGub opened #83 "Oficina de Design de Serviços Públicos"
## **Objetivo**

**Como** designer
**Quero** ministrar uma oficina de Design Thinking
**Para** colaborar com a institucionalização do Design nas Políticas da Sesa

## **Contexto**

Frente a Agenda de Prioridades 2021-2022 da Secretaria Executiva de Políticas de Saúde (SEPOS), surgiu a necessidade de ofertar uma Oficina de Design de Serviços Públicos para as coordenadorias das Políticas de Saúde da

[2021-07-23 00:50] #82 closed, assigned to danielgula

[2021-07-23 12:07] #67 closed

[2021-07-28 18:18] pauloamoreira commented on #83
@Clarisse1983 segue layout para divulgação da oficina (esse material foi disponibilizado no drive do PubliciLab). fica faltando o PubliciLab produzir o texto para a legenda e agendar as publicações de divulgação. para quaisquer dúvidas, estou à disposição.
![OficinaDesignServicoPublico-quadrada-Instagram_Telegram_7](https://user-images.githubusercontent.com/79201419/127507882-0b594ece-106a-47ad-ad

[2021-07-29 17:32] #65 closed

[2021-07-30 13:47] RaniGub opened #84 "Publicização das práticas do Time de Design em Periódicos"
## **Objetivo**

**Como** pesquisador
**Quero** mapear as práticas do DesignLab
**Para** desenvolvimento de artigos científicos

## **Contexto**

Através das Metodologias Projetuais em Design, o DesignLab contribui no desenvolvimento das Soluções Digitais do SUS-CE, integrando teoria e prática do Design em suas ações. Visto o potencial de publicização da práxis transdisciplinar, é importante que s

[2021-07-30 14:08] RaniGub opened #85 "Mapear ações potenciais"
## **Objetivo**

**Como** pesquisador
**Quero** mapear as práticas do DesignLab
**Para** desenvolver um quadro sinóptico

## **Contexto**

Categorizar ações, datas, envolvidos e outras informações relevantes para organizar o fluxo do desenvolvimento de artigos. Referente ao Item 1, card #84.

## **Escopo**

- [ ] Mapear ações do DesignLab (Realizadas e em desenvolvimento)
- [ ] Analisar e discutir

[2021-07-30 14:12] #79 closed, assigned to wforte88, matheuscpl, RaniGub

[2021-07-30 14:18] RaniGub commented on #78
Dia 27/07/21 foi realizado um alinhamento com a SESA sobre os campos presentes no Fluxo. Algumas dúvidas foram deixadas numa Board compartilhada no Figma e informada no grupo do Zap. Estamos aguardando posicionamento sobre os apontamentos da Board. https://www.figma.com/file/vHUq5hIqLRNB76iEbU3Xrt/Fluxo-de-Cadastro-Board-edit%C3%A1vel-SESA?node-id=0%3A1

[2021-08-02 18:20] RaniGub commented on #83
Aguardando aprovação do layout das placas de sinalização.
![Plaquinhas_Prancheta 1](https://user-images.githubusercontent.com/79097920/127906304-6e76f65a-e43c-4b99-b94f-6e45dbefb2eb.png)

[2021-08-03 00:40] ClarisCaval commented on #83
Ei Paulo! Dando um retorno aqui sobre a arte. Acho que o miolo tem
muuuuitaaa informação, é bastante emaranhado, e não diz muito sobre o que é
a Oficina. Vamos tentar fazer uma coisa mais simples? E depois vi que Rani
fez uma proposta para as sinalizações que já é uma outra coisa, com outros
elementos. Precisamos de uma identidade geral pro evento.

Em qua., 28 de jul. de 2021 15:18, Paulo Amoreir

[2021-08-03 00:54] RaniGub commented on #83
@Clarisse1983 você tem razão. Vendo pelo celular fica menos perceptível e é algo simples de ser resolvido. Hoje nos concentramos mais no geral, amanhã podemos ver esses detalhes e unificar. Teremos refinamento no final da tarde.

[2021-08-04 18:15] pauloamoreira commented on #83
@Clarisse1983 segue nova
![OficinaDesignServicosPublicos](https://user-images.githubusercontent.com/79201419/128233181-64d0a41f-d8ab-47a2-93f6-f7c1b3fdd3e4.png)
proposta de card para mídias sociais e aplicativos de comunicação, para aprovação:

[2021-08-04 19:18] uira commented on #83
@pauloamoreira Muda a Data, paulo, pra 11 a 13

[2021-08-04 22:05] pauloamoreira commented on #83
@Clarisse1983 e @uira segue novo layout, com data corrigida:
![OficinaDesignServicosPublicos](https://user-images.githubusercontent.com/79201419/128261374-584058ea-e0ad-41fe-abff-06a446ce8369.png)

[2021-08-16 11:49] #83 closed, assigned to RaniGub, pauloamoreira

[2021-08-16 12:49] RaniGub opened #86 "Consolidação das informações | Oficina de Design de Serviços Públicos"
## **Objetivo**

**Como** designer
**Quero** consolidar as informações da Oficina de DSP
**Para** compartilhar a visualizações dos resultados com os participantes

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necessário a consolidação das in

[2021-08-17 11:52] RaniGub commented on #42
Durante a Oficina de DSP foi realizada a Inception da Central de Informações. Alguns pontos precisam ser concluídos para que a AI seja implementada. Será criado um Épico onde a tarefa do presente card estará inclusa. Mais informações:
https://www.figma.com/file/Avf3SQNDfeglilqOoXXVEY/Agenda-de-Prioridades-2021-2022-SEPOS?node-id=373%3A3749

[2021-08-17 11:57] #42 closed

[2021-08-17 12:00] RaniGub opened #90 "Criar épico da Central de Informações"

[2021-08-17 12:59] RaniGub opened #87 "Taxonomia"
## **Objetivo**

**Como** designer
**Quero** mapear taxonomias
**Para** nortear os campos do Fluxo de Cadastro

## **Contexto**

No contexto do Fluxo de Cadastro, é necessário mapear e relacionar a taxonomia de diferentes Soluções Digitais e para que seja alinhado quais campos serão apresentados para a pessoa usuária em sua jornada.

## **Escopo**

- [x] 1 Relacionar campos das Soluções Digitais
-

[2021-08-18 11:53] RaniGub opened #88 "AI - Mapa da Saúde (V1.1)"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-08-18 17:32] wforte88 opened #89 "Criar épico da Central de Informações"
@RaniGub commented on [Tue Aug 17 2021](https://github.com/EscolaDeSaudePublica/Saude/issues/171)

[2021-08-19 12:37] RaniGub opened #91 "Consolidar as informações das Árvores de Problemas"
## **Objetivo**

**Como** designer
**Quero** consolidar as Árvores de Problemas da Oficina de DSP
**Para** compartilhar a visualizações dos resultados com os participantes

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necessário a consolidaç

[2021-08-19 12:40] RaniGub opened #92 "Consolidar as informações das Inceptions"
## **Objetivo**

**Como** designer
**Quero** consolidar as Inceptions da Oficina de DSP
**Para** compartilhar a visualizações dos resultados com os participantes

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necessário a consolidação das inf

[2021-08-19 14:39] wforte88 commented on #46
@danielgula Recordo que alinhamos com o Wandson a existência de até cinco snapshots. Podemos fechar essa tarefa?

[2021-08-19 14:48] wforte88 commented on #47
Verificar possibilidade de migrar tudo para o Figma. Não temos perspectiva de contratação do Miro.

[2021-08-19 15:02] danielgula commented on #46
Sim, acredito que podemos! Até porque o importante é gerar os primeiros modelos em homologação dos próximos projetos e testar isso para avaliar se o processo atende.

[2021-08-19 15:04] danielgula commented on #47
Totalmente possível! Acredito que com a oficina de Design de Serviços e outras iniciativas de design o Figma atenderá aos objetivos. Como tem muita coisa antiga por lá podemos ver uma tarefa para seleção/migração do que está lá.

[2021-08-19 15:09] #46 closed

[2021-08-19 15:18] RaniGub commented on #71
Prioridade média.

[2021-08-19 18:18] RaniGub commented on #47
@danielgula podemos ver se há realmente a necessidade disso, pois vai demandar um esforço de trabalho que poderia estar sendo empregado em um card prioritário. Essa demanda é de média para baixa prioridade.

[2021-08-20 11:36] #91 closed, assigned to danielgula, pauloamoreira

[2021-08-20 13:35] RaniGub opened #93 "Consolidar duas pétalas da Política de Gestão do Cuidado"
## **Objetivo**

**Como** designer
**Quero** consolidar duas pétalas da Gestão do Cuidado na Mandala de Governança
**Para** compartilhar a visualizações dos resultados com os participantes

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necess

[2021-08-20 13:47] RaniGub opened #94 "Estruturação do artefato impresso - Oficina DSP"
## **Objetivo**

**Como** designer
**Quero** estrutura um eBook
**Para** compartilhar a visualizações dos resultados com os participantes

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necessário a consolidação das informações em um único doc

[2021-08-23 11:32] RaniGub opened #95 "Feedback dos participantes | Oficina DSP"
## **Objetivo**

**Como** designer
**Quero** receber o feedback dos participantes
**Para** compreender os pontos positivos e negativos da Oficina DSP

## **Contexto**

Na Oficina de Design de Serviços Públicos foi possível vislumbrar uma série de integrações entre as possíveis soluções da Agenda de Prioridades 2021-2022 da Sepos. Em vista disso, faz-se necessário a consolidação das informações em

[2021-08-23 13:58] danielgula opened #96 "Site SISEC"

[2021-08-23 14:57] RaniGub opened #97 "Refinamento da Assinatura Visual do Centro de Inteligência - CISEC"
## **Objetivo**

**Como** designer
**Quero** refinar a Assinatura Visual do Centro de Inteligência
**Para** nortear a criação do Manual de Identidade

## **Contexto**
Visto que a opção do "Cérebro Fractal" foi aceita para representação do Centro de Inteligência em Saúde do Estado do Ceará, é necessário que a solução (já em circulação de forma inadequada) receba pequenos ajustes visuais para que a

[2021-08-23 15:19] pauloamoreira commented on #95
@RaniGub criei uma proposta de Formulário de avaliação, para validação: https://docs.google.com/forms/d/1dWcrn27PYCE8nG4HupCWMaiAZ1JrSJNHNE95CWb7lJg/edit?usp=sharing

[2021-08-24 18:32] RaniGub commented on #95
Oi @Clarisse1983. Acabei de adicionar você como editora do formulário de avaliação da Oficina. Não consigo adicionar o PubliciLAB na tarefa porque vocês não tem repositório no ZenHub. Quando você concluir é só me avisar que encerro a tarefa. Queria saber como se dá o processo de envio do link para os participantes. É o PubliciLAB que faz?

[2021-08-24 18:34] RaniGub commented on #94
Após reunião de refinamento realizada em 24/08/21, foi definido que o formato híbrido do eBook seja convertido para o formato impresso.

[2021-08-24 18:39] RaniGub commented on #94
Enviar até 27/08/21 a versão preliminar com conteúdo textual para @Clarisse1983 validar.

[2021-08-25 11:42] RaniGub opened #98 "II Oficina de Construção da Política Estadual de Assistência Farmacêutica"
## **Objetivo**

**Como** designer
**Quero** facilitar a aplicação do instrumento da Árvore de Problemas
**Para** contribuir nas definições da PEAF

## **Contexto**

Foi solicitado à ESP-CE, através do Memorando 137/2021, contribuição para aplicação do instrumento 'Árvore de Problemas' na II Oficina de Construção da Política Estadual de Assistência Farmacêutica, que será realizada no dia 31/08/202

[2021-08-25 18:19] RaniGub opened #99 "Reunião de avaliação sobre Oficina DSP"
## **Objetivo**

**Como** organizadores
**Queremos** avaliar pontos da Oficina DSP
**Para** melhorar a experiência dos participantes e otimizar a condução da metodologia aplicada

## **Contexto**

Frente à Oficina de Design de Serviços Públicos realizada, fez-se necessário o mapeamento de alguns pontos para melhorias de ações similares.

## **Escopo**
- [x] Condução dos instrumentos
- [x] Avaliaçã

[2021-08-25 18:21] RaniGub commented on #99
@clarissagpeixoto quando eu lhe passar o Feedback dos participantes e você concluir o documento, podemos refinar com o Uirá e encerrar a tarefa. Posso ter esquecido algo, você pode editar o card.

[2021-08-26 18:08] RaniGub commented on #88
AI de nível 1 das opções de Menu mapeada. Iniciando mapeamento do perfil no modo de visualização e edição. Após, mapeamento da AI de nível 2 das opções de Menu (quando a pessoa usuária acessa um registro).

[2021-08-26 18:58] danielgula commented on #97
Segue relatório do refinamento da tarefa com a equipe.

**Marca**
Sobre ela, precisamos fazer alguns ajustes visuais para melhor uso nas plataformas pretendidas.

**Soluções**
O Cisec está desenvolvendo diversas soluções que serão acessadas em formato web e mobile. A equipe composta por colegas do NIT + Cisec já possuem protótipos funcionais. Eles precisarão de um site e um ambiente mobile para ro

[2021-08-27 02:32] uira commented on #98
@RaniGub @RaniGub , por favor, encaminha o e-mail de solicitação para o nit@esp, e depois também um email com a sua resposta pra Fernanda, confirmando a participação, com cópia para o mesmo e-mail.

[2021-08-27 02:42] uira commented on #97
@danielgula @danielgula, esse "menu do site" precisa ser refinado em forma de arquitetura .

[2021-08-27 11:27] RaniGub commented on #97
@danielgula temos vários modelos de AI em nosso grupo no Figma, você pode consultar algum lá. É importante que seja o primeiro passo antes do desenho das telas e definição de jornada de experiência. Sugiro ainda que a Assinatura Visual no topo do site não seja usada com a Tagline nessa versão vertical. Vou começar agora uns experimentos para que você realize os teste com a horizontal. Ainda assim,

[2021-08-27 11:44] RaniGub commented on #98
@pauloamoreira você pode fazer a atualização desse card com os encaminhamentos?

[2021-08-27 17:59] RaniGub commented on #97
[Logo_cisec.pdf](https://github.com/EscolaDeSaudePublica/DesignLab/files/7068756/Logo_cisec.pdf)

[2021-08-27 18:01] RaniGub commented on #97
![Captura de Tela 2021-08-27 às 14 59 35](https://user-images.githubusercontent.com/79097920/131169850-eadcae67-4fcb-43ea-8088-309c920bffc9.png)

[2021-08-27 18:05] RaniGub commented on #97
—Ajustes—

- Família tipográfica modificada para Cabin (Fonte livre)
- Redução de 18 para 12 fractais
- Tamanho do Símbolo na versão vertical reduzido
- Mudança para caixa-alta na Tagline
- Distância da Tagline para o Logotipo, letra “O” da Tag como referência
- Ajuste óptico da Tagline com o Logotipo
- Definição da distância entre Logotipo e Símbolo (considerar a letra “O”/2 da Tagline)
- Arredon

[2021-08-27 19:01] pauloamoreira commented on #98
.ok, @RaniGub . vou atualizar o card assim que possível.

[2021-08-27 19:10] RaniGub commented on #88
AI do perfil no modo de visualização completada. Iniciando modo de edição.

[2021-08-27 19:53] pauloamoreira commented on #94
@Clarisse1983, @uira , @wforte88 e @RaniGub segue 1ª versão do texto para a revista da Oficina de Design de Serviços Públicos, para validação e correções: https://docs.google.com/document/d/1QOWw9D8H28CmjgqvJktUz2VxglnyzSFnIjC3jc1ZwSY/edit?usp=sharing

[2021-08-27 20:06] pauloamoreira commented on #98
.card atualizado.

[2021-08-30 11:51] clarissagpeixoto commented on #99
@RaniGub OK. trabalhando no arquivo para finalizarmos.

[2021-08-30 17:36] RaniGub commented on #94
@pauloamoreira acabei de dar uma olhada. Fiz algumas sugestões. Coloquei no impessoal e queria saber de você e @uira o que acham da proposta que coloquei na página 2, de ordem de apresentação do conteúdo.

[2021-08-30 17:56] RaniGub commented on #30
Tarefa relacionada com a #34, que também será avaliada sua integração com outro card.

[2021-08-30 17:57] #30 closed

[2021-08-30 19:23] RaniGub commented on #88
Ai da Aba 'Sobre' e 'Responsáveis', concluída. Ficou pendente a organização das Categorias Profissionais e Especialidades pois um bug foi identificado. @victorMagalhaesPacheco está ciente e já trabalhando na solução. Tão logo solucionado, a organização será relativamente rápida, pois todos os campos já foram mapeados anteriormente. Iniciando AI de 'Oportunidades' no modo de edição.

[2021-08-31 01:30] matheuscpl opened #100 "[CISEC] - Simulador de vacinação"
Criação de interface para simulador de gráficos a partir de parâmetros definidos pelo usuário:

https://www.figma.com/file/AF7SfWrTIvXlmGeEdUE3JG/Simulador?node-id=103%3A740

[2021-08-31 02:46] uira commented on #94
@RaniGub

[2021-08-31 02:58] uira commented on #94
@RaniGub Gente, dei uma olhada e lida geral, e estou muito emocionado com esse resultado...está ficando espetacular! 😍

Fiz alguns comentários, mas ao final senti falta de duas coisas:
1) As inceptions;

2) O Resultado, em formato de demandas/projetos, com Titulos, descrições e valores estimados.

[2021-08-31 11:41] RaniGub commented on #94
@uira e a ordem do conteúdo? Mantemos a que está ou acatamos a sugestão que dei? As informações das inceptions já estão consolidadas é basicamente copiar e colar (vou dar uma olhada), o que vcs acham de colocarmos como um subcapítulo dentro do capítulo 'Mandala da Política Digital e Governança Colaborativa - SUS-CE'?
![Captura de Tela 2021-08-31 às 08 34 05](https://user-images.githubusercontent.

[2021-08-31 11:44] RaniGub commented on #94
Lembrando que a Inception da Central de Informações não está completa. Falei com a Malbia dia 25/08 e ela ficou de dar um retorno sobre a agenda do Pessoal. Estou no aguardo.
![WhatsApp Image 2021-08-31 at 08 43 08](https://user-images.githubusercontent.com/79097920/131509723-a28006b3-1362-4ea9-a75e-da097be76289.jpg)

[2021-08-31 11:49] clarissagpeixoto commented on #99
@RaniGub , os custos da primeira oficina estão aqui: https://docs.google.com/spreadsheets/d/13_p2hQJ_oNkE0fdMXkohhWxubFhDdiYcQSiqn5Gkil8/edit#gid=1544367084

Melhorias estão sendo construídas na segunda aba.

[2021-08-31 11:56] RaniGub commented on #99
Obrigado @clarissagpeixoto, @pauloamoreira sugeri inserir no final após o Glossário. Mas vamos finalizando o conteúdo e depois essa formatação.

[2021-08-31 13:08] RaniGub commented on #94
Acabei de inserir as informações das Inceptions e fiz uma formatação básica. Pedi a @Clarisse1983 que faça a revisão quando possível.

[2021-08-31 13:13] #93 closed, assigned to danielgula, pauloamoreira

[2021-08-31 13:16] uira commented on #94
@RaniGub Eu achei muito boa a ordem que já está... Deixaria essa mudança pra próxima versão da oficina ☺️

[2021-08-31 13:17] uira commented on #94
@RaniGub Beleza. Só cuidado ao expor telefone pessoal da galera no github. troca essa imagem por uma com os números borrados.

[2021-08-31 13:21] RaniGub commented on #94
@uira boa observação. Imagem trocada.

[2021-08-31 14:36] RaniGub commented on #100
Simulador Concluído, já apresentado ao @drmarcos

[2021-08-31 14:36] #100 closed, assigned to matheuscpl

[2021-08-31 14:40] RaniGub commented on #97
@matheuscpl refinamento de Assinatura concluído.

[2021-08-31 17:40] RaniGub commented on #98
@Clarisse1983 isso dá um bom conteúdo para o Cuida.

[2021-08-31 18:23] pauloamoreira commented on #94
@RaniGub segue link para o working em progress do artefato impresso - textos e estruturas ainda estão sendo modificadas: https://assets.adobe.com/id/urn:aaid:sc:US:dd6f8a08-a2e3-44db-abc6-489fff39720f?view=published

[2021-08-31 18:53] pauloamoreira commented on #98
.imagem de registro de momento da oficina:
![1ºencontro](https://user-images.githubusercontent.com/79201419/131559827-04b55616-2167-4e87-a018-86c01a4c76a6.jpg)

[2021-09-01 17:43] RaniGub commented on #88
AI no modo de visualização da Aba 'Oportunidades' (da opção 'Meu Perfil') concluído. É importante frisar que são opções diferentes do modo de edição e da aba 'Minhas Oportunidades'. Modo de edição já em mapeamento.

[2021-09-01 17:44] pauloamoreira commented on #98
.foi solicitado que a atividade dessa oficina seja continuada no dia 14/09, de 08 às 12h. para tanto, solicitei a Fernanda França Cabral que houvesse a formalização através de memorando. estamos aguardando a a chegada desse documento para confirmar esse 2º momento.

[2021-09-01 17:46] pauloamoreira commented on #94
@Clarisse1983, aguardo confirmação da finalização da sua revisão do texto para finalizar o layout do artefato.

[2021-09-01 22:19] matheuscpl opened #101 "Inserir navegação por bottom bar no Qualiquiz"

[2021-09-02 11:48] RaniGub opened #102 "AI de nível 1 das opções de Menus"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-09-02 11:48] #102 closed, assigned to RaniGub

[2021-09-02 11:53] RaniGub opened #103 "AI do Meu Perfil no modo de visualização e edição"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-09-02 11:53] #103 closed, assigned to RaniGub

[2021-09-02 11:56] RaniGub opened #104 "Ai da aba 'Oportunidades' (opção Meu Perfil) no modo de visualização e edição"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-09-02 12:04] RaniGub opened #105 "AI das abas 'Sobre, Agenda, Responsáveis e Espaços' no modo de visualização e edição do 'Meu Perfil'"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-09-02 12:05] #105 closed, assigned to RaniGub

[2021-09-02 12:40] RaniGub commented on #94
@pauloamoreira veja com o @uira acerca disso.
![Captura de Tela 2021-09-02 às 09 39 40](https://user-images.githubusercontent.com/79097920/131845060-669074cb-9faa-4eb5-9b1e-eb2cb3774e42.png)

[2021-09-02 12:59] RaniGub commented on #94
@danielgula e @gabrieladamarques vocês conseguem alinhar dois comentários com o @pauloamoreira no documento quando tiverem disponibilidade? Obg.

[2021-09-03 12:28] danielgula commented on #94
Pronto. Comentado e esclarecido. Parabéns pelo documento compilado.

[2021-09-03 12:39] RaniGub opened #106 "Ai da opção 'Meus Agentes' em 'Configurações'"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Agentes'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitai

[2021-09-03 12:47] #104 closed, assigned to RaniGub

[2021-09-03 13:30] #106 closed, assigned to RaniGub

[2021-09-03 13:31] RaniGub opened #107 "Ai da opção 'Meus Eventos' em Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Eventos'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitai

[2021-09-03 18:53] pauloamoreira commented on #97
.segue sugestões para proposta de Manual de Identidade.

**Orientações para o Manual de Identidade**

**CLIENTE**
•	Centro de Inteligência - CISEC

**PEÇA A SER CRIADA**
•	Manual de Identidade

**PÚBLICO A QUE SE DESTINA**
•	Todas as pessoas que necessitarem aplicar a marca do Centro de Inteligência – CISEC em peças de comunicação visual institucionais ou publicitárias.

**NECESSIDADES BÁSICAS**
O

[2021-09-06 12:56] danielgula opened #108 "Site Elmo 2.0"
## **Objetivo**

**Como** usu[ario
**Quero** acessar o site do Elmo
**Para** ter uma experiência melhorada do produto

## **Contexto**

O site do Elmo foi publicado como uma landing page para divulgação do produto e evoluiu com vários conteúdos. Com a evolução do capacete, novos conteúdos estão sendo pedidos, bem como é necessário um estudo melhor da experiência do usuário, novas funcionalidades e

[2021-09-06 12:58] danielgula commented on #60
Demanda foi para um novo épico, uma vez que o subsite já foi publicado.

[2021-09-08 15:07] RaniGub commented on #88
Categorias e Especialidades da aba 'Sobre', Modo de edição, Tela 'Meu Perfil', atualizada com base no link https://github.com/EscolaDeSaudePublica/Saude/issues/9 A especialidade Arqueologia (Categoria Ciências Sociais e Humanas) e Meteorologia (Categoria Meio Ambiente) não foi identificada nas especialidades atuais do Mapa. Observação feita na AI.

[2021-09-08 16:28] danielgula commented on #97
Atualizando: passei o briefing para Roberta e Marcos. Eles ficaram de conseguir mais algumas informações com Xavier. Prazo de entrega é na sexta.

[2021-09-08 17:05] #107 closed, assigned to RaniGub

[2021-09-08 17:07] RaniGub opened #109 "AI da opção 'Meus Espaços' em Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Espaços'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitai

[2021-09-08 19:26] RaniGub commented on #109
Modo de visualização completado.

[2021-09-09 11:59] RaniGub commented on #92
Como comentado na tarefa #94, ainda aguardamos posicionamento da Malbia para fechamento da Inception da CISUS

[2021-09-09 13:08] RaniGub commented on #94
@pauloamoreira fiz três observações no pdf da Revista. Mas prefiro esperar ela ser concluída para olhar os detalhes. A @anapvcv está fazendo uma nova revisão do conteúdo. Após a apresentação do prêmio você retorna com o card. Ana, você pode sinalizar neste card quando concluir a revisão, obg.

[2021-09-09 13:27] anapvcv commented on #94
ei, rani! não é bem uma revisão, tô dando uma olhada apenas para ver a estrutura da revista e pensar como ela pode dialogar com a estrutura do vídeo, tá bem? obrigada!

[2021-09-09 13:46] RaniGub commented on #94
Entendi ;)

[2021-09-09 17:38] RaniGub commented on #109
Mapeamento de 'Meus Espaços' Concluído.

[2021-09-09 17:38] #109 closed, assigned to RaniGub

[2021-09-09 17:40] RaniGub opened #110 "AI da opção 'Meus Projetos' em Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Projetos'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digita

[2021-09-10 13:49] RaniGub opened #111 "Ai da opção "Minhas Inscrições" em Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Minhas Inscrições'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções di

[2021-09-10 13:50] RaniGub commented on #110
Mapeamento concluído.

[2021-09-10 13:50] #110 closed, assigned to RaniGub

[2021-09-10 17:59] RaniGub commented on #111
Mapeamento concluído.

[2021-09-10 17:59] #111 closed, assigned to RaniGub

[2021-09-10 18:00] RaniGub opened #112 "AI da opção "Meus Recursos" em Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Recursos'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digita

[2021-09-10 18:48] RaniGub opened #113 "Ai da opção "Meus Apps" das Configurações"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Apps'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais q

[2021-09-10 18:55] RaniGub commented on #113
Mapeamento concluído.

[2021-09-10 18:55] #113 closed, assigned to RaniGub

[2021-09-10 18:56] RaniGub commented on #112
Pendentes os testes de experiência de inscrições não aceitas (Recursos, etc.)

[2021-09-10 19:01] RaniGub opened #114 "Mapear as jornadas de nível 2 das opções georeferenciadas nos Mapas (Menu Superior)"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de nível 2
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais quant

[2021-09-13 12:57] pauloamoreira opened #115 "III Oficina de Construção da Política Estadual de Assistência Farmacêutica"
**Objetivo**
Como designer
Quero facilitar a aplicação do instrumento da Árvore de Problemas
Para contribuir nas definições da PEAF

**Contexto**
Foi solicitado à ESP-CE, conforme memorando 152/2021, contribuição para a atividade de aplicação do instrumento 'Árvore de Problemas' na III Oficina de Construção da Política Estadual de Assistência Farmacêutica, que será realizada no dia 14/09/2021 das

[2021-09-13 13:24] pauloamoreira commented on #98
conforme informado anteriormente, esta atividade terá um novo momento no dia 14/09, das 9h às 12h, gerando o card #115 III Oficina de Construção da Política Estadual de Assistência Farmacêutica. portanto, os itens : "Gerar relatório com sistematização dos resultados" e "Aplicar Formulário de Avaliação" serão apresentados no card #115

[2021-09-13 13:27] #98 closed, assigned to pauloamoreira

[2021-09-13 17:20] RaniGub commented on #112
Um bug impediu que o mapeamento da Jornada fosse completado nessa tarefa. O que afetou também a aba de 'Avaliações' e 'Recursos' da Oportunidade cadastrada (relação com a tarefa #104). Os apontamentos estão na board do Figma.

[2021-09-13 17:49] RaniGub opened #116 "Momento com Stakeholders 1 - Apresentação do atual estágio do mapeamento da AI"
## **Objetivo**

**Como** designer
**Quero** apresentar aos Stakeholders o estágio atual do mapeamento da AI
**Para** elucidar dúvidas e informar sobre problemas encontrados

## **Contexto**

O mapeamento da atual AI do Mapa da Saúde está em fase de conclusão. Visto isso, é importante que haja um momento contributivo para resolução de alguns pontos encontrados no processo.

## **Escopo**
- [x] Apr

[2021-09-13 17:54] RaniGub commented on #116
@wforte88 @victorMagalhaesPacheco @uira vamos ver um momento a partir de quinta-feira (16/09/2021) uma conversa sobre a AI do Mapa.

[2021-09-13 18:25] pauloamoreira commented on #94
@uira e @RaniGub segue nova versão do arquivo do artefato da oficina de Design de Serviços Públicos (formato revista), para avaliação e comentários (ainda falta inserir as referências): https://assets.adobe.com/id/urn:aaid:sc:US:40a67033-ed4b-4db6-a8af-01ac7b586ce4?view=published

[2021-09-13 18:29] RaniGub opened #117 "Organização das Labels - AI Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** fazer a organização das Labels
**Para** melhorar o visualização dos elementos dispostos na Board

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais quan

[2021-09-13 19:09] RaniGub commented on #94
Oi @pauloamoreira ficou muito massa, parabéns. Deixei sugestões no documento. Qualquer coisa fala no PV que abrimos um meet. Vamos deixar um comentário com o agrupamento das pendências.

[2021-09-14 14:07] RaniGub opened #118 "AI da opção "Meus Selos""
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI de 'Meus Selos'
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-09-14 14:36] #118 closed, assigned to RaniGub

[2021-09-14 17:35] RaniGub opened #119 "Sincronização dos cards do repositório do Mapa da Saúde com a AI"
## **Objetivo**

**Como** designer
**Quero** atualizar a AI com base nas tarefas do repositório do Mapa da Saúde
**Para** equalizar a jornada mapeada

## **Contexto**

Para que a Fase 1 do mapeamento da AI não entre em conflito com a versão atual do Mapa, serão relacionadas as tarefas de UI/UX executadas no repositório do Mapa da Saúde a partir de 16/08/2021 para que entrem em consonância com o ma

[2021-09-14 18:32] RaniGub commented on #114
Concluído.

[2021-09-14 18:32] #114 closed, assigned to RaniGub

[2021-09-14 19:12] pauloamoreira commented on #115
.imagem realizada durante a III Oficina de Construção da Política Estadual de Assistência Farmacêutica:
![grupo III Oficina de Construção da Política Estadual de Assistência Farmacêutica](https://user-images.githubusercontent.com/79201419/133319565-af24b67d-9f33-46f7-896b-38ac60312ced.jpg)

[2021-09-15 16:54] RaniGub commented on #99
3 pessoas responderam o feedback. A estrutura de custos foi repassada pela Clarissa.

[2021-09-15 16:54] #99 closed, assigned to danielgula, clarissagpeixoto, RaniGub, pauloamoreira

[2021-09-15 16:54] #95 closed, assigned to pauloamoreira

[2021-09-15 17:55] RaniGub opened #120 "Integração das tarefas no WorkSpace da Central de Informações/ZenHub"
## **Objetivo**

**Como** designer da Central de Informações
**Quero** ter a visão das soluções em uma board integrada
**Para** otimizar o gerenciamento das tarefas

## **Contexto**

- A Central de Informações é uma plataforma que disponibiliza informações do SUS, de forma integrada, dinâmica, acessível e colaborativa, com linguagem simples e participativa. É um espaço que atua como agregador de l

[2021-09-15 17:56] #120 closed, assigned to danielgula, RaniGub

[2021-09-16 12:43] RaniGub commented on #94
Em conversa com @pauloamoreira, foi definido que a legenda com os links para visualização dos detalhes das imagens deixariam de apontar para uma Board do Figma e passariam a direcionar para uma imagem em alta resolução (em plataforma a ser definida), considerando a experiência das pessoas usuárias. Também haverá opção deste acesso por QRcode. Acreditamos que o Figma possa ser utilizado em outra op

[2021-09-16 15:01] pauloamoreira opened #121 "Cobertura da Apresentação do FeliciLab no 25º Concurso de Inovação no Setor Público da Enap"
## **Objetivo**

**Como** Como comunicadores do FeliciLab
**Quero** Faremos a cobertura da apresentação do FeliciLab no 25º Concurso de Inovação no Setor Público da Enap
**Para** Coletar depoimentos, produzir registros em foto e vídeo e documentar esse momento para divulgação posterior e para memória do FeliciLab e da ESP.

## **Contexto**

- O FeliciLab, Laboratório de Inovação da Diretoria de In

[2021-09-17 03:36] uira commented on #94
@pauloamoreira Gente que coisa maravilhosa!!! ❤️🚀🌈

[2021-09-17 03:41] uira commented on #94
@RaniGub Podemos criar um album dessas imagens no site do FeliciLab, mas importante ter também a opção de acessar o figma, mas concordo que ela não deve ser a única, e nem a primária

[2021-09-17 12:25] RaniGub commented on #121
@danielgula essa issue deve estar na Board do Publicilab, o @pauloamoreira fará a edição e apontará a contribuição do DesignLab nela.

[2021-09-17 12:52] RaniGub commented on #117
Concluído.

[2021-09-17 12:52] #117 closed, assigned to RaniGub

[2021-09-17 13:08] RaniGub commented on #94
@uira vamos subir as imagens para o Felicilab e testar. Assim que tiver tempo, vou testar uma opção de visualização embedada do Figma no próprio navegador sem a necessidade de login pela plataforma.

[2021-09-17 13:59] RaniGub commented on #94
@uira fiz um teste com o Figma embedado e achei a solução bem adequada. Tanto para mobile quanto para Desktop, pois a pessoa tem a opção de FullScreen e Zoom. Eu particularmente deixaria somente esse modo para não encher de informações na legenda e ter que gerar 2 QRcodes. Se você concordar, já será a opção que ficará disponível na versão atualizada pelo Paulo. Qualquer coisa subimos uma imagem pa

[2021-09-17 16:40] RaniGub commented on #92
A conclusão da CISUS ficará como desdobramento em tarefa futuras.

[2021-09-17 16:40] #92 closed, assigned to danielgula, pauloamoreira

[2021-09-17 16:44] RaniGub commented on #60
@danielgula transferir para Board da CISUS

[2021-09-20 14:52] danielgula commented on #94
@RaniGub @pauloamoreira
Seguem todos os links criados como projetos dentro do site do Felicilab para serem criados os QRcodes. Todos os links foram testados e estão funcionando tanto em resolução desktop como mobile.

https://felicilab.esp.ce.gov.br/project/mandala-divergente/
https://felicilab.esp.ce.gov.br/project/mandala-convergente/
https://felicilab.esp.ce.gov.br/project/arvores-de-problemas-

[2021-09-20 19:07] RaniGub commented on #119
Realizada sincronização com os cards da board 'Mapa da Saúde - Refinamento'. O andamento das tarefas mapeadas deverá ser verificado semanalmente para que não haja dissonância entre a versão da AI e a versão em execução do Mapa. Novas tarefas serão adicionadas à medida que os o escopo dos Épicos sejam desdobrados. Essa verificação deverá acontecer até que a Taxonomia das Soluções Digitais e a propo

[2021-09-21 14:02] pauloamoreira commented on #94
@uira , @Clarisse1983 e @RaniGub segue nova versão do artefato impresso, para validação: https://assets.adobe.com/id/urn:aaid:sc:US:8ea7ba8e-0f20-4251-a0ec-a8abb8f07f69?view=published (existem algumas pendências de conteúdo que serão apresentadas no próximo comentário)

[2021-09-21 14:05] pauloamoreira commented on #94
@uira conforme o comentário [https://github.com/EscolaDeSaudePublica/DesignLab/issues/94#issuecomment-911634506](url) do @RaniGub, é necessário esclarecer quais soluções estarão listadas na revista.

[2021-09-21 14:06] pauloamoreira commented on #94
@Clarisse1983 é importante fazer uma nova revisão textual no arquivo gráfico da revista. o publicilab pode realizar essa tarefa?

[2021-09-21 14:07] pauloamoreira commented on #94
@uira também precisamos saber onde o material será impressa (gráfica rápida ou offset?), e como será feito esse encaminhamento.

[2021-09-21 14:32] RaniGub commented on #94
Você se refere a este comentário certo @pauloamoreira?

[2021-09-21 14:42] pauloamoreira commented on #94
.exatamente, @RaniGub. @uira os slides da apresentação feita pelo washignton (incluídos na revista) não contemplam todas as soluções. por outro lado, é importante definir se a lista de soluções que serão apresentadas na revista contemplarão somente as soluções digitais - já que somente elas foram consideradas durante a oficina - ou se também serão inclusos nessa lista o ResCovid e o Elmo. essa def

[2021-09-21 21:04] pauloamoreira commented on #115
.consolidação dos dados coletados nas árvores de problemas finalizada. resultado pode ser visualizado em: https://drive.google.com/drive/folders/1aZsIfGx_aRin7HzxmMg1vIIuWoNmM0Vn?usp=sharing

[2021-09-21 21:09] pauloamoreira commented on #115
.email para Fernanda França Cabral enviado, com os links para a consolidação dos dados e para o formulário de avaliação das oficinas.

[2021-09-22 03:25] uira commented on #94
@RaniGub concordei. ;)

[2021-09-22 03:28] uira commented on #94
@pauloamoreira Nao precisa limitar nao, vamos generalizar soluções, sempre que possível.

Nesse caso, inclusive, uma das soluções que oferecemos é a realização de oficinas de design ;)

[2021-09-22 12:18] #115 closed, assigned to pauloamoreira

[2021-09-22 12:19] RaniGub commented on #94
@pauloamoreira conversei com a @saracafe e ela pode fazer isso dentro do tempo disponível dela. @uira lhe comunicando.

[2021-09-22 19:03] pauloamoreira opened #122 "Contextualização sobre Ontologia e Taxonomia"
## **Objetivo**

**Como** designer de experiência
**Quero** realizar pesquisa contextual
**Para** subsidiar proposição do epic  [#87 Relacionamento de taxonomia para o Fluxo de Cadastro](https://github.com/escoladesaudepublica/designlab/issues/87)

## **Contexto**

- No contexto do Fluxo de Cadastro, realizar pesquisa para contextualização sobre os conceitos de Ontologia e de Taxonomia, para subsi

[2021-09-23 12:23] pauloamoreira commented on #94
.diagnosticamos que é importante incluir no artefato uma página com o expediente, registrando a gestão da ESP, e uma página com a ficha técnica, com a equipe que trabalhou na oficina. o publicilab irá validar a ficha técnica que iremos produzir. o @danielgula entrará em contato com a ASCOM para solicitar as informações do expediente.

[2021-09-23 12:35] RaniGub commented on #94
@uira estamos aguardando a ASCOM publicar o vídeo (não listado por enquanto) no canal da ESP do Youtube para que a gente possa gerar o QRcode na revista. A revista em si está pronta e já revisada pela @saracafe, falta somente a inserção disso e das informações apontadas pelo @pauloamoreira

[2021-09-23 13:26] RaniGub commented on #94
@clarissagpeixoto verificando o arquivo que você disponibilizou sobre o orçamento da Oficina ainda não sabemos os custos das pessoas envolvidas (horas trabalhadas) no pré e pós-produção, como solicitado pelo @uira . Estamos fechando a revista e precisamos com certa urgência dessa informação.
![Captura de Tela 2021-09-23 às 10 25 03](https://user-images.githubusercontent.com/79097920/134515398-a46

[2021-09-23 13:30] RaniGub commented on #94
Link da planilha https://docs.google.com/spreadsheets/d/13_p2hQJ_oNkE0fdMXkohhWxubFhDdiYcQSiqn5Gkil8/edit?usp=sharing

[2021-09-23 13:54] RaniGub commented on #94
@clarissagpeixoto verificando a planilha e o arquivo de checklist original, faltam alguns itens serem adicionados. Aguardando a sincronia dos itens. Complementando o que o Uirá sugeriu, acho que nos custos das pessoas envolvidas, pode ser dividida em Pré-Produção, Execução e Pós-Produção. O que vc acha?

[2021-09-23 18:45] #119 closed, assigned to RaniGub

[2021-09-23 19:04] RaniGub opened #123 "Sincronização da AI atual do Mapa com o Ambiente de Homologação"
## **Objetivo**

**Como** designer
**Quero** sincronizar as mudanças implementadas no ambiente de homologação do Mapa
**Para** atualizar a versão da AI disponibilizada

## **Contexto**

Considerando a tarefa #119, é preciso que a AI atual do Mapa esteja em sincronia com as implementações realizadas no Ambiente de Homologação. A partir disso, teremos uma versão atualizada, além da possibilidade de

[2021-09-23 19:18] RaniGub opened #124 "Resolução de dúvidas - Momento Stakeholder 1"
## **Objetivo**

**Como** designer
**Quero** resolver as dúvidas sanadas da AI do Mapa da Saúde
**Para** atualizar a versão disponibilizada

## **Contexto**

Após conversa com Uirá, uma série de dúvidas apontadas na V1.0 da AI foram resolvidas. A V1.1 já será apresentada com a resolução desses pontos.

## **Escopo**
- [x] 1 Testar pontos que bloquearam ramificações da V1.0 da AI
- [x] 1 Avaliações

[2021-09-24 02:41] uira commented on #94
@RaniGub Pode deixar o vídeo público, vamos so deixar a divulgação pra depois... Mas deixa aberto pra gente já ir disputando o algoritmo.... inclusive, colocar bastante tag e caprichar na descrição e outros metadados.

[2021-09-24 12:37] RaniGub commented on #94
@danielgula só marcando para ver o detalhe com o pessoal da ASCOM, acho que a Thumb do vídeo no youtube também poderia ser um frame com a marca da Oficina.

[2021-09-24 12:41] clarissagpeixoto commented on #94
@RaniGub eu havia preenchido essa parte, após fazer levantamento da hora aula dos profissionais do mercado, mas o Uirá me informou que iria colocar os valores de acordo com as bolsas dos profissionais que trabalharam no evento.

[2021-09-24 13:23] clarissagpeixoto commented on #94
@RaniGub : https://docs.google.com/spreadsheets/d/13_p2hQJ_oNkE0fdMXkohhWxubFhDdiYcQSiqn5Gkil8/edit#gid=1544367084
 Fiz uma sugestão aqui da pré-produção e vou validar com o Uirá.

[2021-09-24 13:57] clarissagpeixoto commented on #94
Estrutura modelo para construção do arquivo: https://drive.google.com/drive/folders/19ghGyAq_s-z4Eq1hWkxEo3DknAaHN7QJ
Segunda, começarei a redação do projeto.

[2021-09-24 13:59] pauloamoreira commented on #94
@uira e @RaniGub a diagramação da revista está pronta, segue para novos comentários: https://assets.adobe.com/id/urn:aaid:sc:US:500205bc-dfb6-4622-b899-42e37837847e?view=published assim que recebermos o texto do expediente da ASCOM, fecharemos o arquivo para impressão.

[2021-09-24 14:07] danielgula commented on #94
Segue atualização das solicitações de conteúdo para fechar a edição

1. Video no Youtube
- feito contato por email para Ascom
- link: https://youtu.be/DNEwwRgNZbU
- Para deixar o video público: solicitar Publicilab criar um texto com as tags e o Designlab criar uma imagem Thumb

2. Textos para seção "Expediente"
- em contato com a Ascom, a sugestão é falar com alguém da biblioteca e ver se é neces

[2021-09-24 14:23] clarissagpeixoto commented on #94
Nossa! Que revista linda (diagramação, layout e texto) @pauloamoreira

[2021-09-24 15:01] uira commented on #94
@danielgula Expediente ESP:

Superintendente - Marcelo
Diretoria de Educação - Olivia
Diretoria de Desenvolvimento Educacional - Batista
Diretoria de Inovacao e Tecnologias - Alice
Diretoria de Inteligencia - José Xavier
Diretoria Administrativo Financeira - Clara
Diretoria de Pesquisa e Divulgação - Jardson

Coordenador do Laboratório de Inovação - FeliciLab - Uirá Porã

[2021-09-24 15:10] uira commented on #94
@uira Pera. Marcelo orientou a não publicizar essa estrutura ainda. Aguardando ele informar a forma correta

[2021-09-24 15:12] RaniGub commented on #94
Vamos só reservar o espaço para diagramação, para ter uma ideia de como vai ficar. Aguardamos a atualização.

[2021-09-24 16:51] danielgula commented on #97
@drmarcos está acompanhando a Roberta na entrega desse material para repassarmos a Ascom.

[2021-09-24 17:19] RaniGub commented on #94
@danielgula seguem as opções para Thumb do vídeo. Conversando com o @pauloamoreira, foi relatado que a @anapvcv havia colocado na edição, mas a pedido da Ariane (ASCOM) essa Thumb foi retirada. Por favor, alinhar com @uira quais das opções será utilizada.
![capa de vídeo-2](https://user-images.githubusercontent.com/79097920/134715484-b829ca6b-f4c1-4cce-a119-20bf3988d432.png)
![capa de vídeo-3](htt

[2021-09-24 17:43] pauloamoreira commented on #94
@uira e @RaniGub fiz quase todas as alterações solicitadas. só resta agora receber as informações que faltam para finalizar o Expediente. segue link para comentários: https://assets.adobe.com/id/urn:aaid:sc:US:500205bc-dfb6-4622-b899-42e37837847e?view=published

[2021-09-24 18:40] RaniGub commented on #94
Horas de Recursos Humanos:
--PRÉ--
Ranielder 75
Paulo 55
Daniel 12
Sara 8
Ana Paula 4
Gabriela 0
Helen (?)
Clarisse (?)
Uirá (?)
Washington 4

--DURANTE--
Ranielder 24
Paulo 24
Daniel 24
Sara 15
Ana Paula 16
Gabriela 12
Helen 24
Clarisse 24
Uirá 24
Washington 12

--PÓS--
Ranielder 30
Paulo 157
Daniel 20
Sara  8
Ana Paula 20
Gabriela 0
Helen  (?)
Clarisse  (?)
Uirá  (?)
Washington (?)

[2021-09-24 19:51] uira commented on #94
@RaniGub Eu pode colocar 90 horas na pré e 40 na pós

[2021-09-24 19:52] uira commented on #94
@RaniGub Vamos usar a estrutura vigente, é como consta no site https://www.esp.ce.gov.br/institucional/quem-e-quem/

Além desses, vamos adicionar também o expediente do FeliciLab, que você pode pegar atualizado com o @wforte

[2021-09-24 22:06] RaniGub commented on #94
@clarissagpeixoto considerar na PRÉ 12h para Gabriela.

[2021-09-27 12:31] pauloamoreira commented on #94
@uira o layout do artefato impresso foi atualizado com o acréscimo de uma página para contemplar a lista de participantes: https://assets.adobe.com/id/urn:aaid:sc:US:500205bc-dfb6-4622-b899-42e37837847e?view=published . assim que o @danielgula me passar essa lista finalizo essa página. precisamos parear para definir quais campos entram no expediente da ESP e se, além do expediente do FeliciLab, ha

[2021-09-27 12:35] pauloamoreira commented on #94
.já solicitei ao @wforte88 o expediente atualizado do FeliciLab.

[2021-09-27 16:27] RaniGub commented on #97
Tarefa Bloqueada. Aguardando direcionamentos para finalização do Briefing.

[2021-09-27 16:44] RaniGub opened #125 "Apreciação do Conselho Editorial da ESP"
## **Objetivo**

**Como** designer
**Quero** solicitar apreciação do Conselho Editorial da ESP
**Para** validação do Artefato Impresso e apoio na geração de ISSN e Ficha Catalográfica

## **Contexto**

Após reunião do Grupo Tático 27/09/2021, ficou acordado que a versão definitiva do Artefato Impresso passará pela apreciação do Conselho Editorial da ESP. Dispondo também de ISSN e Ficha Catalográfi

[2021-09-27 17:28] RaniGub commented on #77
Enviado e-mail para ASCOM dia 27/09/2021, 14:20, formalizando solicitação de avaliação técnica das propostas.

[2021-09-27 17:55] RaniGub commented on #118
AI de 'Meus Selos' atualizada.

[2021-09-27 19:42] RaniGub opened #126 "Estruturar Selos do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** estruturar os Selos do Mapa da Saúde
**Para** contribuir na definição da Jornada das pessoas usuárias

## **Contexto**

Durante a estruturação da AI do Mapa da Saúde, surgiu a necessidade de elaborar as Regras dos Selos do Mapa. A ação visa contribuir para definição da Jornada de criação, aplicação e gerenciamento dos Selos pelas pessoas usuárias.

## *

[2021-09-28 12:15] matheuscpl opened #128 "Criação de tela indicativa de ultrapassagem do tempo limite"
**Eu como** usuário do qualiquiz
**gostaria de** receber um feedback de finalização do teste por tempo
**para que** possa estar ciente do status do meu teste

### Contexto
Desenvolver tela indicando ao usuário que o tempo para a realização do testes está finalizado

https://www.figma.com/file/JR5T67TVb8gDascGwM0kwp/MVP-1.0-beta3?node-id=0%3A1

[2021-09-28 12:50] uira commented on #97
@RaniGub Qual o direcionamento necessário?

[2021-09-28 12:53] RaniGub commented on #97
Oi @uira, dei Quote no direcionamento aguardado.

[2021-09-28 13:41] danielgula commented on #94
@RaniGub Ariane respondeu e vai utilizar a imagem com as logos.

[2021-09-28 14:13] danielgula commented on #94
A lista foi passada para o @pauloamoreira com todos os participantes e os respectivos dias que compareceram.

[2021-09-28 14:44] clarissagpeixoto commented on #94
Planilha atualizada, pessoal. Na segunda aba, fiz uma tabela com as horas trabalhadas. @uira coloquei o valor da hora, levando em conta o valor da bolsa maior. R$ 9.000. Vc quer que eu faça o cálculo de acordo com a bolsa de cada um?

[2021-09-28 17:24] RaniGub commented on #94
Foi criada a tarefa 84 no repositório do sus.ce sobre a demanda do Uirá para suprimir o "Project" das URLs. O @pauloamoreira também comentou na mesma tarefa sobre a exibição de sus.ce.gov.br/felicilab nos links ao invés de felicilab.esp.ce.gov.br (que aparece automaticamente quando você digite o endereço com sus.ce) De qualquer forma, no artefato impresso, os links já podem ser modificados para o

[2021-09-28 17:28] RaniGub commented on #94
@danielgula a tarefa #84 do repositório do sus.ce foi atualizada com as demandas no escopo.

[2021-09-28 18:12] danielgula commented on #142
@RaniGub @pauloamoreira Vimos esse card e acreditamos que seja papel do Designlab dar um parecer sobre a identidade visual do iSUS

[2021-09-28 18:14] pauloamoreira commented on #94
.seguindo orientação de @uira e da diretora Alice Pequeno, entrei em contato com a Carminha para saber o que seria necessário para geração de ISBN e Ficha Catalográfica para o artefato impresso. ela me passou o email do Conselho Editorial da ESP (conselheeditorial@esp.ce.gov.br ) então hoje, 28/09, às 15h06, enviei mensagem solicitando orientações para viabilizar essa demanda.

[2021-09-28 19:31] danielgula opened #129 "Criar Site do Cuidar Melhor"

[2021-09-29 15:36] pauloamoreira commented on #94
.versão atualizada do artefato.
https://assets.adobe.com/id/urn:aaid:sc:US:6b38fa52-69b4-459a-9305-1856ea8dbcca?view=published

para imprimir, ainda faltam:
1) o nome da nova pessoa que está à frente da Coordenadoria de Políticas de Gestão do Cuidado da Sepos
2) orientações do conselho editorial sobre a possibilidade de inclusão de ficha catalográfica e ISBN - estamos aguardando retorno do conselh

[2021-09-29 15:48] RaniGub commented on #94
Paulo, lembrando que a primeira tiragem (10 cópias) não é necessário resposta do Conselho.

[2021-09-29 16:52] pauloamoreira commented on #94
.é verdade, @RaniGub . então precisamos apenas solucionar as outras demandas pra produzir a versão impressa. lembrei aqui que, havendo duas versões (uma impressa e uma digital), deveremos ter um ISBN para cada uma.

[2021-09-29 17:04] pauloamoreira commented on #94
@uira precisamos retomar a conversa com a malbia rolim, para sabermos o nome da pessoa que está à frente da Coordenadoria de Políticas de Gestão do Cuidado da Sepos:
![malbia](https://user-images.githubusercontent.com/79201419/135315698-c55140e0-f9d3-4734-940f-a5872292f694.jpg)

[2021-09-29 17:14] pauloamoreira commented on #94
.este email foi reenviado hoje, dia 29/09, as 12h37, pois o endereço eletrônico estava errado. o endereço correto é: conselhoeditorial@esp.ce.gov.br

[2021-09-30 19:29] pauloamoreira opened #130 "II Oficina de Construção da Política Estadual de Saúde Mental Álcool e outras Drogas"
**Objetivo**
Como designer
Quero atender a solicitação da COPOM e facilitar a aplicação do instrumento da Árvore de Problemas em Oficina de Construção da Política Estadual de Saúde Mental Álcool e outras Drogas

**Contexto**
A Coordenadoria de Saúde Mental, Álcool e outras Drogas (COPOM), através da Célula da Rede de Atenção Psicossocial (CERAP), solicitou a ESP-CE conforme memorando 045/2021, con

[2021-09-30 19:33] pauloamoreira opened #131 "III Oficina de Construção da Política Estadual de Saúde Mental Álcool e outras Drogas"
**Objetivo**
Como designer
Quero atender a solicitação da COPOM e facilitar a aplicação do instrumento da Árvore de Problemas em Oficina de Construção da Política Estadual de Saúde Mental Álcool e outras Drogas

**Contexto**
A Coordenadoria de Saúde Mental, Álcool e outras Drogas (COPOM), através da Célula da Rede de Atenção Psicossocial (CERAP), solicitou a ESP-CE conforme memorando 045/2021, con

[2021-10-01 14:04] pauloamoreira commented on #94
.atualização sobre as pendências dessa tarefa:

- [x] nome do Coordenador da Coordenadoria de Políticas de Gestão do Cuidado da Sepos
- [x] retorno do conselho editorial sobre ficha catalográfica e ISBN.
- [ ] link da página onde será publicado o pdf.
- [x] definição do @uira sobre qual licença creative commons será inserida.

.desta forma, @danielgula estamos apenas aguardando o link para a págin

[2021-10-01 15:11] RaniGub commented on #112
De fato, novos testes foram realizados na versão do Mapa disponível ao público e os Meus Recursos não podem ser acessados em nenhum dos tipos de avaliações disponíveis. Mesmo o prazo do recurso estando válido na inscrição, aparece a mensagem: Fora do período de recurso. Esse problema estará no relatório de bugs encontrados. A tarefa será fechada e um novo experimento será realizado no ambiente de

[2021-10-01 15:12] #112 closed, assigned to RaniGub

[2021-10-01 15:14] RaniGub commented on #124
Os experimentos dessa tarefa serão novamente realizados no mapeamento do ambiente de homologação.

[2021-10-01 15:14] #124 closed, assigned to RaniGub

[2021-10-01 17:08] RaniGub opened #132 "AI do Fluxo de Cadastro Integrado"
## **Objetivo**

**Como** designer
**Quero** mapear taxonomias
**Para** nortear os campos do Fluxo de Cadastro

## **Contexto**

É necessário visualizar como se dá a experiência de quem faz o cadastro de perfil vindo pelo iSUS e pelo Mapa da Saúde através do idSaúde. Após isso, uma proposta de cadastro integrada será traçada, considerando a taxonomia das soluções envolvidas, assim como os bancos d

[2021-10-01 17:39] RaniGub opened #133 "Relatório de Bugs e Sugestões Mapa da Saúde versão pública (AI V1.1)"
## **Objetivo**

**Como** designer
**Quero** gerar um relatório de Bugs e Sugestões encontrados
**Para** que a equipe de Dev possa implementar soluções

## **Contexto**

Durante a estruturação da AI V1.1 do Mapa, foram encontrados uma série de Bugs e oportunidades de melhorias. Esses apontamentos estão presente na Board relacionada, porém precisam ser consolidadas em documento para facilitar as co

[2021-10-01 17:46] pauloamoreira commented on #125
.em resposta ao email enviado para o conselho editorial no dia 29 de setembro, as 12h37, o conselho nos orientou a solicitar por email a ficha catalográfica e o ISBN para as duas versões (impressa e digital). somente os ISBN demandam custos adicionais (R$ 20,00 cada). para fazer essa solicitação, no entanto, se faz necessário finalizar o arquivo, posto que nenhuma alteração será possível após a em

[2021-10-01 17:50] RaniGub opened #134 "AI Mapa da Saúde (V1.2)"
## **Objetivo**

**Como** designer
**Quero** fazer o levantamento da AI do Mapa da Saúde
**Para** nortear uma nova experiência para pessoa usuária

## **Contexto**

Considerando o relacionamento de taxonomia do Fluxo de Cadastro (#87), faz-se necessário o levantamento da atual AI do Mapa da Saúde. As informações terão relevância tanto para o relacionamento dos campos nas diversas soluções digitais

[2021-10-01 17:52] #116 closed, assigned to uira, vicmagpac, wforte88, RaniGub

[2021-10-01 17:57] RaniGub commented on #94
@uira falta somente uma pendência para gente fechar. Além disso, para a próxima tiragem/disponibilização on-line, o @pauloamoreira precisa saber a quem deve se reportar para o pagamento das duas taxas de R$20 para viabilização do ISBN da revista (impressa e on-line)

[2021-10-04 13:10] #78 closed, assigned to RaniGub

[2021-10-05 12:49] RaniGub opened #135 "Jornada de inscrição em oportunidades no Mapa pelo iSUS (Integração)."
## **Objetivo**

**Como** designer
**Quero** propor uma jornada de inscrição de oportunidades pelo iSUS
**Para** permitir que a pessoa usuária se inscreve em oportunidades que solicitam dados simples

## **Contexto**

Considerando os dados básicos solicitados à pessoa usuária no cadastro pelo iSUS, é possível vincular as oportunidades que usam somente desses campos para que uma inscrição rápida se

[2021-10-05 13:37] RaniGub opened #136 "Jornada de Pessoas ESP | Bolsistas"
## **Objetivo**

**Como** gestor
**Quero** visualizar as possíveis jornadas de bolsistas na ESP
**Para** permitir identificar fragilidades no Fluxo e oportunidade de melhorias

## **Contexto**

Visto o processo de publicação de edital à formação e avaliação de bolsistas que integram ou virão a fazer parte das soluções da ESP, é preciso visualizar como se dá esse fluxo e identificar o que pode ser

[2021-10-05 14:03] RaniGub opened #137 "Taxonomia | Relação de Campos das Soluções Digitais"
## **Objetivo**

**Como** designer
**Quero** relacionar os campos de dados das soluções digitais
**Para** propor uma taxonomia única

## **Contexto**

Visto a relação de diferentes taxonomias informadas pelas soluções digitais e os bancos onde alguns dessas dados serão extraídos, faz-se necessário o relacionamento dos campos para proposta do Fluxo de Cadastro Integrado e adequação da taxonomia ent

[2021-10-05 14:28] RaniGub opened #138 "Consolidação de informações AI Mapa | Reunião Hacklab 1"
## **Objetivo**

**Como** designer
**Quero** atualizar os pontos discutidos acerca da AI V1.1 com o HackLab e demais Stakeholders
**Para** dispor gradualmente de uma AI consolidada

## **Contexto**

Visto reunião com Hacklab e Stakeholders em 01/10/2021, é preciso atualizar alguns pontos esclarecidos na AI V1.1 do Mapa.

## **Escopo**
- [x] Solucionar apontamentos

## Observações
https://drive.goo

[2021-10-05 16:19] RaniGub commented on #77
Atualização: Sem retorno da ASCOM até o momento.

[2021-10-05 17:25] pauloamoreira commented on #94
@uira segue versão com todos os aperfeiçoamentos solicitados: [https://assets.adobe.com/id/urn:aaid:sc:US:455892c9-d134-43f5-ab5f-220c77c0f623?view=published](url) para sua validação. obs1: ainda não temos o link do QrCode das capas (que apontará para o pdf no site) - aguardamos o @danielgula. obs2: quando tivermos a versão validada, iremos enviar para o Conselho Editorial, para confecção da ficha

[2021-10-05 20:27] danielgula commented on #94
Atualizando sobre os links: o Jacson Passold do time da infra está trabalhando na nova estrutura dos links e vai me retornar essa semana com testes.

[2021-10-06 14:53] RaniGub opened #139 "Avaliação Heurística | Site Programa Cuidar Melhor"
## **Objetivo**

**Como** designer
**Quero** realizar Avaliação Heurística do site www.saude.ce.gov.br/cuidarmelhor/
**Para** argumentar o planejamento para mudanças

## **Contexto**

O site Cuidar Melhor está com uma série de potenciais erros de usabilidade que podem impedir que a pessoa usuária acesse determinadas informações ou visualize-as de maneira não desejada. Além disso, são passíveis de

[2021-10-06 18:43] #141 closed

[2021-10-06 18:44] janeteamaral commented on #141
Transferido para DESIGN

[2021-10-07 12:08] #139 closed, assigned to RaniGub

[2021-10-07 12:42] RaniGub commented on #77
Resposta ASCOM:
![Captura de Tela 2021-10-07 às 09 41 27](https://user-images.githubusercontent.com/79097920/136385991-497a542a-4e8e-4323-ba6c-667740769311.png)

[2021-10-07 12:47] RaniGub commented on #142
@danielgula temos a previsão no futuro que todas as nossas soluções digitais sejam integradas em uma única linguagem visual regida pelo Design System e diretrizes do Manual de Identidade Visual. Isso é entendido pelo time da Gestão como uma iniciativa e o iSus já compõe o escopo.

[2021-10-07 12:48] #142 closed, assigned to nobody

[2021-10-07 16:53] pauloamoreira commented on #136
.reunião com @MayaraMonte marcada para o dia 08/10, as 14h, para tratar sobre "Integração do Bolsista/Onboarding" e "formação e avaliação".

[2021-10-07 19:54] pauloamoreira commented on #136
.reunião com @helenhilario  marcada para o dia 15/10, as 10h, para tratar sobre "Criação de Edital",
 "Efetivação da Bolsa" e "Contratação/Outorga".

[2021-10-07 20:00] pauloamoreira commented on #115
relatório com sistematização dos resultados: [](https://docs.google.com/document/d/1dGjDvWNkCUJFu3flVrd5yQMx--xvnfsFpUyWwkmaJAU/edit)

[2021-10-07 20:01] pauloamoreira commented on #115
Relatório com sistematização dos resultados: [https://docs.google.com/document/d/1dGjDvWNkCUJFu3flVrd5yQMx--xvnfsFpUyWwkmaJAU/edit](url)

[2021-10-08 18:48] #138 closed, assigned to RaniGub

[2021-10-13 11:47] uira commented on #142
humm... isso aqui fiquei na dúvida.

É a visão correta, mas ideal. Não sei se será possível/viável dessa forma.

Minha previsão é que talvez precisemos adiantar alguns produtos, antes mesmo do Design System

[2021-10-13 11:49] uira commented on #77
@RaniGub Isso aqui, havíamos combinado de definir um prazo e se ASCOM não pudesse cumprir, avancariamos sem eles.

Nesse caso, chegamos na metade de outubro, e ainda não temos um prazo.

Por favor, Rani, liga pra Ariane, explica que se não puder ser feito até sexta, faremos sem eles.

[2021-10-13 19:56] RaniGub commented on #94
@uira Como conversado na daily de hoje (13/10/2021), a mudança de endereço que o navegador apresenta foi realizada. @danielgula ficou de realizar testes para gerar os novos links do conteúdo, incluindo o link da capa.

[2021-10-13 20:21] RaniGub commented on #94
@pauloamoreira acabei de realizar um teste clicando em links aleatórios, suprima o 'project' em todos os nossos links que vai funcionar, são poucos que aparecem, só valide antes. De qualquer forma, o endereço na barra de navegação continua aparecendo felicilab.esp.ce.gov.br/ ao invés de sus.ce.gov.br/felicilab/, mas no artefato exibimos sus.ce.gov.br/felicilab/ Só fica pendente o link do pdf da ca

[2021-10-14 15:40] danielgula commented on #94
Pessoal, testes feitos. Segue lista final dos links para o pdf.

https://sus.ce.gov.br/felicilab/mandala-divergente/
https://sus.ce.gov.br/felicilab/mandala-convergente/
https://sus.ce.gov.br/felicilab/arvores-de-problemas-coordenadoria-de-politicas-intersetoriais/
https://sus.ce.gov.br/felicilab/petalas-da-mandala-convergente-coordenadoria-de-assistencia-farmaceutica/
https://sus.ce.gov.br/felici

[2021-10-15 04:14] RaniGub commented on #94
@danielgula os links já estão dessa forma no pdf. O que precisamos é o link da Landing Page para o @pauloamoreira gerar o QR code da capa, fechar  o arquivo e tratar da impressão. Enquanto ele cuida do processo você vai definindo a LP, precisamos só do caminho.

[2021-10-15 12:13] pauloamoreira commented on #122
.segue link para dados consolidados: [https://docs.google.com/document/d/193l_zOLOoXql8cpl8TwyJjAANxex_Yqxu0okCNhPh2o/edit?usp=sharing](url)

[2021-10-15 12:13] #122 closed, assigned to pauloamoreira

[2021-10-15 14:09] RaniGub commented on #133
Tarefa concluída.
https://docs.google.com/document/d/1lKg_tqZgx2axraNn3ODYfyzWTC2G9A2u1isDHDIj8Do/edit?usp=sharing
@uira @victorMagalhaesPacheco @thaistoscano

[2021-10-15 14:09] #133 closed, assigned to RaniGub

[2021-10-15 17:33] RaniGub commented on #94
@pauloamoreira segue link enviado pelo Daniel para gerar o QRCode da capa. Agora é falar com a Flavianne sobre o encaminhamento das cópias.

https://sus.ce.gov.br/felicilab/i-oficina-design-servicos/

[2021-10-15 17:59] pauloamoreira commented on #94
@RaniGub enviei mensagem para o telegram da flavianne soares, para saber os trâmites para enviar o material para impressão. estou aguardando retorno.

[2021-10-15 18:04] uira commented on #94
@RaniGub Ow gente... melhorar o ux writing nessa url aí...

deixa  /oficina-design-de-servicos/

[2021-10-15 18:38] pauloamoreira commented on #94
@uira agora que temos o qrcode da capa preciso saber:
1-  devo esperar o retorno do Conselho Editorial com a ficha catalográfica e os números ISBN (International Standard Book Number) da versão digital e da versão impressa para encaminhar para impressão? lembro de você ter decidido que seria melhor ter essas informações, confere? destaco que os ISBNs possibilitam a localização e identificação do m

[2021-10-15 19:38] danielgula commented on #94
Página criada já com o conteúdo do novo site formatado pelo @wforte88 e que será adequado para o artefato na semana que vem. Foi criado o card no sus.ce sobre essa demanda.

https://sus.ce.gov.br/felicilab/oficina-design-de-servicos/

[2021-10-16 17:47] pauloamoreira opened #143 "@uira agora que temos o qrcode da capa preciso saber:"
@uira agora que temos o qrcode da capa preciso saber:
1-  devo esperar o retorno do Conselho Editorial com a ficha catalográfica e os números ISBN (International Standard Book Number) da versão digital e da versão impressa para encaminhar para impressão? lembro de você ter decidido que seria melhor ter essas informações, confere? destaco que os ISBNs possibilitam a localização e identificação do m

[2021-10-16 17:48] pauloamoreira commented on #143
issue criada acidentalmente.

[2021-10-16 17:48] #143 closed, assigned to nobody

[2021-10-16 17:52] pauloamoreira commented on #94
.arquivo final, aguardando validação para encaminhar para impressão: [versão final, com QRCode nas capas.
https://assets.adobe.com/id/urn:aaid:sc:US:455892c9-d134-43f5-ab5f-220c77c0f623?view=published](url) aguardamos também as respostas para as questões:
_@uira agora que temos o qrcode da capa preciso saber:
1- devo esperar o retorno do Conselho Editorial com a ficha catalográfica e os números IS

[2021-10-17 00:51] uira commented on #94
@pauloamoreira Não precisa esperar o ISBN não.

Vamos fechar o arquivo e encaminhar a impressão de 15 cópias.

Precisa pegar com a Flavi as instruções para solicitar a impressão, @RaniGub

[2021-10-18 17:02] pauloamoreira commented on #94
.material - com ficha catalográfica (mas sem os ISBNs) - enviado por email para a diretoria de inovação, com solicitação de impressão, hoje, 18/10, as 12h45.

[2021-10-18 18:08] RaniGub opened #144 "Taxonomia | Identificar a relacionar dados dos campos selecionáveis"
## **Objetivo**

**Como** designer
**Quero** identificar quais serão as opções selecionáveis dos campos do Fluxo de Cadastro identificando as respectivas fontes
**Para** propor uma taxonomia única

## **Contexto**

Visto a relação de diferentes taxonomias informadas pelas soluções digitais e os bancos onde alguns desses dados serão extraídos, faz-se necessário o identificação e relação das fontes

[2021-10-18 18:09] RaniGub commented on #137
Concluído.

[2021-10-18 18:09] #137 closed, assigned to RaniGub

[2021-10-18 18:19] ClarisCaval commented on #71
@danielgula, bora conversar sobre isso aqui?

[2021-10-18 18:29] RaniGub opened #145 "Relatório de direcionamento para os indicadores da Força de Trabalho | Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** desenvolver um relatório
**Para** direcionar a apresentação dos indicadores no Mapa da Saúde

## **Contexto**
Para responder questões da Superintendência relacionadas à Análise da Força de Trabalho, foi realizada uma reunião com representantes do DesignLab, DataLab e DevLab para nortear a tomada de decisão sobre os indicadores que serão apresentados na

[2021-10-19 11:52] #88 closed, assigned to RaniGub

[2021-10-19 12:20] pauloamoreira commented on #94
@danielgula é necessário finalizar a landpage que hospedará o pdf da revista, que compartilhei com você ontem, 18/10, as 14h (ATUALIZAÇÃO: nova versão enviada (com ISBNs) hoje, 19/10, as 10h52).  qualquer dúvida entre em contato.

[2021-10-19 13:56] pauloamoreira commented on #94
.com a chegado dos ISBNs (para versão impressa e para versão digital), enviei uma nova versão atualizada do artefato para impressão para a diretoria de inovação (via email), já que a flavianne me apontou que o material ainda não havia sido impresso; bem como para o telegram do @danielgula nova versão do arquivo pdf para web, para publicação na landpage.

[2021-10-19 14:36] pauloamoreira commented on #136
.reunião marcada para dia 20/10, no período da tarde, com helen hilário, para refinar e validar o desenho inicial produzido a partir das primeiras informações fornecidas.

[2021-10-19 19:11] RaniGub commented on #145
Relatório gerado https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit?usp=sharing

[2021-10-19 19:11] #145 closed, assigned to RaniGub

[2021-10-19 19:32] RaniGub opened #146 "Fluxo para solicitação de demandas de Design ao DIT/ESP-CE"
## **Objetivo**

**Como** gestor
**Quero** estruturar o fluxo de solicitação de demandas de Design ao DIT/ESP-CE
**Para** organizar as solicitações de apoio

## **Contexto**

Considerando o crescente índice de solicitação de demandas de Design ao DIT/ESP-CE, é preciso que seja estabelecido um fluxo formal para tais ações. Além disso, a estrutura servirá como um norteador para discutirmos uma propo

[2021-10-19 19:54] pauloamoreira opened #147 "Fluxo das Pessoas/Bolsistas ESP - da Criação do Edital à Outorga"
## **Objetivo**

**Como** gestor
**Quero** visualizar as possíveis jornadas de bolsistas na ESP
**Para** permitir identificar fragilidades no Fluxo e oportunidade de melhorias

## **Contexto**

Visto o processo de publicação de edital à formação e avaliação de bolsistas que integram ou virão a fazer parte das soluções da ESP, é preciso visualizar como se dá esse fluxo e identificar o que pode ser

[2021-10-19 19:58] pauloamoreira opened #148 "Identificar Jornada da Pessoa / ESP Bolsista - Onboarding"
## **Objetivo**

**Como** gestor
**Quero** visualizar as possíveis jornadas de bolsistas na ESP
**Para** permitir identificar fragilidades no Fluxo e oportunidade de melhorias

## **Contexto**

Visto o processo de publicação de edital à formação e avaliação de bolsistas que integram ou virão a fazer parte das soluções da ESP, é preciso visualizar como se dá esse fluxo e identificar o que pode ser

[2021-10-19 20:13] pauloamoreira commented on #136
.reunião marcada para dia 20/10, no período da manhã, com @MayaraMonte , para refinar e validar o desenho inicial produzido a partir das primeiras informações fornecidas.

[2021-10-20 12:02] #125 closed, assigned to pauloamoreira

[2021-10-20 12:50] pauloamoreira commented on #130
![oficina_SM_13out2021](https://user-images.githubusercontent.com/79201419/138096087-35e8aa3f-eb7a-4710-a6fa-ef4dc1c31ad7.jpg)

[2021-10-20 12:52] pauloamoreira commented on #130
.como a atividade teve atraso no início (estava programada para ser iniciada as 9h e iniciou as 10h15), em decorrência de fatores externos ao DesignLab, o grupo decidiu investir o tempo remanescente apenas na primeira palavra chave. o resultado final (que será validado no início da III oficina) pode ser visualizado nessa imagem
![SaudeMental_ArvoreDeProblemas_Gestao-para-aprovacao](https://user-im

[2021-10-20 12:53] #130 closed, assigned to pauloamoreira

[2021-10-20 17:40] pauloamoreira commented on #147
.reunião marcada para dia 20/10, no período da tarde, com @helenhilario, para refinar e validar a board do processo da Criação do Edital à Outorga, foi reagendada para 21/10, as 8h, devido a mudanças na agenda da Helen.

[2021-10-20 17:45] pauloamoreira commented on #148
.reunião marcada para dia 20/10, no período da manhã, com @MayaraMonte , para refinar e validar a board do processo de onbording, foi reagendada para 21/10, as 11h, devido a mudanças na agenda da Mayara.

[2021-10-21 15:41] pauloamoreira opened #149 "Desenvolvimento de Declaração de Participação em Oficina de Design de Serviços"
## **Objetivo**

**Como** colaborador na realização da Oficina de Design de Serviços
**Quero** descobrir qual o trâmite a seguir para obter da Escola de Saúde Pública do Ceará uma declaração de participação na Oficina de Design de Serviços.
**Para** comprovar a participação nessa atividade essa atividade, para fins de currículo do participante.

## **Contexto**

- Diversas pessoas colaboraram e co

[2021-10-21 17:30] danielgula commented on #94
Prezados. A página está com o design pronto e dentro do novo padrão de página. É importante solicitar agora uma narrativa para o mesmo. Confiram:
https://sus.ce.gov.br/felicilab/oficina-design-de-servicos/

[2021-10-21 17:55] RaniGub commented on #94
Olá @danielgula, ficou muito bom, parabéns. Vamos verificar uns pontos:
1- Não tenho certeza se necessita de subtítulo, acho que poderia ser suprimido temporariamente, acredito que a data caia melhor no resumo;
2- @uira vc acha necessário os links do lado do resumo?
3- O botão de baixar o .pdf ainda não funciona;
4- A foto do topo não condiz com o contexto da Oficina, @pauloamoreira vamos ver noss

[2021-10-21 18:20] RaniGub commented on #94
@danielgula outra coisa, tipo um 7.1, as páginas devem manter a identidade entre os cabeçalhos agora (Landing e de Material Extra). Ia pedir pra vc deixar as dos Materiais Extras mais próximas da principal, posso participar do pareamento seu com o Paulo pra ver isso. Ai nas seções dos Materiais Extras, colocaria tipo "Ir para home", porque a pessoa pode chegar no material pelo caminho do QRCode da

[2021-10-22 12:39] RaniGub commented on #148
@pauloamoreira embora tenhamos conversado ontem sobre fragilidades de avaliação/qualificação, acho importante ela estar presente no Escopo, adicionei aqui.

[2021-10-22 13:03] RaniGub opened #150 "Criar perfil de seleção | UI/UX Designer"
## **Objetivo**

**Como** gestor
**Quero** estruturar escopo de perfil desejável para UI/UX designer
**Para** divulgar vaga de seleção

## **Contexto**

Considerando vaga de terceirizado disponível para UI/UX, é preciso estruturar o Escopo desejável para o profissional da área.

## **Escopo**
- [x] Competências
- [x] Habilidades
- [x] Experiência
- [x] Informações complementares

## Observações
ht

[2021-10-22 13:28] RaniGub commented on #146
Escopo alterado.

[2021-10-22 13:33] RaniGub opened #151 "Estruturar fluxo experimental para solicitação de demandas de Design ao DIT/ESP-CE"
## **Objetivo**

**Como** pessoa usuária
**Quero** solicitar demandas de Design para o DIT/ESP-CE
**Para** atender uma determinada necessidade de Design

## **Contexto**

Considerando o crescente índice de solicitação de demandas de Design ao DIT/ESP-CE, é preciso que seja estabelecido um fluxo para tais ações.

Stakeholder: Washington

## **Escopo**
- [ ] 1. Estruturar fluxo experimental

## Obse

[2021-10-22 13:55] pauloamoreira commented on #94
@danielgula segue links para materiais adicionais solicitados: 1 - pasta com opção de imagem para imagem de destaque (https://drive.google.com/file/d/1G_DkA620M8nezWFJ08ZhpWNonnmHr6DG/view?usp=sharing); textos solicitados: https://docs.google.com/document/d/1vtWC0mYMoi-4dMWMKw1U1CApgj-2P4f5f-7f1gZWXLs/edit?usp=sharing)

[2021-10-22 16:36] pauloamoreira commented on #149
@uira e @RaniGub segue, para aprovação, link para pasta com dois modelos de declaração para as pessoas que colaboraram na oficina. um para os facilitadores e outro para os participantes: https://drive.google.com/drive/folders/1_tN3FeKlxEJWvgmBV2Eaik5HW7Nyv1UC?usp=sharing

[2021-10-22 17:53] RaniGub commented on #148
Pareamento realizado. @pauloamoreira vamos marcar um momento com o @uira para finalizarmos o card.

[2021-10-22 17:53] RaniGub commented on #147
Pareamento realizado. @pauloamoreira vamos marcar um momento com o @uira para finalizarmos o card.

[2021-10-22 18:11] pauloamoreira commented on #94
@danielgula faltou acrescentar na página do artefato o thumb e link para o vídeo de depoimentos. também peço para trocar a imagem de destaque por esse novo arquivo (no anterior havia um "ruído" na imagem que eu consertei nessa): [https://drive.google.com/file/d/1SHTuGmJQlW9dIz16P2Fyq_RNiBEOWpPp/view?usp=sharing](url)

[2021-10-22 18:14] RaniGub commented on #94
@danielgula coloque o botão para visualização de mais informações sobre a oficina (no material extra) acima do Figma, considere a quebra da página das resoluções mobile. Falei com o Paulo agora sobre o topo das páginas, ele pode lhe passar mais detalhes.

[2021-10-22 19:16] danielgula commented on #94
Amigos, vamos dar uma conferida final nas páginas. Acredito que tudo está 100% atendido. Está faltando fazer apenas os ajustes dos elementos no mobile. @RaniGub , sobre sua sugestão, tenho duas ponderações: para as páginas extras, coloquei o mínimo de elementos para não gerar riscos na visualização mobile. Contudo eu coloquei as mesmas informações de cabeçalho. Acredito que assim fica bom. Sobre o

[2021-10-22 20:02] RaniGub commented on #94
@danielgula acho que o cabeçalho é aquilo mesmo. Sobre o nome do botão, tudo bem, pode ser sua sugestão. Sobre a posição do botão, deixe com está, visualizamos os possíveis cenários com testes depois. A visualização da home tá quebrando.
![WhatsApp Image 2021-10-22 at 16 49 44](https://user-images.githubusercontent.com/79097920/138516003-be7fa7e8-89fc-4aeb-bdfe-999153192021.jpeg)

[2021-10-25 12:22] #150 closed, assigned to RaniGub

[2021-10-25 13:53] danielgula commented on #94
@RaniGub @pauloamoreira alterações realizadas e testes desktop e mobile efetuados. Páginas criadas. Segue link:

https://sus.ce.gov.br/felicilab/oficina-design-de-servicos/

[2021-10-25 14:19] RaniGub commented on #149
Em conversa com o Nicolas, essa tarefa já está em tramitação na Board do Adm e com os indicativos necessários. Será encerrada.

[2021-10-25 14:19] #149 closed, assigned to pauloamoreira

[2021-10-26 13:03] #131 closed, assigned to pauloamoreira

[2021-10-26 14:20] RaniGub opened #152 "Desenvolver o Projeto 'Oficina de Design de Serviços'"
## **Objetivo**

**Como** gestor
**Quero** desenvolver o Projeto da Oficina de Design de Serviços Públicos
**Para** ser aplicada aos setores da ESP

## **Contexto**

Considerando os resultados positivos obtidos na Oficina de Design de Serviços Públicos realizada em parceria com a Sepos, serão realizadas novas Oficinas de Design de Serviços Públicos, desta vez, voltadas para os setores da ESP, de m

[2021-10-26 15:04] RaniGub commented on #94
@danielgula pontos após revisão:
1- Como a posição do vídeo mudou, alterar o texto do Material Extra para: Os links a seguir dão acesso aos materiais resultantes do trabalho desenvolvido na Oficina de Design de Serviços Públicos;
2- Seria interessante criar um registro no Blog que cite que a Landing Page está disponível com os resultados da Oficina, assim o mecanismo de busca apresenta uma entrada

[2021-10-27 03:35] RaniGub opened #153 "Apoiar a revisão de Arquitetura do Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** realizar revisões no fluxo de desenvolvimento do site do Felicilab
**Para** colaborar com o lançamento

## **Contexto**
Frente ao lançamento do site do Felicilab, foi solicitado que o DesignLab contribua com o fluxo de desenvolvimento.

## **Escopo**

- [ ] Revisar Arquitetura da Informação (Card # 109 da Central de Informações

##**Observações**
Arquit

[2021-10-27 03:40] RaniGub opened #154 "Criação e revisão de conteúdo do Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** apoiar a criação e revisão de conteúdo das seções
**Para** colaborar com o lançamento

## **Contexto**
Frente ao lançamento do site do Felicilab, foi solicitado que o DesignLab contribua com o fluxo de desenvolvimento.

## **Escopo**

- [ ] Tópico 1
...

## **Outras Informações**
Arquitetura de Informação (em processo de desenvolvimento): https://www.fi

[2021-10-27 03:43] RaniGub commented on #147
Pareamento do card #147 e #148 com Uirá dia 03/11, 10h.

[2021-10-27 04:03] RaniGub opened #155 "Testes de usabilidade do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade no Mapa da Saúde
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência da pessoa usuária e gerar relatórios de sugestões de melhorias.

## **Escopo**

- [ ]

[2021-10-27 04:16] RaniGub commented on #153
@danielgula você pode postar aqui o link da Inception e da Arquitetura do Site do Felicilab? Vou precisar atender outras demandas e alinhar com o @pauloamoreira amanhã para lhe apoiar nesse sentido.

[2021-10-27 14:59] RaniGub opened #156 "Apoiar a criação das Jornadas das Pessoas Usuárias do Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** criar a Jornada das Pessoas Usuárias do site Felicilab
**Para** nortear o processo de design

## **Contexto**
Considerando as fragilidades encontradas no atual mapeamento da Jornada, foi definido que é necessário a revisão das Jornadas.

## **Escopo**

- [ ] Criar a Jornada das Pessoas

## **Outras Informações**
A Jornada das Pessoas está sendo mapeada

[2021-10-27 15:03] RaniGub commented on #156
@wforte88 precisamos da estrutura da alocação das pessoas do Felicilab para a criação das jornadas do Site. Foi identificado alguns gaps que não representam o cenário atual da estrutura.

[2021-10-27 15:06] RaniGub commented on #153
@danielgula foi adicionada a dependência #156 para que a Arquitetura possa ser reavaliada. @pauloamoreira por gentileza, compartilhe o link da Arquitetura no escopo da tarefa.

[2021-10-27 16:33] RaniGub commented on #156
Em conversa com a @Clarisse1983, @pauloamoreira relatou que a projeção de conteúdos não tem uma proposta clara, embora tenham alguns indicativos. Foi sugerida uma Inception (também concordo). @uira é possível dar procedimento a isso dentro do prazo disponível para o lançamento do site? O Paulo pode organizar o momento. Enquanto isso ele vai estudando o que já tem em mãos.

[2021-10-27 16:52] RaniGub opened #157 "Teste de usabilidade 2A| Inscrição no Edital 23 #1- Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência

[2021-10-27 17:10] RaniGub commented on #157
Devido ao teste apresentar dados sensíveis da pessoa usuária, o link do vídeo não será disponibilizado, somente o relatório.

[2021-10-28 18:04] RaniGub commented on #94
Como o site do Felicilab está sendo reestruturado e a Oficina está prevista como uma Solução na AI, essa tarefa será finalizada.

[2021-10-28 18:04] #94 closed, assigned to danielgula, pauloamoreira

[2021-10-28 19:47] RaniGub commented on #156
@pauloamoreira fiz um refinamento na board que você está trabalhando. Deixei algumas perguntas como modelo para instigar o conteúdo e AI do Site. Falta completar o quadro e concluir os links com as seções do site (deixei só um link como exemplo).

[2021-10-29 12:09] RaniGub opened #158 "Jornada da Inscrição de Avaliadores"
## **Objetivo**

**Como** designer
**Quero** criar jornadas de usabilidade no Mapa da Saúde
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar o fluxo com as principais Jornadas do Mapa da Saúde. Dessa forma será possível realizar testes de usabilidade para identificar gaps na experiência da pessoa usuária e gerar relatórios de sugestões de melhorias.

[2021-10-29 12:11] RaniGub opened #159 "Jornada de Inscrição de Iniciativa"
## **Objetivo**

**Como** designer
**Quero** criar jornadas de usabilidade no Mapa da Saúde
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar o fluxo com as principais Jornadas do Mapa da Saúde. Dessa forma será possível realizar testes de usabilidade para identificar gaps na experiência da pessoa usuária e gerar relatórios de sugestões de melhorias.

[2021-10-29 12:12] RaniGub opened #160 "Jornada Adesão do Município"
## **Objetivo**

**Como** designer
**Quero** criar jornadas de usabilidade no Mapa da Saúde
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar o fluxo com as principais Jornadas do Mapa da Saúde. Dessa forma será possível realizar testes de usabilidade para identificar gaps na experiência da pessoa usuária e gerar relatórios de sugestões de melhorias.

[2021-10-29 12:13] RaniGub opened #161 "Jornada Adesão do Município"
## **Objetivo**

**Como** designer
**Quero** criar jornadas de usabilidade no Mapa da Saúde
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar o fluxo com as principais Jornadas do Mapa da Saúde. Dessa forma será possível realizar testes de usabilidade para identificar gaps na experiência da pessoa usuária e gerar relatórios de sugestões de melhorias.

[2021-10-29 12:14] #161 closed, assigned to pauloamoreira

[2021-10-29 12:38] RaniGub commented on #160
@pauloamoreira tarefa #158 #159 e #160 são as Jornadas que lhe falei. Compartilham da mesma board no Figma.

[2021-10-30 19:20] pauloamoreira commented on #160
.tarefa concluída. board atualizado.

[2021-10-30 19:44] pauloamoreira commented on #159
.tarefa finalizada. board atualizado.

[2021-10-30 19:51] pauloamoreira commented on #158
.tarefa finalizada. board atualizado.

[2021-11-03 13:25] pauloamoreira opened #162 "Identificar Jornada de Pessoa na ESP / Bolsista - Desligamento"
## **Objetivo**

**Como** gestor
**Quero** visualizar as possíveis jornadas de bolsistas na ESP
**Para** permitir identificar fragilidades no Fluxo e oportunidade de melhorias

## **Contexto**

Visto o processo de publicação de edital à formação e avaliação de bolsistas que integram ou virão a fazer parte das soluções da ESP, é preciso visualizar como se dá esse fluxo e identificar o que pode ser

[2021-11-03 16:51] RaniGub commented on #153
Em conversa com @Clarisse1983 e @uira, entendemos que deve ser rodada uma Inception para estruturar melhor a Arquitetura do Site do Felicilab nesse novo contexto. No entanto, é preciso estabelecer uma versão emergencial com conteúdo mínimo para os visitantes após a premiação do concurso de inovação (com base na proposta pelo Washington). Em conversa com Clarisse, @pauloamoreira e @danielgula , def

[2021-11-03 19:30] pauloamoreira commented on #208
.marcada reunião com @thaistoscano para dia 04/11, as 15h, para validação de proposta inicial de definição de conteúdo e direcionamentos iniciais.

[2021-11-03 19:49] RaniGub commented on #157
@thaistoscano finalizada. Amanhã cedo farei o alinhamento com o @pauloamoreira para que ele possa finalizar o relato do teste #2 e parear com você para criar o backlog dos testes no documento do Escopo.
TESTE: @RaniGub

[2021-11-03 19:53] #157 closed, assigned to RaniGub

[2021-11-04 12:01] pauloamoreira opened #163 "Teste de usabilidade 3A| Inscrição no Edital 23 #2 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência

[2021-11-04 13:15] pauloamoreira commented on #163
.reunião de pareamento marcada com @thaistoscano para hoje, 04/11, as 15h.

[2021-11-05 12:48] pauloamoreira commented on #208
.em reunião com @thaistoscano e @helenhilario para "Definir conteúdo da apresentação", dia 04/11, ficou definido que informações adicionais (indicadores de progresso do desenvolvimento, plano de mercado, análise de concorrência...) poderão ser obtidas com @uira e @wforte88, em momento oportuno. na reunião, foi compartilhado doc produzido pela @Clarisse1983, com indicação de aperfeiçoamentos nos te

[2021-11-05 12:53] RaniGub commented on #160
@pauloamoreira realizou pareamento com Daniel e algumas fragilidades foram mapeadas na jornada. Sugeri que as duas jornadas desenhadas (uma pelo Paulo e outra pelo @danielgula) sejam analisadas e convirjam em uma só.

Embora a jornada em si não seja traduzida integralmente no infográfico, devem ser definidos pontos-chave para norteamento da adesão. Quais  [pontos] servirão de apoio para que a pess

[2021-11-05 14:46] pauloamoreira commented on #160
.a partir da orientação do @RaniGub, elaborei uma nova Jornada, sinalizando as fragilidades mapeadas durante o pareamento com @danielgula . esta terceira Jornada pode ser visualizada em: https://www.figma.com/file/OXtovMznpqqMSOW1Ut0KJV/Jornada-do-usu%C3%A1rio---Ades%C3%A3o-do-Munic%C3%ADpio?node-id=0%3A1

[2021-11-05 19:35] pauloamoreira commented on #160
@thaistoscano essa é a jornada que citei na reunião de hoje à tarde (05/11), para que você possa avaliar se alguma das fragilidades apontadas serão analisadas ou tratadas nas próximas sprints.

[2021-11-11 19:07] pauloamoreira opened #164 "Definir documento de mapeamento de demandas com áreas"
## **Objetivo**

**Como** gestor
**Quero** desenvolver o Projeto da Oficina de Design de Serviços Públicos
**Para** ser aplicada às áreas da ESP

## **Contexto**

Em razão da realização do épico #152, é necessário "Consolidar Formato da II Oficina de Design de Serviços Públicos".

## **Escopo**
- [x] 1.3.1 Definir documento de mapeamento de demandas com áreas

## Observações
Stakeholders: Uirá e A

[2021-11-12 00:55] danielgula commented on #71
@Clarisse1983 no modo de ver essa demanda pode ser fechada, uma vez que temos as licenças de uso do Pacote Adobe e usamos o Adobe Audition para criarmos o Cuida.

[2021-11-12 16:37] danielgula commented on #71
Em acordo com @Clarisse1983 essa demanda será encerrada.

[2021-11-12 16:37] #71 closed

[2021-11-16 13:46] RaniGub opened #165 "Cobertura | 25º Prêmio de Inovação Enap"
## **Objetivo**

**Como** fotógrafo
**Quero** realizar a cobertura do evento
**Para** dispor no acervo fotográfico

## **Contexto**

No evento de premiação do 25º Prêmio de Inovação Enap, foi solicitado apoio do DesignLab para reforçar a cobertura de fotografia.

## **Escopo**
- [x] Realizar fotografias
- [x] Tratar imagens
- [x] Dispor no acerto e divulgar link

## Observações

[2021-11-16 13:57] RaniGub opened #166 "Apoiar a Inception do Site da Residência"
## **Objetivo**

**Como** designer
**Quero** participar da realização da Inception do Site da Residência em Saúde
**Para** direcionar o escopo do Site

## **Contexto**
Foi necessário voltar etapas no desenvolvimento do site da Residência para que houvesse clareza do caminho a ser perseguido.

## **Escopo**
- [x] Participar da Inception com stakeholders (16/11)
- [x] Participar da Inception com sta

[2021-11-16 14:09] RaniGub commented on #166
Olá @raiannyqz , após Inception da Residência você pode seguir o modelo que vou copiar abaixo para consolidação. Quando você chegar novamente na etapa de AI (considerando que o Brainstorming já foi realizado) você aproxima o @pauloamoreira  novamente para refinamento da AI.

VISÃO GERAL
A JORNADA DA PRESCRIÇÃO A DISPENSAÇÃO DE MEDICAMENTOS é estratégia de acompanhamento da prescrição à dispenção d

[2021-11-16 14:21] RaniGub commented on #166
@raiannyqz

[2021-11-16 16:57] pauloamoreira commented on #166
.participei da Inception com a DIPSA, hoje, dia 16/11, das 10h às 11h, com @raiannyqz (publicilab), bárbara e o diego (DIPSA). como a bárbara precisava participar de outra reunião, e não havíamos percorrido todo os campos da Inception, ela solicitou um novo momento na quinta, dia 18/11, as 10h, para finalizar o processo.

[2021-11-16 19:05] pauloamoreira commented on #165
.criei uma pasta no drive do publicilab onde serão compartilhadas, na medida em que forem tratadas, fotos produzidas por mim no evento: https://drive.google.com/drive/folders/1nF7xzNyQT6LKq6RV9psMI9_p-KFbkW5P?usp=sharing

[2021-11-16 19:05] #165 closed, assigned to pauloamoreira

[2021-11-17 12:10] raiannyqz commented on #166
Entendido @RaniGub, Obrigada!

[2021-11-18 14:51] raiannyqz commented on #166
Hoje aconteceria a inception com a DIPSA, mas houve contratempos, mudanças de horários que impossibilitou acontecer hoje. A reunião foi remarcada para segunda as 10:00hs

[2021-11-22 14:49] RaniGub opened #167 "Apoiar a elaboração das declarações da I Oficina de Design de Serviços"
## **Objetivo**

**Como** organizador
**Quero** preencher a Formulário para cadastro de curso no Sagu (Matriz Curricular)
**Para** gerar a declaração aos participantes

## **Contexto**

É preciso informar a Matriz Curricular da Oficina de Design de Serviços para que o time Admin possa gerar as declarações aos participantes.

## **Escopo**
- [x] Alinhar com Helen sobre informações que constarão no

[2021-11-22 19:07] pauloamoreira commented on #163
.tarefa concluída, documento atualizado.

[2021-11-22 19:07] #163 closed, assigned to pauloamoreira

[2021-11-22 19:14] pauloamoreira opened #168 "Teste de usabilidade 4A| Inscrição no Edital 23 #3 - Pessoa sem cadastro acessando o link da Oportunidade no Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-11-23 01:35] RaniGub commented on #166
Tarefa concluída, aguardando o time da Central de Informações consolidar os dados para refinarmos a Board das Jornadas e AI.

[2021-11-23 01:35] #166 closed, assigned to pauloamoreira

[2021-11-23 19:04] pauloamoreira opened #169 "Teste de usabilidade 5A| Inscrição no Edital 23 #4 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51//)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na

[2021-11-23 19:07] #168 closed, assigned to pauloamoreira

[2021-11-23 19:08] pauloamoreira commented on #168
.Tarefa finalizada. Documento atualizado.

[2021-11-24 18:17] RaniGub opened #170 "Definir documento de roteiro dos encontros com áreas"
## **Objetivo**

**Como** gestor
**Quero** desenvolver o Projeto da Oficina de Design de Serviços Públicos
**Para** ser aplicada às áreas da ESP

## **Contexto**

Em razão da realização do épico #152, é necessário "Consolidar Formato da II Oficina de Design de Serviços Públicos".

## **Escopo**
- [x] 1.3.2 Definir documento de roteiro dos encontros com áreas

## Observações
[Stakeholders: Uirá e A

[2021-11-24 18:19] RaniGub commented on #170
Documento compartilhado no grupo da Oficina para troca de ideias e revisão de texto.

[2021-11-24 18:19] RaniGub commented on #164
Documento compartilhado no grupo da Oficina para troca de ideias e revisão de texto.

[2021-11-24 19:00] RaniGub commented on #167
Em conversa com a Helen, foi solicitado que seja criada uma oportunidade no Mapa da Saúde para que as informações dos participantes sejam coletadas. Helen informou que a solicitação já está na fila de tarefas.

[2021-11-24 19:10] RaniGub opened #171 "Construir espaço de estruturação das demandas | Oficina de Design"
## **Objetivo**

**Como** designer
**Quero** dispor de um espaço no Figma com parametrizações
**Para** discussão e relacionamento das demandas com as soluções

## **Contexto**

Em razão da realização do épico #152, é necessário "Consolidar Formato da II Oficina de Design de Serviços Públicos".

## **Escopo**
- [x] 1.3.3 Construir espaço de estruturação das demandas (descrição, tipos, expectativas

[2021-11-25 12:45] RaniGub opened #172 "Apoiar a revisão da AI do site da Residência"
## **Objetivo**

**Como** designer
**Quero** participar da revisão da AI do Site da Residência em Saúde
**Para** direcionar o escopo do Site

## **Contexto**
Foi necessário voltar etapas no desenvolvimento do site da Residência para que houvesse clareza do caminho a ser perseguido.

## **Escopo**
- [ ] Participar da revisão da AI do Site da Residência da ESP

## Observações

[2021-11-25 17:31] RaniGub opened #173 "Identificar os Projetos nos cards do DesignLab"
## **Objetivo**

**Como** designer
**Quero** identificar por Tags as tarefas e épicos da borad do DesignLab
**Para** visualizar a qual projeto estão relacionados (as)

## **Contexto**

Hoje não é possível visualizar com clareza a qual projeto está relacionada uma tarefa ou épico no DesigLab. Com a ajuda do time da Gestão de Projetos, vamos analisar os cards e criar Tags para solucionar o problema.

[2021-11-25 17:37] #47 closed

[2021-11-25 17:43] RaniGub commented on #77
![Captura de Tela 2021-11-25 às 14 43 15](https://user-images.githubusercontent.com/79097920/143484298-51d2eb32-71d7-47ee-ac2c-3a9367babc0a.png)

[2021-11-26 11:59] RaniGub commented on #170
@clarissagpeixoto quando você tiver um tempo é possível revisar esse texto?

[2021-11-26 11:59] RaniGub commented on #164
@clarissagpeixoto quando você tiver um tempo é possível revisar esse texto também?

[2021-11-29 11:39] RaniGub opened #174 "3.1 Definição de campos obrigatórios para cadastro na primeira experiência"
## **Objetivo**

**Como** designer
**Quero** mapear taxonomias
**Para** nortear os campos do Fluxo de Cadastro

## **Contexto**

É necessário visualizar como se dá a experiência de quem faz o cadastro de perfil vindo pelo iSUS e pelo Mapa da Saúde através do idSaúde. Após isso, uma proposta de cadastro integrada será traçada, considerando a taxonomia das soluções envolvidas, assim como os bancos d

[2021-11-29 11:43] RaniGub opened #175 "Definição das opções dos campos do cadastro (Fluxo de cadastro Integrado)"
## **Objetivo**

**Como** designer
**Quero** mapear taxonomias
**Para** nortear os campos do Fluxo de Cadastro

## **Contexto**

É necessário visualizar como se dá a experiência de quem faz o cadastro de perfil vindo pelo iSUS e pelo Mapa da Saúde através do idSaúde. Após isso, uma proposta de cadastro integrada será traçada, considerando a taxonomia das soluções envolvidas, assim como os bancos d

[2021-11-29 17:16] pauloamoreira opened #176 "Consolidar a Inception do Site da Residência"
## **Objetivo**

**Como** designer
**Quero** consolidar a Inception do Site da Residência em Saúde
**Para** refinar o escopo do Site

## **Contexto**
É necessário consolidar os dados das etapas no desenvolvimento do site da Residência - referente a tarefa #166 - para agilizar o processo das etapas seguintes.

## **Escopo**
- [ ] Consolidar a Inception com stakeholders realizada no dia 18/11

## Ob

[2021-11-30 10:59] pauloamoreira commented on #169
.tarefa concluída. documento atualizado.

[2021-11-30 11:00] #169 closed, assigned to pauloamoreira

[2021-11-30 12:14] pauloamoreira opened #177 "Teste de usabilidade 11A| Inscrição no Edital 23 #10 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
Teste de usabilidade 11A| Inscrição no Edital 23 #5 - Pessoa sem cadastro acessando o link do Mapa da Saúde

## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar teste

[2021-11-30 15:05] pauloamoreira commented on #176
.tarefa finalizada. board atualizado.

[2021-11-30 15:06] #176 closed, assigned to pauloamoreira

[2021-11-30 16:32] pauloamoreira opened #178 "Teste de usabilidade 12A| Inscrição no Edital 23 #11"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-11-30 16:33] pauloamoreira opened #179 "Teste de usabilidade 13A| Inscrição no Edital 23 #12"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-01 11:53] RaniGub opened #180 "Analisar o Projeto de Reestruturação de Interfaces Digitais"
## **Objetivo**

**Como** designer
**Quero** analisar o escopo do Projeto de Reestruturação de Interfaces Digitais
**Para** dar um parecer acerca dos objetivos, força de trabalho e cronogramas

## **Contexto**

O escopo do Projeto de Reestruturação de Interfaces tem relação com o novo site da ESP e a criação do Design System da ESP.

## **Escopo**
- [x] Analisar Projeto
- [x] Propor EAP
- [x] Cria

[2021-12-01 11:55] RaniGub commented on #173
Acontecerá uma reunião hoje (14h-15h30, 01/12) com a @gabrieladamarques para tratarmos isso.

[2021-12-01 18:25] RaniGub commented on #86
Em conversa com a @gabrieladamarques em 01/12/2021, entendemos que a tarefa 'Relacionamento das soluções no AirTable' estaria vinculada ao time de Gestão de Projetos. Então foi suprimida desse épico.

[2021-12-01 18:26] #86 closed, assigned to danielgula, RaniGub, pauloamoreira

[2021-12-01 18:28] RaniGub commented on #80
Esse épico precisa ser refinado com o time de Gestão. @gabrieladamarques @wforte88

[2021-12-01 18:48] #51 closed

[2021-12-02 12:20] RaniGub commented on #172
@danielgula o @pauloamoreira concluiu a tarefa e alinhou com a inception, agora só precisa marcar um momento com você para fazer o repasse e o fluxo do site continuar.

[2021-12-02 12:54] RaniGub commented on #173
Com exceção dos cards 80, 24 e 252 (que não tínhamos certeza do que relacionar), todos que ainda não foram encerrados estão com as tags adicionadas, @gabrieladamarques ficou de inserir as tags nos encerrados.

[2021-12-02 14:16] RaniGub commented on #164
Documento concluído, necessita de revisão de @Clarisse1983 e aprovação do Uirá ou Alice.

[2021-12-02 14:17] #164 closed, assigned to RaniGub, pauloamoreira

[2021-12-03 12:40] RaniGub opened #181 "Criar fluxo para testes de usabilidade"
## **Objetivo**

**Como** designer
**Quero** criar um fluxo para sistematizar os testes de usabilidade do Mapa
**Para** dar apoio para realização dos testes

## **Contexto**
Para que as pessoas usuárias disponham de um cenário adequado para realização dos testes de usabilidade, devemos organizar um fluxo que envolva o ambiente físico e digital. Além disso, é preciso sistematizar a criação das tare

[2021-12-03 12:43] RaniGub commented on #181
@thaistoscano esse é o fluxo que lhe apresentei ontem. Estou finalizando ele.

[2021-12-03 12:56] RaniGub commented on #155
@gabrieladamarques queria conversar com você depois sobre esse card. Os testes serão permanentes e imagino que ele evolua de um épico para uma iniciativa.

[2021-12-03 13:54] RaniGub commented on #159
Link do escopo atualizado, sincronizando com épico #155

[2021-12-03 14:12] RaniGub commented on #158
@pauloamoreira @danielgula estava olhando a Jornada e não consegui identificar com clareza onde a inscrição dos avaliares se encaixa nela. Fiz alguns acréscimos. Mas precisamos ver essa jornada.

[2021-12-03 18:55] gabrieladamarques commented on #155
@RaniGub na versão final da EAP do Mapa que foi validada a gente não tem o épico Testes de usabilidade. Mas faz sentido que, na organização da board do Designlab, vcs entendam os testes como um épico/iniciativa. Acho que pro nível de organização de vocês faz sentido agrupar essas atividades como épico ou até como iniciativa.
Mas para o acompanhamento da execução da EAP, o que estou fazendo é assoc

[2021-12-03 19:07] RaniGub commented on #155
Isso Gabi, é só para nosso acompanhamento mesmo.

[2021-12-04 12:40] uira commented on #155
@gabrieladamarques E sim, faz muito sentido a forma que você tá fazendo, @gabrieladamarques .

Os testes, assim como código e design, são etapas do processo de desenvolvimento que vão resultar nas entregas.

Então, na prática, todos os pacotes de trabalho terão etapas de Design e Testes/QA

[2021-12-06 11:30] RaniGub opened #182 "1.2.1 Inscrição no Edital 26 14A - Pessoa com cadastro acessando o link direto da oportunidade"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 26/2021 (entrada por https://mapadasaude.dev.org.br/projeto/77/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência da pessoa usuár

[2021-12-06 11:31] RaniGub opened #183 "1.2.2 Inscrição no Edital 26 15A - Pessoa com cadastro acessando o link direto da oportunidade"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 26/2021 (entrada por https://mapadasaude.dev.org.br/projeto/77/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência da pessoa usuár

[2021-12-06 11:33] RaniGub opened #184 "1.2.3 Inscrição no Edital 26 16A - Pessoa com cadastro acessando o link direto da oportunidade"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 26/2021 (entrada por https://mapadasaude.dev.org.br/projeto/77/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência da pessoa usuár

[2021-12-06 11:36] RaniGub opened #185 "1.2.4 Inscrição no Edital 26 17A - Pessoa com cadastro acessando o link direto da oportunidade"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 26/2021 (entrada por https://mapadasaude.dev.org.br/projeto/77/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na experiência da pessoa usuár

[2021-12-06 14:07] RaniGub commented on #182
Teste consolidado

[2021-12-06 14:07] #182 closed, assigned to RaniGub

[2021-12-06 14:23] pauloamoreira commented on #177
.teste consolidado. documento atualizado.

[2021-12-06 14:23] #177 closed, assigned to pauloamoreira

[2021-12-06 14:29] pauloamoreira opened #186 "Teste de usabilidade 6A| Inscrição no Edital 23 #5 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-06 14:30] pauloamoreira opened #187 "Teste de usabilidade 7A| Inscrição no Edital 23 #6 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-06 14:33] pauloamoreira opened #188 "Teste de usabilidade 8A| Inscrição no Edital 23 #7 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-06 14:36] pauloamoreira opened #189 "Teste de usabilidade 9A| Inscrição no Edital 23 #8 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-06 14:37] pauloamoreira opened #190 "Teste de usabilidade 10A| Inscrição no Edital 23 #9 - Pessoa sem cadastro acessando o link do Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** realizar testes de usabilidade da inscrição no edital 23/2021 com usuários sem cadastro (entrada por https://mapadasaude.dev.org.br/projeto/51/)
**Para** contribuir na construção de uma melhor experiência

## **Contexto**
É preciso realizar testes de usabilidade com as principais Jornadas do Mapa da Saúde. Dessa forma será possível identificar gaps na e

[2021-12-06 17:04] RaniGub commented on #183
Teste consolidado.

[2021-12-06 17:04] #183 closed, assigned to RaniGub

[2021-12-06 17:21] RaniGub opened #191 "Desenvolver Esquema Gráfico para Artigo do Felicilab"
## **Objetivo**

**Como** designer
**Quero** desenvolver um Esquema Gráfico
**Para** facilitar o entendimento do fluxo de trabalho do Felicilab

## **Contexto**
Foi solicitado pelos avaliadores do artigo "O FeliciLab, a inovação disruptiva e a pandemia de Covid-19" a inserção de um Esquema Gráfico para facilitar o entendimento dos processos do Felicilab.

## **Escopo**

- [x] Alinha com Genilton
-

[2021-12-06 17:22] RaniGub commented on #191
@pauloamoreira alinhar com @geniltonfaheinajr essa semana para desenvolvimento após consolidação dos testes de usabilidade.

[2021-12-06 17:30] pauloamoreira commented on #191
.ok, @RaniGub , já vou agendar com o @geniltonfaheinajr assim que finalizar os testes.

[2021-12-06 18:36] RaniGub commented on #184
Teste consolidado.

[2021-12-06 18:36] #184 closed, assigned to RaniGub

[2021-12-07 13:35] pauloamoreira commented on #186
.tarefa finalizada. documento atualizado.

[2021-12-07 13:35] #186 closed, assigned to pauloamoreira

[2021-12-07 14:01] RaniGub commented on #185
Teste consolidado.

[2021-12-07 14:02] #185 closed, assigned to RaniGub

[2021-12-07 18:07] RaniGub opened #192 "Reavaliar Esquemas Gráficos de Inovação/Felicilab"
## **Objetivo**

**Como** designer
**Quero** analisar os Esquemas Gráficos do Ciclo de Vida da Inovação e Processo Metodológico do Felicilab
**Para** atualizar seu conteúdo e representação

## **Contexto**
É preciso analisar os Esquemas Gráficos da apresentação, assim como propor melhorias nas representações.

## **Escopo**

- [x] Analisar conteúdo
- [X] Propor melhorias

## **Outras Informações**

[2021-12-07 19:40] pauloamoreira commented on #187
.tarefa concluída. documento atualizado.

[2021-12-07 19:40] #187 closed, assigned to pauloamoreira

[2021-12-07 20:03] pauloamoreira opened #193 "Análise e Sistematização de Fluxo de Elaboração de Protocolos"
## **Objetivo**

**Como** Designer de Experiência
**Quero** Criar representação gráfica de Sistematização do Fluxo de Criação de Protocolos  .
**Para** Colaborar com o processo metodológico de criação de protocolos do projeto iNova Saúde.

## **Contexto**

Com o início da colaboração do Designlab no projeto iNova Saúde, o passo inicial é sistematizar o fluxo de elaboração de protocolos à partir da

[2021-12-09 12:36] pauloamoreira commented on #191
.em reunião com @geniltonfaheinajr ontem à tarde, ficou definido que irei reunir as imagens propostas (barra de alertas, hotsite corona, iSUS, e T/W) e aguardar ele me passar informações sobre a equipe multidisciplinar e sobre o fluxo de trabalho na época do artigo.

[2021-12-09 12:38] pauloamoreira commented on #191
@geniltonfaheinajr também preciso de referências sobre a Central de Ventiladores Mecânicos e Equipamentos Respiratórios (CVMER) e o ResCovid, para avaliar o que pode ser feito para representar essas soluções.

[2021-12-09 16:57] geniltonfaheinajr commented on #191
@pauloamoreira tudo ok com as informações?

[2021-12-09 17:02] geniltonfaheinajr commented on #191
@pauloamoreira estão nesta pasta https://drive.google.com/drive/folders/1yUmigJym_vW5DLFJ79Z7z6HJTsaqGWTo?usp=sharing

[2021-12-10 12:04] #181 closed, assigned to RaniGub

[2021-12-10 13:41] RaniGub commented on #181
Concluído.

[2021-12-10 13:42] RaniGub commented on #180
Revisado.

[2021-12-10 13:53] RaniGub opened #194 "Atualização sobre retomada do Manejo Clínico COVID-19"
## **Objetivo**

**Como** designer
**Quero** estar atualizado com os pontos propostos em reunião
**Para** apoiar a atualização de conteúdo do Manejo Clínico COVID-19

## **Contexto**

Em reunião realizada em 06/12/2021, Washington Forte e Paulo Amoreira discutiram sobre métodos de atualização de conteúdo para Manejo Clínico COVID-19. Uma reunião está prevista para acontecer dia 10/12 (14h) com Fab

[2021-12-10 14:07] RaniGub commented on #180
Foi sugerido pelo Uirá a inserção da EAP e detalhamento dos perfis do time.

[2021-12-10 14:58] RaniGub opened #195 "2. Apoiar a Construção da Política Estadual de Transplante (itens 2.1 a 2.3)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construção

[2021-12-10 21:12] RaniGub commented on #194
Atualização (10/12/2021):
- Esse grupo será nosso canal oficial de comunicação para atualizações;
- No documento foram definidos os editores(as) de cada capítulo como comentário nos títulos;
- As pessoas que foram nomeadas como editores(as) e não estão com privilégio de edição no documento devem solicitar a inserção;
- Cada pessoa editora deve sinalizar que a atualização do capítulo está pronta. A

[2021-12-10 21:12] #194 closed, assigned to RaniGub, pauloamoreira

[2021-12-13 12:31] RaniGub commented on #133
@uira lembrando desse relatório aqui. Posso falar com o @matheuscpl para analisar as sugestões e criar os cards do que envolvem UX.

[2021-12-13 14:37] RaniGub commented on #195
Em conversa de Alice e Uirá com a Wilma da Adins, foi definido que a Adins será a responsável pela condução da Oficina, enquanto o DesignLab entrará com apoio.

[2021-12-13 17:38] RaniGub commented on #195
@gabrieladamarques

[2021-12-14 13:03] RaniGub commented on #191
@geniltonfaheinajr olhe o Fluxo
https://www.figma.com/file/bicnt4ngkrAF8bNJGNdIqg/Untitled?node-id=0%3A1

Ele está editável, sugiro que você alinhe com a @gabrieladamarques para saber se faz sentido e o que pode melhorar.
![Captura de Tela 2021-12-14 às 10 15 10](https://user-images.githubusercontent.com/79097920/146005244-0e65ac41-d885-4560-b8bf-502063d7bddf.png)

[2021-12-15 14:03] RaniGub commented on #97
Ficou definido que a ASCOM-ESP/CE ficou responsável pela elaboração do Manual.

[2021-12-15 14:04] #97 closed, assigned to danielgula, RaniGub, pauloamoreira

[2021-12-15 14:06] #24 closed

[2021-12-15 14:16] RaniGub commented on #173
@gabrieladamarques em conversa com @uira foi definido que essa atividade deve ir para a Board do time de projeto. Inclusive para ver se a Tag "Sem projeto Definido" pode ser mudada em algumas tarefas para "PROJ: Estruturação do Felicilab".

[2021-12-15 14:18] RaniGub commented on #172
Aguardando chegada dos bolsistas do Edital 26/2021 para dar continuidade à tarefa.

[2021-12-15 14:19] RaniGub commented on #167
@helenhilario vamos refinar quando você tiver disponibilidade ok?

[2021-12-15 14:22] RaniGub commented on #170
Algumas definições foram realizadas em conversa com @uira. Será conversado com a @gabrieladamarques sobre a continuidade da II Oficina de Design e o fluxo das tarefas.

[2021-12-15 14:35] RaniGub commented on #153
Deve ser incluído no escopo do Projeto de Estruturação do Felicilab para 2022.

[2021-12-15 14:35] RaniGub commented on #156
Deve ser incluído no escopo do Projeto de Estruturação do Felicilab para 2022.

[2021-12-15 15:05] RaniGub commented on #195
@uira não esquece de alinhar com a Wilma.

[2021-12-15 15:10] RaniGub commented on #175
@uira definiu que uma pessoa da Educação ficará responsável pela definição desses campos. Antes, será feita uma pequena revisão e atualização do fluxo.

[2021-12-15 15:15] RaniGub commented on #126
Em conversa com Uirá, foi esclarecido que parte desse processo já está em andamento. Quando priorizada a demanda, o DesignLab deve ter essa aproximação com o @rmadev-master e demais envolvidos para estruturação e consolidação dos Selos.

[2021-12-15 15:18] RaniGub commented on #146
@gabrieladamarques Uirá pediu que você incluísse na sua agenda para conversamos.

[2021-12-15 15:20] RaniGub commented on #158
Um Fluxo Geral das Jornadas dos bolsistas foi proposta, agora é necessário dispor essa representação com a visão da pessoa usuária.

[2021-12-15 15:24] RaniGub commented on #158
Último comentário apagado.
Atualização:
Ainda não foi disponibilizada a Jornada de Avaliadores.

[2021-12-15 15:26] RaniGub commented on #147
Um Fluxo Geral das Jornadas dos bolsistas foi proposta, agora é necessário dispor essa representação com a visão da pessoa usuária. Essa tarefa tem relação com a #148 e #162

[2021-12-15 15:59] rafaelmassuncao commented on #126
Um documento inicial foi estruturado e está em fase de análise.

[2021-12-15 16:50] #191 closed, assigned to geniltonfaheinajr, pauloamoreira

[2021-12-15 17:15] RaniGub commented on #77
Encaminhamento: Serão realizados mínimos incrementos no Logotipo atual (com sorriso) e desenvolvimento do Manual com diretrizes de aplicação pelos novos bolsistas do edital 26/2021.

[2021-12-15 17:40] RaniGub commented on #70
Escopo atualizado.

[2021-12-15 19:21] RaniGub commented on #193
Solicitei um horário com a Profa. Liduína para alinhar a metodologia de elaboração, aguardando retorno.

[2021-12-27 14:01] RaniGub opened #196 "Divulgar Edital 26/2021 nos cursos de Design"
## **Objetivo**

**Como** gestor
**Quero** divulgar o edital 26/2021 em diversos cursos de design no Brasil
**Para** dar visibilidade aos perfis disponíveis

## **Contexto**

O Edital 26/2021 possui vagas disponíveis para designers em diversas frentes. Sendo assim, é preciso que os cursos de design, em especial os vinculados às Universidades Federais, sejam parceiros na divulgação das vagas.

## *

[2021-12-27 14:04] RaniGub commented on #196
Contato já realizado com:
- Graduação em Sistema e Mídias Digitais - UFC
- Graduação em Design e Pós em Design - UFPE

[2021-12-27 14:50] RaniGub commented on #196
Novos contatos realizados:
- Graduação em Design - UFC
- Graduação FAUUSP
- Graduação UFRGS
- Pós em Design Digital e Novas Mídias - Belas Artes/RJ
- Pós em Design Estratégico - Belas Artes/RJ
- Graduação em Design - UnB
- Pós-Graduação em Design - UnB
- Graduação em Design - UFSC
- Graduação em Design - UFPR
- Pós-Graduação em Design - UFPR
- Graduação em Design - PUC-RIO
- Pós-Graduação em Desig

[2021-12-27 16:45] RaniGub commented on #196
Novos contatos realizados:
- Graduação em Design - UFAL
- Graduação em Design - UFRN

[2021-12-27 16:46] #196 closed, assigned to RaniGub

[2021-12-29 18:29] RaniGub commented on #193
Na reunião no dia 17/12/21 foi apresentada a v1 da metodologia híbrida para desenvolvimento das Guias. Estavam presentes a Profa. Liduína e Shiela (Educação), @gabrieladamarques (Gestão de Projetos) e eu representando o DesignLab. O feedback do fluxo proposto foi muito positivo e reforçamos que aconteça uma proposição de Arquitetura Base para os protocolos e linhas de cuidado, a fim de evitar retr

[2021-12-29 18:34] RaniGub commented on #188
A consolidação dos testes será realizada com o retorno da @MayaraMonte na primeira semana de Janeiro/2022.

[2021-12-30 17:12] RaniGub commented on #193
Em 30/12/21, foi realizado um refinamento com a @gabrieladamarques da V1.1 do fluxo. A estruturação da EAP será norteada por ele e apresentado em seguida aos stakeholders.

[2022-01-03 18:17] RaniGub commented on #180
EAP inicial foi sugerida e @uira fará a validação.

[2022-01-03 18:34] RaniGub commented on #155
Organizando documento principal para retomada da consolidação dos testes 8A, 9A e 10A | Edital 23/2021.

[2022-01-03 18:54] RaniGub commented on #155
Desde o início dos testes vínhamos fazendo a gravação para consolidação numa conta pessoal, que perderá a funcionalidade nos próximos dias. Solicitei acesso a uma conta oficial da ESP para realização das gravações, no entanto a mesma não logava (nutic@tmp.esp.ce.gov.br). Pedi ajuda ao Jardson em 03/12/2021 via Telegram, mas não obtive retorno. Hoje solicitei novo suporte via e-mail.

[2022-01-04 15:12] RaniGub commented on #188
@MayaraMonte vc pode começar daqui, depois pular para o 9A.

[2022-01-04 17:37] RaniGub opened #197 "IntegraSUS: Apoiar o desenvolvimento de um Fluxo Modelo para apresentação de painéis"
## **Objetivo**

**Como** designer
**Quero** participar das reuniões do comitê de governança
**Para** propor um fluxo modelo para apresentação de painéis

## **Contexto**

É preciso a revisão de alguns painéis que apresentam inconsistências de dados no IntegraSUS. Para isso, foi criado um Comitê de Governança para discutir as dimensões estratégicas e operacionais das ações a serem tomadas. A ESP-C

[2022-01-04 17:41] RaniGub opened #198 "Fluxo de Dados dos painéis do IntegraSUS"
## **Objetivo**

**Como** designer
**Quero** participar das reuniões do comitê de governança
**Para** propor um fluxo para visualização das jornadas dos Dados do IntegraSUS

## **Contexto**

É preciso a revisão de alguns painéis que apresentam inconsistências de dados no IntegraSUS. Para isso, foi criado um Comitê de Governança para discutir as dimensões estratégicas e operacionais das ações a ser

[2022-01-04 17:43] #173 closed, assigned to RaniGub, gabrieladamarques

[2022-01-04 18:56] RaniGub commented on #180
Perfis dos designers adicionados, falta o time de gestão e desenvolvimento adicionar os demais.

[2022-01-07 14:06] RaniGub commented on #193
Em reunião dia 07/01/22, foi apresentada a V1.1 do Fluxo de Elaboração das Guias para Sheila. Ela irá discutir com a Profa. Liduína e apresentar na reunião do grupo dia 14/01/22.

[2022-01-10 12:41] RaniGub commented on #193
Hoje (10/01/21) @pauloamoreira foi atualizado dos acordos realizados na AI e sobre o conteúdo da reunião do dia 14/01/21. Foi sugerido que a Profa. Lidúina faça a última validação antes da apresentação.

[2022-01-10 15:55] pauloamoreira commented on #193
.entrei em contato com a profa. liduína rocha e aguardo confirmação de disponibilidade para reunião.

[2022-01-10 16:31] RaniGub commented on #198
AI parcial realizada até os Indicadores da Escola de Saúde Pública do Estado.

[2022-01-10 17:38] pauloamoreira commented on #167
@Clarisse1983 vamos enviar um link para os participantes da I Oficina de Design de Serviços para que acessem um cadastro no Mapa da Saúde, para sejam emitidos as declarações para participantes, facilitadores e organizadores. você pode providenciar um texto contextualizando esse email?

[2022-01-11 12:54] RaniGub opened #199 "Organizar apresentação dos processos de Design"
## **Objetivo**

**Como** gestor
**Quero** organizar a visualização da metodologia de projeto do DesignLab
**Para** apresentar os processos do DesignLab

## **Contexto**

Dia 11/01/22 acontecerá uma apresentação para os alunos do sexto período do Curso de Design Digital da UFC - Campus Quixadá. O momento possibilitará aos alunos o compartilhamento de experiências das práticas de design aplicadas n

[2022-01-11 13:00] RaniGub commented on #195
@pauloamoreira verifique com a Wilma da Adins o que foi definido sobre essa demanda.

[2022-01-11 13:35] pauloamoreira commented on #195
@RaniGub em conversa hoje, 11/01, com Emanuelle Costa, da Adins, fui informado que a oficina irá ocorrer, mas como parte da equipe está de férias, inclusive a Wilma Lins, o contato com o Felicilab será retomado na segunda quinzena de janeiro.

[2022-01-11 15:29] MayaraMonte opened #200 "Apresentação FeliciLab"
@MayaraMonte commented on [Tue Jan 11 2022](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/134)

## **Objetivo**

**Como** gestor
**Quero** criar uma apresentação sobre o FeliciLab
**Para** apresentar aos alunos do curso de Design Digital da UFC - Campus Quixadá

## **Escopo**

- [x]  Analisar apresentações antigas para juntar as informações em uma nova apresentação;
- [x]  Atualizar

[2022-01-12 11:36] #188 closed, assigned to MayaraMonte

[2022-01-12 16:31] RaniGub commented on #198
Tarefa temporariamente bloqueada, aguardando posicionamento da SESA.

[2022-01-12 16:36] #199 closed, assigned to RaniGub

[2022-01-12 18:15] gabrieladamarques commented on #151
Em dezembro houve uma reunião (liderada pelo Washington, com participação da Camila, Rafael e Gabriela) com o objetivo de fazer um mapeamento inicial dos canais de entrada e das ferramentas utilizadas para gerenciar as demandas. Este mapeamento serviria para orientar o desenho do fluxo ideal, que não foi iniciado. De qualquer forma, pode servir de apoio para a tarefa desta issue: https://www.figma

[2022-01-12 20:19] RaniGub commented on #151
Obg Gabi, vou analisar amanhã.

[2022-01-13 12:42] #189 closed, assigned to MayaraMonte

[2022-01-13 13:08] ClarisCaval commented on #167
Olá, como está você?

Temos uma boa notícia! Sua declaração de participação na 1ª Oficina de Design de Serviços Públicos, realizada nos dias 11 a 13 de agosto de 2021, está disponível no Mapa da Saúde!

Para acessá-la, será necessário responder um breve cadastro, acessível no link TAL (colocar aqui o link).

Novas oficinas ocorrerão em 2022. Fique de olho no Mapa da Saúde e tenha acesso a diversas

[2022-01-13 14:58] RaniGub commented on #193
Foi informado no grupo do Whatsapp do iNova que o projeto passa por readequações devido às priorizações da pandemia. Então foi sugerido pelo Uirá que as atividades relacionadas a ele sejam suspensas até que se tenha definição sobre o andamento.

[2022-01-13 18:53] RaniGub opened #201 "Apoiar o processo metodológico para desenvolvimento de Projetos"
## **Objetivo**

**Como** designer
**Quero** apoiar o time de Gestão na metodologia para desenvolvimento de projeto
**Para** prever as informações necessárias no escopo do projeto

## **Contexto**

Gabriela da Gestão solicitou apoio para análise e aperfeiçoamento do fluxo metodológico para desenvolvimento de projetos pelo Felicilab.

## **Escopo
- [x] Analisar e sugerir adequações ao fluxo metodol

[2022-01-13 18:56] #201 closed, assigned to RaniGub

[2022-01-13 19:03] RaniGub opened #202 "Apoiar o desenvolvimento do fluxo de entregas do Time de Gestão"
## **Objetivo**

**Como** designer
**Quero** apoiar o time de Gestão na desenvolvimento do Fluxo de Entregas
**Para** possibilitar a visualização de indicadores pela Alta Gestão

## **Contexto**

Alexandre da Gestão solicitou apoio para análise e aperfeiçoamento do Fluxo de Entregas do Felicilab para visualização de fragilidades e sugestão de melhorias no processo. Além disso, é preciso discutir s

[2022-01-14 11:40] RaniGub commented on #201
A reunião com a Gabi aconteceu em 13/01/2022 e os apontamentos foram realizados no Figma.

[2022-01-14 12:22] pauloamoreira commented on #167
.aguardando as últimas definições que o @RaniGub irá me passar para finalizar esta tarefa.

[2022-01-17 19:29] RaniGub commented on #190
@MayaraMonte esse foi concluído?

[2022-01-18 01:26] RaniGub commented on #195
Tarefa temporariamente bloqueada. Aguardando posicionamento da Adins.

[2022-01-18 01:30] RaniGub commented on #190
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/190?planning-poker) with ZenHub @pauloamoreira @MayaraMonte

[2022-01-18 01:31] RaniGub commented on #179
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/179?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-18 01:31] RaniGub commented on #178
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/178?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-18 01:32] RaniGub commented on #202
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/202?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-18 18:16] RaniGub commented on #198
E-mail de histórico e status de entregas enviado para a Alta Gestão.

[2022-01-18 18:38] RaniGub commented on #167
Os participantes, carga horária e tipo de participação de cada pessoa consta no documento do Escopo. @pauloamoreira informar para @helenhilario.

Tarefa encerrada.

Tarefa encerrada.

[2022-01-18 18:55] RaniGub opened #203 "Revisar relatório de Bugs e Sugestão de melhorias v1.1 do Mapa"
## **Objetivo**

**Como** designer
**Quero** revisar o relatório de Bugs e Sugestão de melhorias v1.1 do Mapa
**Para** sugerir melhorias na experiência e correção de Bugs

## **Contexto**
É preciso revisar o contexto das sugestões propostas no relatório da V1.1 da AI do Mapa. Após isso, aproximar a BA do Mapa (Thaís) para saber o que já foi contemplado e o que ainda faz sentido ser atendido. Após

[2022-01-18 19:17] RaniGub opened #204 "Arquitetura da Informação de funcionalidades das Soluções Digitais do SUS/CE | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades das soluções digitais do SUS/CE
**Para** sugerir camadas de integração

## **Contexto**
Devemos identificar por meio da AI de funcionalidades, as oportunidades de integração para proporcionar a pessoa usuária o acesso a funções essenciais e integradas pelas soluções digitais que permeiam o SUS/CE.

## **Escopo**

- [ ] 1 M

[2022-01-19 11:56] RaniGub opened #205 "Arquitetura da Informação de funcionalidade | Mapa da Saúde | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades do Mapa da Saúde
**Para** sugerir camadas de integração com outras Soluções Digitais

## **Contexto**
Devemos identificar as oportunidades de integração nas Soluções Digitais do SUS/CE para proporcionar a pessoa usuária o acesso a funções essenciais compartilhadas e melhoria na experiência.

## **Escopo**

- [x] 1 Mapa da

[2022-01-19 12:14] RaniGub commented on #193
Dia 18/01/2022 @pauloamoreira realizou validação do Fluxo com a Profa. Liduína. Damos a tarefa por encerrada e aguardamos as novas definições sobre o projeto iNova.

[2022-01-19 12:14] #193 closed, assigned to RaniGub, pauloamoreira

[2022-01-19 13:02] pauloamoreira commented on #159
.em 18/01/2022 estava agendada reunião de pareamento sobre esta tarefa e a tarefa #158 com @danielgula , que não pode participar por se encontrar adoentado. iremos agendar novo dia e horário para darmos prosseguimento.

[2022-01-19 13:02] pauloamoreira commented on #158
.em 18/01/2022 estava agendada reunião de pareamento sobre esta tarefa e a tarefa #159 com @danielgula , que não pode participar por se encontrar adoentado. iremos agendar novo dia e horário para darmos prosseguimento.

[2022-01-19 13:08] RaniGub opened #206 "Arquitetura da Informação de funcionalidade | iSUS | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades do iSUS
**Para** sugerir camadas de integração com outras Soluções Digitais

## **Contexto**
Devemos identificar as oportunidades de integração nas Soluções Digitais do SUS/CE para proporcionar a pessoa usuária o acesso a funções essenciais compartilhadas e melhoria na experiência.

## **Escopo**

- [x] 2 iSUS

## **Outras

[2022-01-19 13:13] RaniGub opened #207 "Arquitetura da Informação de funcionalidade | QualiQuiz | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades do Mapa da Saúde
**Para** sugerir camadas de integração com outras Soluções Digitais

## **Contexto**
Devemos identificar as oportunidades de integração nas Soluções Digitais do SUS/CE para proporcionar a pessoa usuária o acesso a funções essenciais compartilhadas e melhoria na experiência.

## **Escopo**

- [x] 3 QualiQui

[2022-01-19 13:16] RaniGub commented on #206
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/206?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-19 13:54] RaniGub commented on #180
Status de revisão pelo DesignLab: Inserida EAP, proposta mudanças no time original, inserido perfis dos profissionais, feitas mínimas adaptações textuais e no cronograma de atividades.
Necessita: Revisão pelo DevLab e validação pelo Uirá.

Tarefa encerrada.

[2022-01-19 14:28] RaniGub commented on #208
Tarefa transferida para o DesignLab.

[2022-01-20 12:19] RaniGub opened #209 "Revisão do Artefato Impresso da Oficina de Design"
## **Objetivo**

**Como** designer
**Quero** revisar os apontamento da impressão teste do artefato da Oficina de Design
**Para** enviar ao Nugad para uma nova impressão teste

## **Contexto**
Alguns erros foram identificados pelos Stakeholders no artefato impresso da Oficina de Design e necessitam ser avaliados.

## **Escopo**

- [x] Colocar as fontes no padrão novo da ABNT (informado pelo Genilto

[2022-01-20 12:32] RaniGub opened #210 "Mapa Mental de Ações Integradas | Plano de Contingência à Pandemia da ESP-CE 2022"
## **Objetivo**

**Como** designer
**Quero** compreender as relações das ações do Plano de Contingência à Pandemia da ESP-CE
**Para** sugerir um Mapa Mental que será utilizado como mediação das ações para o Projeto

## **Contexto**
É preciso visualizar as ações propostas pelos setores da ESP-CE para nortear as discussões com a Superintedência.

## **Escopo**

- [x] Analisar o documento
- [x] Propo

[2022-01-20 19:03] RaniGub commented on #167
Essa tarefa será reaberta, falta a @helenhilario dar alguns encaminhamentos:
- Coletar assinatura do Uirá e Alice para o certificado;
- Devido o contexto dos selos, as categorias disponíveis nos formulários precisarão ser editadas com base na carga/horária. Serão 4 categorias disponíveis no arquivo do escopo;
- Explicar como se dará a validação das pessoas que se inscreverem na oportunidade. Pois

[2022-01-21 17:15] RaniGub commented on #210
Data de encaixe na sprint: 21/01/2021

[2022-01-21 17:34] RaniGub commented on #209
@pauloamoreira por gentileza, coloque a versão mais atual do PDF para eu fazer os comentários e adiantar a tarefa.

[2022-01-24 13:22] pauloamoreira commented on #210
@uira segue proposta de mapa mental para o plano de contingência: https://www.figma.com/file/YxFzwPizxzUvNs99sX83zT/Mapa-Mental-do-Plano-de-Conting%C3%AAncia-%C3%A0-Pandemia-da-ESP-CE-%23210?node-id=0%3A1

[2022-01-25 11:52] pauloamoreira commented on #210
A partir de feedback do @uira, ampliamos o escopo da tarefa e voltamos a trabalhar nela.

[2022-01-25 15:23] pauloamoreira commented on #210
@uira segue proposta para Diagrama de Integração entre Ações, para sua análise: https://www.figma.com/file/VPHxEFLmE6t0A2prm8wZN0/Diagrama-de-Integra%C3%A7%C3%A3o-entre-A%C3%A7%C3%B5es?node-id=0%3A1

[2022-01-25 18:57] pauloamoreira commented on #210
@uira segue fluxo (atualizado em 26/01) referente ao diagrama da integração de ações, para sua análise: https://www.figma.com/file/vwfB39lthoTNwordlZC8iv/FLUXO-DE-INTEGRA%C3%87%C3%83O-DAS-A%C3%87%C3%95ES?node-id=0%3A1

[2022-01-26 10:22] pauloamoreira commented on #210
@uira atualizei o Diagrama: https://www.figma.com/file/VPHxEFLmE6t0A2prm8wZN0/Diagrama-de-Integra%C3%A7%C3%A3o-entre-A%C3%A7%C3%B5es?node-id=0%3A1

[2022-01-28 12:13] RaniGub commented on #205
Revisão realizada e alterações propostas.

[2022-01-28 12:56] RaniGub opened #211 "Diagrama de integração entre as ações | Plano de Contingência à Pandemia da ESP-CE 2022"
## **Objetivo**

**Como** designer
**Quero** compreender as relações das ações do Plano de Contingência à Pandemia da ESP-CE
**Para** sugerir um Diagrama de integração entre as ações

## **Contexto**
É preciso visualizar as ações propostas pelos setores da ESP-CE para nortear as discussões com a Superintedência.

## **Escopo**

- [x] Diagrama de integração entre as ações
- [x] Adequação em mandala

[2022-01-28 12:59] RaniGub opened #212 "Fluxo de integração entre as ações | Plano de Contingência à Pandemia da ESP-CE 2022"
## **Objetivo**

**Como** designer
**Quero** compreender as relações das ações do Plano de Contingência à Pandemia da ESP-CE
**Para** sugerir um Fluxo de integração entre as ações

## **Contexto**
É preciso visualizar as ações propostas pelos setores da ESP-CE para nortear as discussões com a Superintedência.

## **Escopo**

- [x] Fluxo de integração entre as ações
- [x] Adaptação do Fluxo tendo a

[2022-01-28 13:52] RaniGub commented on #167
Em pareamento com @helenhilario, foi informado ao @pauloamoreira que a coleta das assinaturas necessárias entrarão em sua fila de demandas. Dessa forma, o apoio do DesignLab encerra aqui. Apontamos que ainda é necessário a definição de quem enviará o e-mail para as pessoas por categoria.

[2022-01-28 13:52] #167 closed, assigned to helenhilario, pauloamoreira

[2022-01-28 15:04] pauloamoreira commented on #205
board atualizada. aguardando a elaboração da board com funcionalidades do iSUS para elaborar a integração.

[2022-01-28 18:32] RaniGub commented on #210
Aguardando revisão.

[2022-01-28 18:32] RaniGub commented on #211
Aguardando revisão.

[2022-01-28 18:32] RaniGub commented on #212
Aguardando revisão.

[2022-01-31 19:32] RaniGub commented on #207
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/DesignLab/207?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-31 22:48] RaniGub opened #213 "Rotinas de atividades e FAQ experiemental para bolsistas do DesignLab"
## **Objetivo**

**Como** gestor
**Quero** definir rotinas de trabalho e FAQ experimental do DesignLab
**Para** consulta dos bolsistas

## **Contexto**
É preciso definir o fluxo de atividades do DesignLab e disponibilizar um FAQ para os atuais bolsistas do DesignLab e novos do Edital 26/2021.

## **Escopo**

- [x] Definir rotina de atividades
- [x] Criar FAQ experimental para bolsistas designers

[2022-02-01 11:18] pauloamoreira commented on #206
.board atualizado. aguardando validação do @RaniGub para finalizar a tarefa

[2022-02-01 11:19] pauloamoreira commented on #205
.board atualizado. aguardando validação do @RaniGub para finalizar a tarefa.

[2022-02-02 01:39] RaniGub commented on #202
@MayaraMonte inserir o figma por gentileza.

[2022-02-02 01:45] RaniGub commented on #205
Uirá sinalizou que vamos tentar um encontro na Quinta-feira 03/02/21 no período da tarde.

[2022-02-02 04:42] #213 closed, assigned to RaniGub

[2022-02-02 14:29] pauloamoreira commented on #205
@RaniGub e @uira board atualizado.

[2022-02-02 14:29] pauloamoreira commented on #206
@RaniGub e @uira board atualizado.

[2022-02-03 14:03] RaniGub opened #214 "Apoiar o processo de Redesign do Mapas"
## **Objetivo**

**Como** designer
**Quero** apoiar o processo de Redesign do Mapas com o HackLab
**Para** sugerir a melhoria da UI com base nos achados de UX do Mapa da Saúde

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É

[2022-02-03 14:05] RaniGub opened #215 "Redesign Mapas | Reunião 01"
## **Objetivo**

**Como** designer
**Quero** apoiar o processo de Redesign do Mapas com o HackLab
**Para** sugerir a melhoria da UI com base nos achados de UX do Mapa da Saúde

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É

[2022-02-03 21:03] RaniGub commented on #209
Status de priorização: Alta prioridade

[2022-02-03 21:03] RaniGub commented on #209
@pauloamoreira conversamos amanhã.

[2022-02-07 11:48] #209 closed, assigned to pauloamoreira

[2022-02-07 12:00] #210 closed, assigned to pauloamoreira

[2022-02-07 12:08] RaniGub commented on #212
Expectativa de pontos atualizada: 8

[2022-02-07 12:11] RaniGub commented on #211
Expectativa de pontos atualizada: 8

[2022-02-07 12:16] RaniGub opened #217 "Redesign Mapas | Reunião 02"
## **Objetivo**

**Como** designer
**Quero** apoiar o processo de Redesign do Mapas com o HackLab
**Para** sugerir a melhoria da UI com base nos achados de UX do Mapa da Saúde

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É

[2022-02-07 12:18] #215 closed, assigned to pauloamoreira

[2022-02-07 12:26] RaniGub opened #216 "Redesign Mapas | Modelo de Ata"
## **Objetivo**

**Como** designer
**Quero** disponibilizar arquivo de ata permanente
**Para** registrar memória dos encontros e encaminhamentos

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É importante que todos os momento

[2022-02-07 12:53] RaniGub opened #218 "Mapeamento das etapas para gerar a ação das áreas | Plano de Contingência à Pandemia da ESP-CE 2022"
## **Objetivo**

**Como** designer
**Quero** mapear as etapas
**Para** compreender como as ações poderão ser conectadas

## **Contexto**
É preciso visualizar as ações propostas pelos setores da ESP-CE para nortear as discussões com a Superintedência.

## **Escopo**
- [x] Mapeamento das etapas para gerar as ações das áreas previstas no Plano

## **Outras Informações**
[PLANO DE CONTINGÊNCIA COVID

[2022-02-07 13:02] RaniGub opened #219 "Proposta de Integrações V1.0 | Arquitetura de Funcionalidades das Soluções Digitais"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades do Mapa da Saúde
**Para** sugerir camadas de integração entre Mapa da Saúde e iSUS

## **Contexto**
Devemos identificar as oportunidades de integração nas Soluções Digitais do SUS/CE para proporcionar a pessoa usuária o acesso a funções essenciais compartilhadas e melhoria na experiência.

## **Escopo**

- [ ] Proposta de

[2022-02-07 14:03] RaniGub opened #220 "Fluxo de pareamentos com o HackLab | Redesign Mapas"
## **Objetivo**

**Como** designer
**Quero** disponibilizar proposta do Fluxo de pareamento com o HackLab
**Para** dar direcionamentos sobre a metodologia de projeto

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É importante

[2022-02-07 14:43] RaniGub commented on #220
Será avaliada pelo HackLab para sugestões.

[2022-02-08 12:06] #220 closed, assigned to RaniGub

[2022-02-09 03:25] uira commented on #81
Isso aqui é um projeto, de Pesquisa e Desenvolvimento Completo.

@gabrieladamarques e @wforte88 , acho que vale a pena entrar como uma iniciativa dentro do projeto do iSUS, fortalecendo a idéia de "Plataforma"

@RaniGub consegue estimar tempo e recursos para essas ativiades?

[2022-02-09 03:54] uira commented on #81
@RaniGub , vale atualizar a descrição da história com o briefing dessa issue: https://github.com/EscolaDeSaudePublica/BancoDeIDeias/issues/1

E atualizar, com a narrativa e evolução conceitual, de que a Susi é uma criatura transdimensional que veio do futuro pra nos conectar ao MetaVerso da Saúde ;)

[2022-02-09 18:16] pauloamoreira commented on #212
Realizei, no dia 09/02/2022, pareamentos para mapeamento do fluxo-meio das áreas: Educação e Extensão (com @Fabriciomartins  e Luciana Rocha) e Comunicação (com Ariane Cajazeiras). permaneço no aguardo de disponibilidade de agenda de @uira (Inovação e Pesquisa) e Batista (Tecnologia) para finalizar os mapeamentos. Board Atualizado.

[2022-02-09 19:16] pauloamoreira commented on #211
Diagrama atualizado com a inclusão das ações da Comunicação.

[2022-02-10 11:59] pauloamoreira commented on #207
arquitetura mapeada e board criado. aguardando pareamento com @RaniGub

[2022-02-11 11:27] pauloamoreira commented on #216
As Atas estão sendo inseridas como Notas nos eventos das reuniões na Agenda do Google.

[2022-02-11 11:27] #216 closed, assigned to nobody

[2022-02-11 17:14] RaniGub commented on #81
A ideia é que no MVP 1 ela não seja animada e esteja presente no Fluxo de Cadastro Integrado. Da conceituação às telas de protótipo, acredito que uns 2 meses. Imagino que precisamos de um ilustrador, um designer de serviço e um ux designer.

[2022-02-11 17:16] RaniGub commented on #81
Ah sim, mais uma pessoa para adaptar e atualizar a narrativa.

[2022-02-11 17:49] RaniGub commented on #81
teste

[2022-02-11 19:05] #217 closed, assigned to pauloamoreira

[2022-02-14 12:12] RaniGub opened #221 "Estabelecer Fluxo das Sprints do DesignLab com as Soluções Digitais"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Links de apoio e informações adicionais

[2022-02-14 12:59] uira commented on #211
Ficou ótimo, vamos enviar para a ADINS e aguardar a oportunidade para apresentar ao Superintendente.

@pauloamoreira poderia marcar uma apresentação ao Marcus, da ADINS?

[2022-02-14 13:22] uira commented on #219
@RaniGub conclua com o @pauloamoreira e marque um momento de pareamento com os BAs

[2022-02-14 14:22] uira commented on #180
Finalizar e submeter esse projeto, com URGÊNCIA

[2022-02-14 14:24] uira commented on #197
Foi enviado email reportando as atividades realizadas.

Essa tarefa será fechada.

[2022-02-14 14:24] #197 closed, assigned to RaniGub

[2022-02-14 14:25] uira commented on #198
Foi enviado email reportando as atividades realizadas.

Essa tarefa será fechada.

[2022-02-14 14:25] #198 closed, assigned to RaniGub

[2022-02-14 14:26] uira commented on #195
Responder ao email do Nicolas, informando que será atendido pelo despacho do Ofício 010/2022 da SEPOS.

[2022-02-14 14:27] uira commented on #153
Aproveitar esforço e incluir o site do felicilab no **Projeto de Reestruturação do Site da ESP**

[2022-02-14 19:36] pauloamoreira commented on #195
.em reunião com Camila Mendes (Sepos - Política de Transplantes), dia 14/02, foi apontada a data do primeiro encontro para a oficina dia 09/03 ou 10/03 e para o segundo encontro (caso seja necessário) dia 16/03 ou dia 17/03 - em todos os casos a oficina ocorrerá das 8h as 12h. aguardo @RaniGub e @uira  validarem as datas para confirmar com a Camila.

[2022-02-15 11:47] #205 closed, assigned to pauloamoreira

[2022-02-15 12:43] RaniGub commented on #218
@uira fará uma apresentação ao Marcelo para sabermos se faz sentido continuar o mapeamento dos fluxo.

[2022-02-15 13:29] MayaraMonte opened #222 "Estruturação de Onboarding | Semana 1"
## **Objetivo**

**Como** gestor
**Quero** estruturar uma semana de integração
**Para** acolher novos colaboradores de forma adequada

## **Contexto**

- O onboarding é o momento em que os novos bolsistas vão adquirir o conhecimento, as habilidades e os comportamentos necessários para se tornarem membros do Felicilab, sabendo disso vamos trabalhar na construção de uma jornada para que ele faça tod

[2022-02-15 13:49] RaniGub commented on #222
@MayaraMonte mudei o título, cria outra atividade para seu apoio na semana 2.

[2022-02-15 14:00] MayaraMonte opened #223 "Estruturação de Onboarding | Semana 2"
## **Objetivo**

**Como** gestor
**Quero** estruturar uma semana de integração
**Para** acolher novos colaboradores de forma adequada

## **Contexto**

- O onboarding é o momento em que os novos bolsistas vão adquirir o conhecimento, as habilidades e os comportamentos necessários para se tornarem membros do Felicilab, sabendo disso vamos trabalhar na construção de uma jornada para que ele faça tod

[2022-02-15 15:13] pauloamoreira opened #224 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (itens 1.1 a 1.3)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual  de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2

[2022-02-15 17:05] pauloamoreira opened #225 "Oficinas de Design para Políticas Públicas - SEPOS"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção das Políticas Estaduais de Saúde
**Para** nortear a elaboração dos Plano Estaduais das Políticas Públicas do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construção d

[2022-02-15 17:18] RaniGub commented on #224
No prioridade: Alta.

[2022-02-15 17:18] RaniGub commented on #195
Nova prioridade: Alta.

[2022-02-15 19:17] pauloamoreira opened #226 "3. Apoiar a Construção da Política da Pessoa com Deficiência (itens 3.1 a 3.3)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-15 19:20] pauloamoreira commented on #226
em reunião com Juliana Donato, dia 15/02/2022, recebi a proposta para a Oficina de Construção de Política Pública para as Pessoas com Deficiência. aguardo validação do @uira  e @RaniGub  para essa proposta, para prosseguir nos encaminhamentos:

23/02 [apresentação e orientações iniciais - equipe da Coordenadoria] 13h30 às 16h30 · apresentação do comitê de organização e apresentação da dinâmica de

[2022-02-16 14:26] RaniGub commented on #225
Política Estadual de Transplante
Dia 1: 09/03 ou 10/03
Dia 2: 16/03 ou 17/03

Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescente
Dia 1: 04/03
Dia 2: 11/03

Política da Pessoa com Deficiência
Dia 1: 07/03
Dia 2: 09/03
Dia 3: 10/03

As datas da Política da Pessoa com Deficiência e Política Estadual de Transplante estão conflitando. @pauloamoreira entrou em contato com a Ju

[2022-02-16 16:38] pauloamoreira commented on #195
.através de contato com Camila Mendes, dia 16/02/2022, as datas das oficinas foram reajustadas para os dias 16/03 e 23/03, de modo a não haver conflito com datas das oficinas para as Pessoas com Deficiência.

[2022-02-16 17:23] pauloamoreira opened #227 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (itens 1.4)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescente
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por me

[2022-02-16 17:29] pauloamoreira opened #228 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.4)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-16 17:34] pauloamoreira opened #229 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.4)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-16 18:08] pauloamoreira opened #230 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.7)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por

[2022-02-16 18:13] pauloamoreira opened #231 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.7)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-16 18:18] pauloamoreira opened #232 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.7)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-16 18:23] pauloamoreira opened #233 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.9)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por m

[2022-02-16 18:26] pauloamoreira opened #234 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.9)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-16 18:28] pauloamoreira opened #235 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.10)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-16 18:29] pauloamoreira commented on #225
.a Camila Mendes, da oficina de transplante, indicou novas datas: 16/03 e 23/03

[2022-02-16 18:31] pauloamoreira commented on #228
.através de contato com Camila Mendes, dia 16/02/2022, as datas das oficinas foram reajustadas para os dias 16/03 e 23/03, de modo a não haver conflito com datas das oficinas para as Pessoas com Deficiência.

[2022-02-16 18:50] MayaraMonte opened #236 "Estruturação de Onboarding | Semana 3"
## **Objetivo**

**Como** gestor
**Quero** estruturar uma semana de integração
**Para** acolher novos colaboradores de forma adequada

## **Contexto**

- O onboarding é o momento em que os novos bolsistas vão adquirir o conhecimento, as habilidades e os comportamentos necessários para se tornarem membros do Felicilab, sabendo disso vamos trabalhar na construção de uma jornada para que ele faça tod

[2022-02-17 14:25] pauloamoreira opened #237 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.5)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-17 14:27] pauloamoreira opened #238 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.6)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila