[2022-02-17 14:31] pauloamoreira opened #239 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item1.5)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescente
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por me

[2022-02-17 14:34] pauloamoreira opened #240 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.6)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescente
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por me

[2022-02-17 14:37] pauloamoreira opened #241 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.8)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por

[2022-02-17 14:40] pauloamoreira opened #242 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.10)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescente do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por m

[2022-02-17 14:43] pauloamoreira opened #243 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.5)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-17 14:44] pauloamoreira opened #244 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.6)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-17 14:46] pauloamoreira opened #245 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.8)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-17 14:49] pauloamoreira opened #246 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.10)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-02-17 14:53] pauloamoreira opened #247 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.9)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-17 14:55] pauloamoreira opened #248 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.11)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-02-17 17:25] pauloamoreira opened #249 "Solicitar à ASCOM divulgação das Oficinas de Serviços Públicos que serão realizadas para a SEPOS/SESA"
## **Objetivo**

**Como** organizador e facilitador de Oficina
**Quero** solicitar a ASCOM da ESP que divulgue as oficinas de Design de Serviços Públicos que serão realizadas para a Secretaria Executiva de Política da Saúde SEPOS/SESA, junto à coordenadorias da SEPOS.
**Para** dar visibilidade para a realização das oficinas

## **Contexto**

- A Secretaria Executiva de Política de Saúde - SEPOS/SE

[2022-02-21 11:39] pauloamoreira commented on #249
.segue texto, com aperfeiçoamentos já inseridos pela @Clarisse1983, para validação do @uira e @RaniGub :

Durante o mês de março, o  Laboratório de Inovação no SUS do Ceará - Felicilab, vinculado à Diretoria de Inovação e Tecnologias - DITEC, da Escola Pública de Saúde Paulo Marcelo Martins Rodrigues (ESP/CE), irá facilitar 03 oficinas de Design de Políticas Públicas para a colaboradores da Secret

[2022-02-21 12:07] pauloamoreira commented on #249
.texto validado por @RaniGub e mensagem enviada para a ASCOM. tarefa finalizada.

[2022-02-21 12:07] #249 closed, assigned to pauloamoreira

[2022-02-22 13:10] MayaraMonte opened #250 "Estruturação de Onboarding | Semana 4"
## **Objetivo**

**Como** gestor
**Quero** estruturar uma semana de integração
**Para** acolher novos colaboradores de forma adequada

## **Contexto**

- O onboarding é o momento em que os novos bolsistas vão adquirir o conhecimento, as habilidades e os comportamentos necessários para se tornarem membros do Felicilab, sabendo disso vamos trabalhar na construção de uma jornada para que ele faça tod

[2022-02-22 13:13] pauloamoreira commented on #238
.formulário produzido.

[2022-02-22 13:33] RaniGub opened #251 "Relacionamento de Funcionalidades | Redesign Mapas"
## **Objetivo**

**Como** designer
**Quero** disponibilizar proposta de relacionamento de funcionalidades
**Para** dar direcionamentos para as Jornadas no processo de Redesign do Mapa

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ES

[2022-02-22 13:35] RaniGub opened #252 "Proposta de Jornadas | Redesign Mapas"
## **Objetivo**

**Como** designer
**Quero** disponibilizar Jornadas das Pessoas Usuárias
**Para** dar direcionamentos no processo da AI do Redesign do Mapa

## **Contexto**
Iniciamos um processo de diálogo com o HackLab em 01/02/2021 para que possamos apoiar o Redesign do Mapas. Para isso, estamos organizando um Grupo de Governança envolvendo os times do HackLab e da ESP/CE. É importante que todo

[2022-02-22 13:36] #251 closed, assigned to RaniGub

[2022-02-22 13:37] #252 closed, assigned to RaniGub

[2022-02-23 12:23] RaniGub commented on #203
O relatório já foi revisado com Luanna e Thaís. @MayaraMonte por favor, coloque na sua agenda a revisão da indicação na tabela das tarefas que já foram criadas.

[2022-02-23 14:05] pauloamoreira commented on #237
.board da oficina produzido. link no escopo da tarefa.

[2022-02-23 14:05] #237 closed, assigned to pauloamoreira

[2022-02-23 16:56] pauloamoreira commented on #238
.formulário atualizado, de forma a atender a solicitação de inclusão dos nomes por extenso de toda as 32 instituições quer irão participar da oficina.

[2022-02-23 16:56] #238 closed, assigned to pauloamoreira

[2022-02-24 12:27] RaniGub opened #253 "Definições sobre Jornadas, AI e relacionamentos | Reunião Hacklab 3"
## **Objetivo**

**Como** designer
**Quero** apoiar o Redesign do Mapas
**Para** possibilitar uma experiência consistente para as pessoas

## **Contexto**

Reunião de definições sobre Redesign do Mapas. 23/02/2022

## **Escopo**

- [x] Definições sobre Jornadas, AI e relacionamentos

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj

[2022-02-24 12:27] #253 closed, assigned to RaniGub, pauloamoreira

[2022-02-24 12:31] RaniGub opened #254 "Definições gerais sobre o processo de Redesign | Reunião Hacklab 2"
## **Objetivo**

**Como** designer
**Quero** apoiar o Redesign do Mapas
**Para** possibilitar uma experiência consistente para as pessoas

## **Contexto**

Reunião de definições gerais sobre o processo de Redesign com Lívia, Cézar, Uirá, Rani e Luiza. 17/02/2022

## **Escopo**

- [x] Definições gerais sobre o processo de Redesign

## Observações
Ata de acompanhamento das reuniões:
https://docs.goo

[2022-02-24 12:32] #254 closed, assigned to RaniGub, pauloamoreira

[2022-02-24 12:34] RaniGub opened #255 "Análise de Jornadas | Reunião Hacklab 4"
## **Objetivo**

**Como** designer
**Quero** apoiar o Redesign do Mapas
**Para** possibilitar uma experiência consistente para as pessoas

## **Contexto**

Reunião para análise de Jornadas. 24/02/2022

## **Escopo**

- [x] Análise de Jornadas

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/edit?usp=sharing

[2022-02-24 12:41] RaniGub commented on #214
@pauloamoreira atualizei o Épico e relacionei as tarefas que já haviam sido realizadas. Adicionei o Reunião 04 também para esse sprint.

[2022-02-25 11:48] RaniGub opened #256 "Análise das Jornadas Redesign Mapas | Reunião HackLab 5"
## **Objetivo**

**Como** designer
**Quero** discutir sobre as jornadas das pessoas usuárias
**Para** sugerir melhorias no processo

## **Contexto**

Reunião de definições sobre Redesign do Mapas. 03/03/2022

## **Escopo**

- [x] Análise das Jornadas Redesign Mapas

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/ed

[2022-02-25 12:09] #255 closed, assigned to RaniGub, pauloamoreira

[2022-02-25 12:12] RaniGub opened #257 "Atualização de Ata | Reunião HackLab 4"
## **Objetivo**

**Como** designer
**Quero** atualizar a ata da reunião 4
**Para** constar como memória do processo

## **Contexto**

Ata da Reunião 04 Redesign do Mapas. 24/03/2022

## **Escopo**

- [x] Atualizar Ata Reunião 4 HackLab

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/edit?usp=sharing

[2022-02-25 14:05] pauloamoreira commented on #239
.board da Oficina produzido.

[2022-02-25 14:05] #239 closed, assigned to pauloamoreira

[2022-02-25 14:40] pauloamoreira commented on #257
.teste de bot.

[2022-02-25 21:12] pauloamoreira commented on #257
Ata permanente atualizada.

[2022-02-25 21:12] #257 closed, assigned to pauloamoreira

[2022-02-28 18:24] RaniGub opened #258 "7.2 Pareamento BA iSUS | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades das soluções digitais do SUS/CE
**Para** sugerir camadas de integração

## **Contexto**
Devemos identificar por meio da AI de funcionalidades, as oportunidades de integração para proporcionar a pessoa usuária o acesso a funções essenciais e integradas pelas soluções digitais que permeiam o SUS/CE.

## **Escopo**

- [ ] Com

[2022-02-28 18:28] RaniGub opened #259 "7.1 Pareamento BA Mapa | Integrações"
## **Objetivo**

**Como** designer
**Quero** propor a AI de funcionalidades das soluções digitais do SUS/CE
**Para** sugerir camadas de integração

## **Contexto**
Devemos identificar por meio da AI de funcionalidades, as oportunidades de integração para proporcionar a pessoa usuária o acesso a funções essenciais e integradas pelas soluções digitais que permeiam o SUS/CE.

## **Escopo**

- [ ] Com

[2022-02-28 18:39] RaniGub commented on #152
Esse Projeto será acompanhado pelo time de Gestão de Projetos. O modelo do despacho anexado também pode dar apoio as discussões iniciais. Essa tarefa será finalizada.
https://docs.google.com/document/d/1m9_7yWXpVX6vbTwDZJJj1GXk71GrcTsz1j9-665sW2Y/edit

[2022-02-28 18:39] #152 closed, assigned to nobody

[2022-02-28 18:42] RaniGub opened #260 "Atualização de Ata | Reunião HackLab 5"
## **Objetivo**

**Como** designer
**Quero** atualizar a ata da reunião 5
**Para** constar como memória do processo

## **Contexto**

Ata da Reunião 05 Redesign do Mapas. 03/03/2022

## **Escopo**

- [x] Atualizar Ata Reunião 5 HackLab

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/edit?usp=sharing

[2022-02-28 19:16] RaniGub opened #261 "Estruturação de Onboarding | Semana 5"
## **Objetivo**

**Como** gestor
**Quero** estruturar uma semana de integração
**Para** acolher novos colaboradores de forma adequada

## **Contexto**

- O onboarding é o momento em que os novos bolsistas vão adquirir o conhecimento, as habilidades e os comportamentos necessários para se tornarem membros do Felicilab, sabendo disso vamos trabalhar na construção de uma jornada para que ele faça tod

[2022-02-28 19:16] #250 closed, assigned to MayaraMonte

[2022-02-28 19:17] RaniGub commented on #261
@MayaraMonte falta só complementar o Escopo blz?

[2022-02-28 19:18] #236 closed, assigned to MayaraMonte

[2022-02-28 19:18] #223 closed, assigned to MayaraMonte

[2022-02-28 19:18] #222 closed, assigned to MayaraMonte

[2022-02-28 19:32] RaniGub commented on #170
Aguardando priorização no Tático para continuidade.

[2022-02-28 19:33] RaniGub commented on #156
Aguardando priorização no Tático para continuidade.

[2022-03-01 19:40] pauloamoreira opened #262 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.8)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-03-02 18:49] RaniGub opened #263 "Pré-Revisão semanal da Board | Redesign Mapa"
## **Objetivo**

**Como** designer
**Quero** analisar as jornadas das pessoas usuárias
**Para** estar no contexto das atualizações pelo HackLab

## **Contexto**

Análise necessária para Reunião 5 com HackLab.

## **Escopo**

- [x] Análise das Jornadas Redesign Mapas

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/e

[2022-03-02 18:53] RaniGub commented on #263
Tarefa duplicada.

[2022-03-02 18:53] #263 closed, assigned to nobody

[2022-03-02 19:29] #232 closed, assigned to pauloamoreira

[2022-03-03 11:45] RaniGub opened #264 "Inserir resgate pelo CNS do CNES | Fluxo de Cadastro"
## **Objetivo**

**Como** designer
**Quero** revisar o Fluxo de Cadastro
**Para** inserir a experiência do resgate de dados pelo CNS do CNES

## **Contexto**

É necessário visualizar como se dá a experiência de resgate de alguns dados da experiência de cadastro do ID Saúde pelo CNS do CNES.

## **Escopo**

- [ ] Analisar o Fluxo de Cadastro

## Observações
https://www.figma.com/file/I9BbXtJHHe3prn

[2022-03-03 11:52] RaniGub opened #265 "Consolidar/revisar relacionamento com campos do RH da Sesa | Fluxo de Cadastro"
## **Objetivo**

**Como** designer
**Quero** revisar o Fluxo de Cadastro
**Para** consolidar os campos do RH da Sesa

## **Contexto**

É necessário consolidar/revisar a relação "de/para" com o Sistema RH da Sesa.

## **Escopo**

- [ ] Consolidar o Fluxo de Cadastro com os campos do RH da Sesa

## Observações
https://www.figma.com/file/I9BbXtJHHe3prnlEN8Iofk/Fluxo-de-Cadastro-e-Roadmap?node-id=0%3A

[2022-03-03 11:59] RaniGub opened #266 "Consolidar a Taxonomia dos campos | Fluxo de Cadastro"
## **Objetivo**

**Como** designer
**Quero** revisar a taxonomia dos campos do Fluxo de Cadastro
**Para** unificar a nomenclatura das soluções digitais

## **Contexto**

Considerando o retorno das atividades relacionadas ao Fluxo de Cadastro, é preciso consolidar a taxonomia dos campos existentes.

## **Escopo**

- [ ] Consolidar o documento "de/para" dos campos das soluções digitais
- [ ] Relacio

[2022-03-04 11:20] #221 closed, assigned to RaniGub

[2022-03-04 11:23] #266 closed, assigned to nobody

[2022-03-04 11:24] #256 closed, assigned to RaniGub, pauloamoreira

[2022-03-04 11:46] #240 closed, assigned to pauloamoreira

[2022-03-04 16:29] RaniGub opened #267 "Reunião de Briefing | Curso de Letramento Digital para ACSs"
## **Objetivo**

**Como** designer
**Quero** compreender a demanda do curso de Letramento Digital para ACSs
**Para** informar os detalhes da demanda à Gestão

## **Contexto**

É preciso levantar os requisitos da demanda do curso de Letramento Digital para ACSs para que a Gestão delibere a possibilidade de execução e esforço necessário.

## **Escopo**

- [x] Reunião de Briefing (10/03, 9h)

## Obse

[2022-03-04 18:57] RaniGub opened #268 "Imersão UX | Redesign Mapa"
## **Objetivo**

**Como** gestor do DesignLab
**Quero** ofertar imersão em UX no contexto da Plataforma Mapas
**Para** fortalecer o processo de ReDesign

## **Contexto**
Considerando o contexto do Épico #214, é preciso propor a programação dos tópicos que serão abordados na imersão.

## **Escopo**
- [x] Propor a programação
- [x] Validar a programação com Uirá

## **Outras Informações**

[2022-03-04 19:03] pauloamoreira commented on #230
reunião realizada.

[2022-03-07 14:09] RaniGub commented on #172
Tarefa irá tramitar pela board da Central de Informações.
Responsável: Jorge Godoy

[2022-03-07 14:10] #172 closed, assigned to pauloamoreira

[2022-03-08 16:00] RaniGub commented on #203
@MayaraMonte aqui.

[2022-03-08 16:01] RaniGub commented on #261
@MayaraMonte essa tá fechada né?

[2022-03-09 14:36] pauloamoreira commented on #267
data da reunião atualizada para 10/03.

[2022-03-09 14:37] pauloamoreira commented on #241
reunião realizada.

[2022-03-09 14:38] pauloamoreira commented on #241
![WhatsApp Image 2022-03-07 at 12 02 40](https://user-images.githubusercontent.com/79201419/157463404-773e7c6e-a9a1-4caf-bf8d-a921db2ca926.jpeg)

[2022-03-09 14:40] pauloamoreira commented on #262
reunião realizada.

[2022-03-09 14:42] pauloamoreira commented on #247
oficina realizada.

[2022-03-09 14:42] pauloamoreira commented on #247
![photo1646684604](https://user-images.githubusercontent.com/79201419/157464255-329956c4-917d-4425-b3ca-9e47a7265fa7.jpeg)

[2022-03-09 15:04] pauloamoreira opened #269 "Proposta/estimativa para criação de publicação eletrônica com Linhas de Cuidado em Saúde do Trabalhador"
## **Objetivo**

**Como** design
**Quero** apoiar a criação de Linhas de Cuidado em Saúde do Trabalhador
**Para** informar os Profissionais de Saúde sobre autocuidados.

## **Contexto**
- A GEDUC recebeu da SESA uma demanda de 06 Linhas de Cuidado em Saúde do Trabalhador, visando, inicialmente, a elaboração/publicação de um e-book (ou publicação eletrônica) que será disponibilizado nas plataformas

[2022-03-09 15:08] pauloamoreira commented on #269
em reunião com Sheila Fontenele e Ananda (GEDUC), acertamos que irei, após parear com @RaniGub sobre essa demanda, enviar até sexta (11/03) briefing para levantamento de requisitos. Paralelamente, Sheila Fontenele informou que o projeto está sendo escrito e irá trazer novas informações para refinar a demanda.

[2022-03-09 20:01] pauloamoreira opened #270 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.9.1)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-03-09 20:01] pauloamoreira commented on #270
oficina realizada.

[2022-03-09 20:02] pauloamoreira commented on #270
![09_março_2022_pessoas com deficiência](https://user-images.githubusercontent.com/79201419/157524313-c0608f2f-2574-4882-b3d5-10a16bbd000b.jpg)

[2022-03-10 14:27] pauloamoreira opened #271 "Apoiar realização de capacitação para Agentes Comunitários de Saúde - ACS"
## **Objetivo**

**Como** designer
**Quero** apoiar a formatação de uma estratégia educacional
**Para** colaborar com uma ação formativa direcionada aos Agentes Comunitários de Saúde - ACS

## **Contexto**
- Em reunião com o Conselho Estadual de Saúde COSEMS CE, Associação dos Municípios do Ceará - APRECE, Federação  e Associação dos Agentes Comunitários de Saúde ACS e Agentes Comunitários de Edem

[2022-03-10 14:28] pauloamoreira commented on #271
Reunião de alinhamento inicial realizada em 10/03.

[2022-03-11 11:41] #268 closed, assigned to RaniGub

[2022-03-11 13:52] uira commented on #271
@pauloamoreira Paulo, quero muito conversar contigo sobre isso. Você está na ESP? Consegue colar aqui?

[2022-03-11 18:28] RaniGub commented on #269
Deliberação do Uirá:
- Participar da próxima reunião SE os stakeholders da Sesa estiverem presentes.

Obs.: Produzimos inovação com suporte de metodologias de design. Não produzimos artefatos que não estão conectados ao processo de inovação.

[2022-03-11 18:30] pauloamoreira opened #272 "3. Apoiar a Construção da Política da Pessoa com Deficiência (item 3.9.2)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual das Pessoas com Deficiência
**Para** nortear a elaboração do Plano Estadual das Políticas para Pessoas com Deficiência do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicila

[2022-03-11 18:30] pauloamoreira commented on #272
Oficina realiza em 10/03/2022

[2022-03-11 18:34] RaniGub commented on #271
Participar da próxima reunião, se não cair em um horário da Oficina e alinhar com a Flavianne a compreensão que nosso apoio faz sentido na perspectiva que o Letramento Digital do ACS tem desdobramento em várias camadas que transpassam a simples proposta de criar um curso EAD para eles.

Não compreendemos como um curso EAD mediado por uma plataforma digital irá solucionar um problema de pessoas que

[2022-03-11 18:38] pauloamoreira opened #273 "1. Apoiar a Construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes (item 1.8.1)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes
**Para** nortear a elaboração do Plano Estadual de Prevenção e Proteção às mulheres, crianças e adolescentes do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por

[2022-03-11 19:19] RaniGub commented on #271
A participação do Paulo se dará inicialmente no apoio do desenvolvimento do Projeto caso seja entendido que o DesignLab participará do processo.

[2022-03-11 19:22] RaniGub opened #274 "Preparar apresentação do Novo Site da ESP | Projeto"
## **Objetivo**

**Como** designer
**Quero** preparar a apresentação das etapas para desenvolvimento do Novo Site da ESP
**Para** contextualizar a Superintendência

## **Contexto**
Devemos analisar os pontos essenciais abordados no projeto para apresentação para Superintendência.

## **Escopo**

- [x] Criar apresentação

## Observações
https://docs.google.com/document/d/1ookvo2vaOoiR13x18lpNhVYHF5

[2022-03-11 19:23] RaniGub commented on #274
Definir prioridade no Tático.

[2022-03-14 13:38] RaniGub commented on #170
Tarefa retomada.

[2022-03-14 13:40] #171 closed, assigned to RaniGub

[2022-03-14 16:28] RaniGub commented on #156
Tarefa irá tramitar na Board da Central de Informações.

[2022-03-14 16:29] RaniGub commented on #153
Tarefa irá tramitar na Board da Central de Informações.

[2022-03-14 18:47] RaniGub opened #275 "Cadastro Único da ESP/CE | Integrações"
## **Objetivo**

**Como** pessoa usuário das soluções da ESP /CE
**Quero** criar um registro único com meu CPF
**Para** ter acesso a todas as Soluções Digitais da ESP

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Links de apoio e informações

[2022-03-14 19:35] pauloamoreira commented on #273
Oficina realizada em 14/03/2022.

[2022-03-14 19:35] pauloamoreira commented on #273
![photo1647269499](https://user-images.githubusercontent.com/79201419/158247694-a4441042-a6d3-44d5-a502-d55b652c6e2d.jpeg)

[2022-03-14 19:36] #273 closed, assigned to pauloamoreira

[2022-03-14 19:36] #272 closed, assigned to pauloamoreira

[2022-03-14 19:37] #247 closed, assigned to nobody

[2022-03-14 19:37] #262 closed, assigned to pauloamoreira

[2022-03-14 19:37] #241 closed, assigned to pauloamoreira

[2022-03-14 19:38] #230 closed, assigned to pauloamoreira

[2022-03-15 09:21] MayaraMonte opened #276 "Feedback de onboarding com bolsistas do edital 26"
## **Objetivo**

**Como** gestor
**Quero** saber como foi a experiência dos novos bolsistas na semana de integração
**Para** definir melhorias para o MVP 2

## **Contexto**

- Após a semana de integração com a primeira turma convocada do edital 26, precisamos colher feedbacks dos participantes para que hajam melhorias para o MVP 2.

## **Escopo**

- [x] Entrevistas com bolsista que participaram de

[2022-03-15 11:04] pauloamoreira commented on #267
.reunião realizada. o desenvolvimento dessa tarefa ocorrerá na #271

[2022-03-15 11:04] #267 closed, assigned to pauloamoreira

[2022-03-15 12:03] RaniGub commented on #271
Aguardando posicionamento formal sobre a deliberativa da formatação do Curso com o apoio do Designlab. Pelo cenário exposto na reunião, já parece existir um desenho de um curso em processo de formatação. Uma pessoa chamada Vanessa (Gerência de Educação Profissional em Saúde) ficou de entrar em contato quando tiverem novas informações.

Acreditamos que o design deva participar desde o processo de p

[2022-03-15 12:06] #231 closed, assigned to pauloamoreira

[2022-03-15 12:07] #235 closed, assigned to pauloamoreira

[2022-03-15 12:07] #248 closed, assigned to pauloamoreira

[2022-03-15 12:22] RaniGub commented on #269
Aguardando relato da reunião pelo @pauloamoreira para conversamos com o @uira e definir se faz sentido continuarmos participando ou não das reuniões.

[2022-03-15 12:27] #233 closed, assigned to pauloamoreira

[2022-03-15 14:20] #132 closed, assigned to RaniGub, pauloamoreira

[2022-03-16 13:28] caldy94 commented on #274
Apresentação finalizada, aguardando feedback do @RaniGub

[2022-03-16 17:15] #243 closed, assigned to pauloamoreira

[2022-03-16 17:18] pauloamoreira commented on #245
oficina realizada em 16/03/2022.

[2022-03-16 17:18] pauloamoreira commented on #245
![oficina_politica_estadual_transplantes_16mar2022](https://user-images.githubusercontent.com/79201419/158649520-059ee336-b632-4df9-a0c1-d32c1d6c111b.jpg)

[2022-03-16 17:19] #245 closed, assigned to pauloamoreira

[2022-03-16 18:06] #244 closed, assigned to pauloamoreira

[2022-03-16 18:14] #242 closed, assigned to pauloamoreira

[2022-03-17 14:41] pauloamoreira commented on #269
@uira @RaniGub Relato da Reunião do dia 14.03.2023 > estavam presentes: Ananda Coelho - GEDUC/ESPCE, Sheila Fontenele - GEDUC/ESPCE, Patrícia Elibabth - GEDUC-ESPCE, Paulo Amoreira - NIT/ESPCE, Mara CEREST/SESA,  Ângela COVAT/SESA e Vivian Gomes COVAT/SESA. Na reunião, Mara CEREST/SESA esclareceu que a proposta vai além da criação de protocolos clínicos e produção de um e-book, se configurando com

[2022-03-21 11:42] RaniGub commented on #203
@MayaraMonte o que falta pra gente concluir essa tarefa?

[2022-03-21 12:23] #170 closed, assigned to RaniGub, gabrieladamarques

[2022-03-21 12:44] elpadrejorge opened #277 "Reestruturação | Planilha de acompanhamento da Oficina de Design de Serviços"
## **Objetivo**

**Como** designer
**Quero** reestruturar a tabela de acompanhamento da oficina de design de serviços públicos
**Para** torná-la mais interativa, utilizando-se dos recursos do Workspace

## **Contexto**

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observaçõ

[2022-03-22 11:24] RaniGub opened #278 "Fluxo Metodológico | Letramento Digital para ACSs"
## **Objetivo**

**Como** designer
**Quero** propor fluxo metodológico para compreender o problema dos ACSs
**Para** tomar a melhor decisão acerca de seu Letramento Digital

## **Contexto**

É preciso apresentar etapas para validação dos problemas dos ACSs sobre Letramento Digital.

## **Escopo**

- [ ] Propor fluxo metodológico

## Observações
Quem participa? @pauloamoreira

[2022-03-22 11:27] RaniGub opened #279 "Atualização de Ata | Reunião HackLab 6"
## **Objetivo**

**Como** designer
**Quero** atualizar a ata da reunião 6
**Para** constar como memória do processo

## **Contexto**

Ata da Reunião 06 Redesign do Mapas. 31/03/2022

## **Escopo**

- [x] Atualizar Ata Reunião 6 HackLab

## Observações
Ata de acompanhamento das reuniões:
https://docs.google.com/document/d/15T7RVk5T56SHwBMnRJNKd6sgclfj7e5RNQ2YED-VmDU/edit?usp=sharing

[2022-03-22 11:30] RaniGub opened #280 "Análise da Board: Histórias e Jornadas | Reunião HackLab 6"
## **Objetivo**

**Como** designer
**Quero** discutir sobre informações disponibilizadas pelo HackLab
**Para** sugerir melhorias no processo de Redesign do Mapas

## **Contexto**

A reunião semanal com o HackLab tem o objetivo de contribuir com o processo de Redesign da Plataforma Mapas.

## **Escopo**

- [x] Discutir sobre pontos observados na pré-análise 6
- [x] Pactuar próximos pontos a serem a

[2022-03-22 11:53] RaniGub commented on #278
Acho que vale parear com o @elpadrejorge

[2022-03-22 11:55] RaniGub commented on #278
@pauloamoreira tente trabalhar com a apresentação para o dia 28 ou 29/03. Marcar com a Vanessa.

[2022-03-22 12:06] RaniGub opened #281 "Pré-análise da Board: Histórias e Jornadas | Reunião Hacklab 6"
## **Objetivo**

**Como** designer
**Quero** fazer uma pré-análise das Histórias e Jornadas das pessoas usuárias
**Para** participar da reunião do Hacklab com contexto do que foi produzido

## **Contexto**

Realizar pré-análise da Board do Redesign do Mapa. 23/03/2022

## **Escopo**

- [x] Pré-análise das Histórias e Jornadas Redesign Mapas

## Observações
Ata de acompanhamento das reuniões:
https

[2022-03-22 12:12] RaniGub commented on #281
@pauloamoreira marquei a @MayaraMonte e @caldy94 para estarem juntas com você na pré-análise dessa semana.

[2022-03-22 16:50] RaniGub commented on #269
A Ananda, Gerente de Projetos das Linhas de Cuidado de Saúde do Trabalhador, informou que o orçamento disponível para as entregas das 3 linhas de cuidado para este ano são limitados e serão dedicas a contratação de conteudista.

O grupo de planejamento, composto também pela Sheila Fontenele da educação, compreende que o Design é um processo fim, concretizado na operacionalização de artefatos, mesm

[2022-03-22 16:50] #269 closed, assigned to pauloamoreira

[2022-03-22 17:02] RaniGub commented on #271
Repassei para o @pauloamoreira um alinhamento que tinha realizado com a Vanessa sobre nossa colaboração nesse início de processo. Acordamos que será marcada uma reunião para apresentação do processo no dia 28 ou 29/03.
A ideia é que caso surja alguma dúvida durante a elaboração desse fluxo metodológico, a Vanessa seja consultada como referência.

[2022-03-22 17:03] RaniGub commented on #278
Essa tarefa está contemplada na #271 e será encerrada.

[2022-03-22 17:03] #278 closed, assigned to pauloamoreira, elpadrejorge

[2022-03-23 11:50] RaniGub opened #282 "Inception de Projeto e Produto"
## **Objetivo**

**Como** designer
**Quero** participar da Inception de Projeto e Produto
**Para** validar o processo

## **Contexto**

Com a proximidade da Oficina de Design da ESP, estamos validando uma nova versão da Inception que apresenta relações diretas com o produto/funcionalidades desejadas.

## **Escopo**

- [x] Encontro (22/03 - 14h-17h)
- [x] Encontro (23/03 - 8h30-12h)
- [x] Encontro

[2022-03-23 11:59] elpadrejorge opened #283 "Estudo de metodologia de priorização complementar a GUT (BASICO)"
## **Objetivo**

**Como** designer
**Quero** estudar a viabilidade de uma adaptação da metodologia BASICO/GUT
**Para** auxiliar na dinâmica de priorização dos problemas na Oficina de Serviços da ESP

## **Contexto**

## **Escopo**

- [x] estudar possibilidades já existentes
- [x] estudar a GUT já utilizada pela oficina
- [x] propor adaptações
- [x] testar

## Observações
https://docs.google.com/sp

[2022-03-23 11:59] elpadrejorge opened #284 "Estudo de metodologia de priorização complementar a GUT (BASICO)"
## **Objetivo**

**Como** designer
**Quero** estudar a viabilidade de uma adaptação da metodologia BASICO/GUT
**Para** auxiliar na dinâmica de priorização dos problemas na Oficina de Serviços da ESP

## **Contexto**

## **Escopo**

- [ ] estudar possibilidades já existentes
- [ ] estudar a GUT já utilizada pela oficina
- [ ] propor adaptações
- [ ] testar

## Observações
https://docs.google.com/sp

[2022-03-23 12:00] #284 closed, assigned to elpadrejorge

[2022-03-23 16:58] RaniGub opened #285 "Proposta metodológica para compreensão de tarefas e priorizações para os times de produtos"
## **Objetivo**

**Como** designer
**Quero** propor um fluxo metodológico
**Para** ter melhor visão das integrações de tarefas dos times de produto e suas priorizações

## **Contexto**
O Designlab fará uma proposta de metodologia para relacionamento entre as atuais tarefas dos times de produtos com objetivo de apoiar a compreensão do que deve ser priorizado com base nas Histórias dos Usuários e a

[2022-03-23 16:59] RaniGub commented on #285
@elpadrejorge

[2022-03-23 18:00] RaniGub commented on #284
Contemplada na #285

[2022-03-23 18:19] pauloamoreira opened #286 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.8.1)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-03-23 18:20] pauloamoreira commented on #286
Oficina Realizada. Tarefa finalizada
![photo5032797116895963582](https://user-images.githubusercontent.com/79201419/159769221-699d4138-2e77-458e-86cb-aac8ad08910c.jpg)
.

[2022-03-23 18:21] #286 closed, assigned to pauloamoreira

[2022-03-23 18:25] pauloamoreira opened #287 "2. Apoiar a Construção da Política Estadual de Transplante (item 2.8.2)"
## **Objetivo**

**Como** designer
**Quero** apoiar a construção da Política Estadual de Transplante
**Para** nortear da elaboração do Plano Estadual de Doação e Transplante do Ceará (2022-2023)

## **Contexto**

- A Secretaria Executiva de Políticas de Saúde - SEPOS/SESA, solicitou à Superintendência da ESP/CE, por meio do ofício 10/2022, apoio do DesignLab/Felicilab para facilitação na construçã

[2022-03-23 19:47] RaniGub commented on #180
@uira vamos falar sobre isso na próxima segunda? Já respondi os seus pontos, mas preciso validar o processo e perfil com o @wforte88 e @victorMagalhaesPacheco

[2022-03-24 11:51] MayaraMonte commented on #283
Terá continuidade da #285

[2022-03-24 11:51] #283 closed, assigned to elpadrejorge

[2022-03-28 17:17] elpadrejorge commented on #285
Com base na conversa em que tivemos na reunião do tático de hoje, 28/03, alguns ajustes precisam ser feitos no fluxo metodológico para que o board fique disponível para o time do tático até amanhã.

[2022-03-28 18:06] RaniGub commented on #287
Oi @pauloamoreira, essa tarefa se refere ao terceiro momento da Oficina? Ia sugerir para você consolidar no épico das oficinas o link das gravações e árvores geradas.

[2022-03-28 18:19] RaniGub commented on #280
Escopo atualizado. @pauloamoreira pactuei com a Luiza que é importante no final de cada reunião pactuarmos o que será feito na pré-análise da semana seguinte e que a board com esse acordo deve dispor das informações até o final da manhã de toda quarta-feira.

[2022-03-28 18:21] pauloamoreira commented on #287
.exatamente, @RaniGub . depois dessa última oficina eu incluo esse comentário com todos os links.

[2022-03-28 18:27] pauloamoreira commented on #280
.ok, @RaniGub .

[2022-03-28 18:38] RaniGub commented on #206
@uira fico imaginando se ainda faz sentido continuarmos com essa tarefa... ai voltamos aquele papo de estarmos limitados às funcionalidades e não fazermos o processo de descobrir as potencialidades dos produtos.

Tanto para o caminho de entendermos quais passos a seguir com o que já se tem de tarefas e como integrá-las, quanto para traçar a projeção de entregas nos projeto... teremos o momento de

[2022-03-28 18:43] pauloamoreira commented on #271
.após conversa com @RaniGub, entendemos que é importante rodar uma Árvore de Problemas + Inception dessa demanda, de modo a refinar o problema e obter clareza sobre as entregas que podem ser realizadas. nesse sentido, entrei em contato com a Vanessa Araújo (Gerência de Educação Profissional em Saúde) para propor esse encaminhamento e ela me informou que a Mara Pinheiro irá entrar em contato comigo

[2022-03-28 18:54] RaniGub commented on #204
@uira fico imaginando se ainda faz sentido continuarmos com essa tarefa... ai voltamos aquele papo de estarmos limitados às funcionalidades e não fazermos o processo de descobrir as potencialidades dos produtos.

Nesse sentido, tanto para o caminho de entendermos quais passos a seguir com o que já se tem de tarefas e como integrá-las, quanto para traçar a projeção de entregas nos projeto... teremo

[2022-03-28 19:20] RaniGub commented on #155
@MayaraMonte vamos acrescentar um espaço na nossa bateria de testes que contemple as histórias. Considerando a metodologia proposta na imersão do Mapas são elas que irão gerar o teste com base na necessidade das pessoas. Queria que você desse uma revisitada para propor a melhor forma da gente abordar isso no documento.

[2022-03-28 19:31] RaniGub commented on #155
Ah @MayaraMonte amanhã você conversa com a @caldy94 para fazer uma pré-validação das histórias [dessa board](https://www.figma.com/file/pXE9G20Xe4v7LwaAEyduzr/Redesign-Mapas---Imers%C3%A3o?node-id=0%3A1) que podem integrar a bateria de futuros testes.

[2022-03-28 20:10] pauloamoreira commented on #271
.em conversa com Mara Pinheiro, em 28/03, apresentei nossa proposta para um momento para rodar uma Árvore de Problemas + Inception. ela disse que iria alinhar com a Vanessa Araújo, pois estão no momento de consolidar um grupo que irá seguir no processo de construção coletiva e que a nossa atividade já poderia ser aplicada nesse grupo. ficou de retomar o contato após esse alinhamento.

[2022-03-29 00:34] RaniGub commented on #274
@caldy94 nesta terça (29/03) terei reunião com a Gaby para pontuar algumas coisas. Lhe indico quando a atualização for realizada.

[2022-03-29 01:15] RaniGub opened #288 "Organização das gravações de Fev e Mar/2022 | DesignLab"
## **Objetivo**

**Como** gestor do DesignLab
**Quero** organizar todos as gravações no drive
**Para** disponibilizar para as pessoas que participaram dos processos do Lab

## **Contexto**
Nas últimas semanas ocorreram uma série de encontros importantes que devem estar disponíveis e para as pessoas que não conseguiram participar de todos. Dentre eles tem-se a imersão no Redesign do Mapas, as Ofici

[2022-03-29 15:20] MayaraMonte commented on #276
Aguardando respostas dos facilitadores para finalizar a tarefa

[2022-03-29 16:17] pauloamoreira commented on #271
.reunião online com Vanessa Araújo e Mara Pinheiro marcada para o dia 29/03, para alinhamento.

[2022-03-29 19:07] pauloamoreira commented on #271
.em reunião realizada, no dia 29/03, com a presença de Vanessa Araújo, Mara Pinheiro e outras pessoas da Gerência de Educação Profissional em Saúde e o Clayton da EaD.  Apresentei as ferramentas Árvores de Problemas e Inception, considerando os resultados esperados nesses dois processos. Vanessa apontou preocupação com o fato de que, por se tratar de ferramenta digital, poderia oferecer obstáculos

[2022-03-29 19:23] caldy94 commented on #288
Tarefa concluída! @RaniGub, checar se tudo está correto, por favor.

[2022-03-29 20:39] RaniGub commented on #274
@caldy94 me lembre amanhã da gente conversar, o projeto foi fechado e precisa de mínimas atualizações do time de projeto.

[2022-03-29 20:41] RaniGub commented on #285
Hoje o processo foi atualizado, amanhã iremos disponibilizar para o time tático após refinamento.

[2022-03-29 20:43] RaniGub commented on #288
Ok Caldy, obg. Paulo você pode atualizar a memória das Oficinas nesse documento. Vamos pensar numa organização que faça sentido para todes, considerando as informações sensíveis como você levantou .

[2022-03-29 20:43] RaniGub commented on #282
Tarefa encerrada.

[2022-03-29 20:44] #282 closed, assigned to MayaraMonte, RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-03-30 11:27] caldy94 commented on #274
@RaniGub tudo bem, vamos falar após a daily, qualquer coisa to presencial

[2022-03-30 11:50] #180 closed, assigned to RaniGub

[2022-03-30 15:15] MayaraMonte opened #289 "Apresentação da reuniãoZONA"
## **Objetivo**

**Como** gestor
**Quero** preparar artefatos gráficos
**Para** fazer divulgação e apresentação da reuniãoZONA

## **Contexto**

- A 5ª reuniãoZONA do FeliciLab vai acontecer no dia 07 de abril de 2022

## **Escopo**

- [x] Preparar folder de divulgação
- [x] Preparar programação para divulgação
- [x] Preparar apresentação

## Observações
[Links de apoio e informações adicionais](h

[2022-03-30 15:42] MayaraMonte opened #290 "Integrar histórias da imersão do mapa a bateria de futuros testes"
## **Objetivo**

**Como** gestor
**Quero** preparar as histórias de usuário da imersão do mapa
**Para** gerar material para futuros teste de usabilidade

## **Contexto**

- Durante a imersão ao mapa da saúde surgiram várias histórias de usuários que vieram de perspectivas diferentes, pensando em aproveitar as informações extraídas deste momento da melhor forma possível vamos adicionar essas histór

[2022-03-30 16:58] caldy94 commented on #274
Slides atualizados. Link? https://docs.google.com/presentation/d/1ajIpY4otU_ZOLcicO9AGVVfk4glR_ElNWbVqtatakcQ/edit#slide=id.g120e2b30ff0_0_0

[2022-03-31 11:39] pauloamoreira commented on #287
.oficina realizada.
![WhatsApp Image 2022-03-30 at 11 40 31](https://user-images.githubusercontent.com/79201419/161046717-b697fa61-bd79-42ef-a30c-0685264a902c.jpeg)

[2022-03-31 11:39] #287 closed, assigned to pauloamoreira

[2022-03-31 11:40] #234 closed, assigned to pauloamoreira

[2022-03-31 12:40] MayaraMonte opened #291 "Redesign do fluxo de metodologia de trabalho Felicilab"
## **Objetivo**

**Como** designer
**Quero** redesenhar o fluxo de trabalho do FeliciLab
**Para** tornar o trabalho cíclico

## **Contexto**

- O desenho utilizado para compor a dinâmica de entendimento do fluxo de trabalho do FeliciLab que foi apresentado no MVP 1 do onboarding foi apresentado de forma linear, precisamos dispor de uma visualização cíclica para que o processo de desenvolvimento po

[2022-04-01 17:14] #280 closed, assigned to nobody

[2022-04-01 17:43] #281 closed, assigned to MayaraMonte, pauloamoreira, caldy94

[2022-04-01 17:44] #285 closed, assigned to RaniGub, elpadrejorge

[2022-04-01 17:54] MayaraMonte commented on #291
Atividade finalizada, aguardando revisão

[2022-04-01 17:56] caldy94 commented on #291
Trabalho finalizado, aguardando aprovação. imagem no link: https://www.figma.com/file/17Pe21H4iKHG4KgVq8OBQM/Metodologia-de-trabalho-Felicilab?node-id=0%3A1

[2022-04-01 17:59] RaniGub opened #292 "Aplicação de melhorias na Inception de Projetos"
## **Objetivo**

**Como** designer
**Quero** propor melhorias no fluxo da Inception
**Para** otimizar o processo de estruturação de projetos

## **Contexto**
Após encontros realizados, em especial do dia (01/04/20022) o Designlab identificou oportunidades de melhorias no fluxo da Inception e fará as devidas adequações no arquivo modelo.

## **Escopo**

- [X] Aplicar melhorias

## Observações
https

[2022-04-01 18:09] RaniGub opened #293 "Estabelecer Fluxo para realização de Inceptions"
## **Objetivo**

**Como** designer
**Quero** propor um fluxo para aplicação das Inceptions
**Para** disponibilizar um ambiente adequado para as discussões

## **Contexto**
É preciso esclarecer os passos necessário que irão anteceder a realização das Inceptions com os Stakeholders Externos (e internos).

## **Escopo**

- [x] Propor Fluxo
- [ ] Apresentar ao Uirá como pauta da Reunião Estratégica

B

[2022-04-01 18:10] RaniGub commented on #293
@pauloamoreira @elpadrejorge considerar atividade para início da próxima semana.

[2022-04-01 18:18] RaniGub opened #294 "Inception do Projeto Mapas e Soluções"
## **Objetivo**

**Como** designer
**Quero** mobilizar os times de projeto e produtos
**Para** realização da Inception do Mapas e Soluções

## **Contexto**
A Inception foi realizada com Educação Permanente, Residência Multiprofissional, DIDES, RH, GEPRO e Secretaria Acadêmica. A Inception finalizou nas histórias. Agora é necessário que os times revisem os achados e concluam a Board que dará o dire

[2022-04-01 18:21] RaniGub commented on #271
@pauloamoreira essa atividade agora pode ser desdobrada em mais de uma issue, considerando também a realização da Inception. Vamos atualizar o escopo e dar encaminhamento para o que já foi concluído.

[2022-04-01 18:24] RaniGub commented on #291
@pauloamoreira e @elpadrejorge por gentileza, alinhem essa proposta quando possível. Tanto na camada de fluxo quanto estética.

[2022-04-01 18:24] RaniGub commented on #274
Link de apresentação compartilhado com @gabrieladamarques e @uira

[2022-04-01 18:25] #274 closed, assigned to RaniGub, caldy94

[2022-04-01 18:27] RaniGub commented on #207
Essa tarefa será rediscutida com o Uirá considerando nossa nova compreensão sobre os produtos.

[2022-04-01 18:27] #207 closed, assigned to nobody

[2022-04-01 18:29] RaniGub commented on #87
Conversarei com o @wforte88 para dar o contexto de onde pausamos.

[2022-04-01 18:31] RaniGub commented on #175
Conversarei com o @wforte88 para dar o contexto de onde pausamos.

[2022-04-01 18:32] RaniGub commented on #225
Épico encerrado.

[2022-04-01 18:32] #225 closed, assigned to pauloamoreira

[2022-04-01 18:33] RaniGub commented on #155
@MayaraMonte por gentileza, atualize o escopo desse Épico com base nas novas projeções de testes. Aproxime a @caldy94 para essa atualização.

[2022-04-01 18:51] RaniGub commented on #265
Antes da atividade ser retomada é precisa saber com a @thaistoscano se houve algum retorno sobre a integração com o RH da Sesa ou se atendemos em um MVP futuro.

[2022-04-01 18:52] RaniGub commented on #264
@thaistoscano tem esse contexto caso as atividades do Fluxo retorne. A ideia é possibilitar o resgate de informações pelo CNS ou CPF no início da experiência.

[2022-04-01 18:53] #160 closed, assigned to pauloamoreira

[2022-04-01 18:53] #159 closed, assigned to pauloamoreira

[2022-04-01 18:53] #158 closed, assigned to pauloamoreira

[2022-04-04 12:44] pauloamoreira commented on #291
.em reunião com @MayaraMonte e @caldy94 foram sugeridos aperfeiçoamentos. no aguardo de nova versão.

[2022-04-07 00:03] caldy94 commented on #291
Tarefa conclúida, aguardando pareamento. Link atualizado: https://www.figma.com/file/17Pe21H4iKHG4KgVq8OBQM/Metodologia-de-trabalho-Felicilab?node-id=0%3A1

[2022-04-08 13:57] caldy94 commented on #291
Tarefa atualizada. https://www.figma.com/file/17Pe21H4iKHG4KgVq8OBQM/Metodologia-de-trabalho-Felicilab?node-id=0%3A1

[2022-04-08 18:19] caldy94 commented on #291
Outra atualização após pareamento com @pauloamoreira.

[2022-04-11 12:11] pauloamoreira commented on #155
.a projeção de testes só será possível após a reestruturação do time do Mapa. aguardaremos orientações da @thaistoscano para retomar essa tarefa.

[2022-04-11 14:27] caldy94 commented on #291
Tarefa atualizada e finalizada.

[2022-04-12 12:00] MayaraMonte commented on #291
Tarefa ainda não finalizada, o conteúdo está pendente de validação com a @gabrieladamarques

[2022-04-12 16:27] elpadrejorge commented on #293
Iniciei a criação deste fluxo nesta board.

[2022-04-13 17:12] pauloamoreira commented on #293
Aperfeiçoamentos feitos em pareamento com @elpadrejorge em 13.04.2022. Agora iremos validar com Adins e @uira

[2022-04-13 17:23] pauloamoreira commented on #271
em reunião do Estratégico, no dia 08.04.2022, foi decidido que Flavianne Soares (DITEC) irá marcar reunião com a Gerência de Educação Profissional em Saúde para alinhar datas para os passos seguintes.

[2022-04-18 13:01] pauloamoreira commented on #288
.será necessário aguardar o @RaniGub (que criou a pasta) voltar de férias para acessarmos as pastas do drive com privilégios de edição, para finalizarmos essa tarefa.

[2022-04-18 17:38] elpadrejorge opened #295 "Apoiar a Transcrição/revisão de histórias das tarefas da Central de Informações"
## **Objetivo**

**Como** designer
**Quero** mediar a transcrição das histórias da Central de Informações no Figma
**Para** Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenh

[2022-04-18 19:30] caldy94 commented on #192
Dei continuidade a essa tarefa e já fiz um esboço do ciclo. Esperando um feedback de @pauloamoreira
![ciclo-inovação](https://user-images.githubusercontent.com/101121073/163865238-13d2d48d-4204-4d1f-8d26-410b3e91110d.jpg)

[2022-04-18 19:54] elpadrejorge commented on #200
@MayaraMonte essa issue já foi fechada, por ti mesmo, pelo que parece. Mas ainda tá no tudão. Falta algo? vlw!

[2022-04-19 14:05] pauloamoreira commented on #192
@caldy94 pode seguir no redesign dos outros 6 slides. analisaremos o conjunto assim que você terminar.

[2022-04-20 19:32] caldy94 commented on #192
Protótipo atualizado. Gostaria de um feedback do @pauloamoreira. Fiz os 5 primeiros slides em um só esquema (abaixo), os outros 2 não sei como encaixar.
![ciclo-inovação](https://user-images.githubusercontent.com/101121073/164308456-5a162e4b-f521-456b-9786-0469848509fd.jpg)

[2022-04-22 10:56] pauloamoreira commented on #192
@caldy94 com já havia orientado, o teste dos diagramas em um único esquema gráfico deve ser feito após a conclusão dos diagramas iniciais, de modo a atender a escopo da tarefa antes de fazer experimentações fora desse escopo. o modelo mind map não atende as necessidades de uso em apresentações por ser de difícil manejo - dificultando a compreensão para leitores distantes do material. faça os diagr

[2022-04-22 10:59] pauloamoreira commented on #291
@MayaraMonte você já conseguiu parear com a @gabrieladamarques sobre essa tarefa?

[2022-04-22 11:01] pauloamoreira commented on #293
@elpadrejorge como estou doente, por favor apresente esse fluxo da reunião do estratégico e me dê feedback sobre isso.

[2022-04-22 11:13] pauloamoreira commented on #293
@elpadrejorge como o @RaniGub retorna na próxima semana, vamos avaliar o progresso dos testes com a inception de projetos e validar/aperfeiçoar esse fluxo com ele antes de apresentarmos para ADINS e o @uira.

[2022-04-22 13:18] elpadrejorge commented on #295
Todas as histórias foram transcritas. O modelo do designlab foi disponibilizado para o restante dos times realizarem suas transcrições e foram criadas boards para cada time com cards modelo.

[2022-04-25 11:19] caldy94 commented on #192
Slides atualizados. Ainda não consegui encaixar os dois últimos, pois não vi sentido, mas quero  mostrar como está até agora. O link dos slides está aqui? https://drive.google.com/drive/u/0/folders/1LxVMoeWUbX4uLTdOUhjoOaUHvCMGjE5H

[2022-04-25 12:40] MayaraMonte opened #296 "Apoiar a gestão de projetos com o fluxo de chegada de demandas"
## **Objetivo**

**Como** gestor
**Quero** ajustar o fluxo de chegada de demandas
**Para** facilitar o entendimento de todes sobre nosso processo

## **Contexto**

- Durante o onboarding apresentamos um fluxo resumido da chegada de demandas, após passar por uma avaliação identificamos que algumas etapas do processo não foram incluídas.

## **Escopo**

- [ ] Revisar as informações do primeiro fluxo

[2022-04-25 13:05] RaniGub commented on #288
Pasta compartilhada com @pauloamoreira

[2022-04-25 13:06] RaniGub commented on #271
Estamos aguardando posicionamento acerca da reunião para dar continuidade da tarefa.

[2022-04-25 13:10] RaniGub opened #297 "Transcrição das issues do board do GitHub das Narrativas"
@caldy94 commented on [Fri Apr 22 2022](https://github.com/EscolaDeSaudePublica/isus-app/issues/723)

### **Objetivo**
Como designer
Quero transcrever issues pendentes do board das narrativas
Para melhor organizar o ambiente de trabalho

### **Contexto**
Existem issues desatualizadas e/ou não feitas presentes nos boards de cada equipe

### **Escopo**
 Analisar issues pendentes
 Encontrar tarefas i

[2022-04-25 13:19] RaniGub commented on #297
Mesma tarefa #723 do repositório do iSUS. Foi movida e apagada de lá.

[2022-04-26 11:22] RaniGub commented on #291
Gente não é necessário pareamento com a Gabi para esse fluxo. Foi inicialmente desenhado pelo Uirá com ajuda do Dan. Depois refinei com o Uirá. É importante observar se no modelo atual estão previstas as inceptions da forma que estamos fazendo. Sugestão:
1 - Atualizar a versão original
2 - Espelhar atualizações na versão cíclica

@pauloamoreira por favor, alinhe nessa terça de manhã com a Caldy (2

[2022-04-26 11:27] RaniGub commented on #192
@pauloamoreira por gentileza, ontem a Caldy me apresentou algumas alterações e sugeri algumas coisas para ela, mas não consegui ver com atenção. Hoje pela manhã (26/04) após a daily tente ver isso com ela também.

[2022-04-26 19:21] caldy94 commented on #192
Fiz uma versão interativa no Figma: https://www.figma.com/file/HpCrmetFZndLcqfYbsvd1j/ciclo-de-vida-da-inova%C3%A7%C3%A3o?node-id=0%3A1

[2022-04-27 11:48] caldy94 commented on #291
Ciclo atualizado com base nas mudanças propostas pelo @pauloamoreira https://www.figma.com/file/17Pe21H4iKHG4KgVq8OBQM/Metodologia-de-trabalho-Felicilab?node-id=0%3A1

[2022-04-27 14:10] #292 closed, assigned to RaniGub, pauloamoreira, elpadrejorge

[2022-04-27 14:28] RaniGub commented on #297
@caldy94 alinhe com o Paulo essa atividade. Conversei com ele hoje. Dê prioridade a ela.

[2022-04-27 15:10] RaniGub commented on #295
Escopo de tarefa editado, será criada uma tarefa para cada transcrição/revisão.

[2022-04-27 15:12] RaniGub opened #298 "Transcrição/revisão de histórias das tarefas do iSUS"
## **Objetivo**

**Como designer
**Quero mediar a transcrição das histórias do iSUS no Figma
**Para Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenharia reversa" através de

[2022-04-27 15:14] RaniGub opened #299 "Apoiar a Transcrição/revisão de histórias das tarefas do Mapa"
## **Objetivo**

**Como** designer
**Quero** mediar a transcrição das histórias do Mapa da Saúde no Figma
**Para** Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenharia reve

[2022-04-27 15:16] RaniGub opened #300 "Apoiar a Transcrição/revisão de histórias do time de Narrativas"
## **Objetivo**

**Como designer
**Quero mediar a transcrição das histórias do time de Narrativas no Figma
**Para Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenharia rever

[2022-04-27 15:20] RaniGub opened #301 "Apoiar a transcrição/revisão de histórias das tarefas do DataLab"
## **Objetivo**

**Como designer
**Quero mediar a transcrição das histórias do DataLab no Figma
**Para Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenharia reversa" através

[2022-04-27 18:54] caldy94 commented on #192
Slides atualizados, com dois anexos finais: https://drive.google.com/file/d/1oC_1TDp6MT_wu1BZN1bYozO07faYkeID/view?usp=sharing

[2022-04-27 18:56] caldy94 commented on #295
Tarefa atualizada no link acima!

[2022-04-27 19:45] elpadrejorge commented on #295
Board da Central de Informações transcrito.

Link no figma

https://www.figma.com/file/iAsGWDwzboG64K2j6H28UE/Transcri%C3%A7%C3%A3o-das-issues-do-board-do-GitHub-da-Central-de-Informa%C3%A7%C3%B5es-27.04.2022?node-id=0%3A1

[2022-04-27 19:46] elpadrejorge commented on #295
@pauloamoreira @caldy94 @RaniGub Transferi todos os boards para a pasta Inceptions, dentro do time DesignLab no Figma, para tira-las dos meus rascunhos.

[2022-04-28 11:34] RaniGub commented on #295
Escopo da tarefa editado.

[2022-04-28 11:39] RaniGub opened #302 "Inception do Projeto Mapas e Soluções - Atribuição de Confiança, Valor e Esforço"
## **Objetivo**

**Como** designer
**Quero** realizar a etapa de atribuição de confiança, valor e esforço
**Para** complementação da Inception

## **Contexto**
A Inception foi realizada com Educação Permanente, Residência Multiprofissional, DIDES, RH, GEPRO e Secretaria Acadêmica. A Inception finalizou nas histórias. Agora é necessário que os times revisem os achados e concluam a Board que dará o

[2022-04-29 16:43] caldy94 commented on #300
Tarefa concluída.

[2022-04-29 16:56] #297 closed, assigned to nobody

[2022-04-29 16:56] pauloamoreira commented on #297
.o progresso dessa tarefa deve ser acompanhado na issue #300

[2022-04-29 16:57] pauloamoreira commented on #300
O escopo dessa tarefa correspondia, originalmente, a tarefa #723, do repositório iSUS-App, mas foi fechada lá e copiada para o repositório do DesignLab, com a atribuição de #297. O progresso dessa atividade, no entanto, deve ser acompanhado aqui.

[2022-04-29 17:02] pauloamoreira commented on #298
Uma reunião com @Laysacunha para o dia 28.04.2022, que tinha como propósito a colaboramos na transcrição das tarefas para o figma, não pode ser realizada. Permanecemos no aguardo da indicação de novo dia e horário para darmos prosseguimento a essa análise e transcrição.

[2022-04-29 17:25] elpadrejorge commented on #299
Issues organizadas, etiquetadas e já alocadas no board do figma. Aguardando revisão. @RaniGub @pauloamoreira

[2022-05-02 11:42] RaniGub commented on #212
A tarefa será encerrada e retomada quando o cenário for pertinente. Ficaram como pendências a Inteligência e Tecnologia.

[2022-05-02 11:42] #212 closed, assigned to pauloamoreira

[2022-05-02 11:49] #218 closed, assigned to pauloamoreira

[2022-05-02 11:51] RaniGub commented on #212
A tarefa será encerrada e retomada quando o cenário for pertinente. Ficaram como pendências a Inteligência e Tecnologia.

[2022-05-02 11:53] RaniGub commented on #271
Retorno da Flaviane: A reunião ainda não foi priorizada. Aguardaremos atualizações.

[2022-05-02 11:55] RaniGub commented on #291
@caldy94 conversei com o @pauloamoreira para conversar sobre essa tarefa com você assim que possível.

[2022-05-02 12:04] #288 closed, assigned to pauloamoreira, caldy94

[2022-05-02 12:05] RaniGub commented on #298
Aguardando feedback da Laysa para momento oportuno.

[2022-05-02 12:24] RaniGub opened #303 "Sequenciador | Inception de Projetos"
## **Objetivo**

**Como** designer
**Quero** rodar o sequenciador com as tarefas de integrações
**Para** Realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Para clarificar a EAP original do Projeto Mapas e Soluções e dar apoio à tomada de decisão de quais passos devem ser tomadas pelos times do Felicilab, será realizada uma "engenharia reversa" atrav

[2022-05-02 12:32] pauloamoreira opened #304 "Artigo sobre oficinas Design de Serviços para Construção de Políticas Públicas"
## **Objetivo**

**Como** designer do DesignLab
**Quero** escrever um artigo
**Para** divulgar o processo e os resultados das oficinas de Design de Serviços para Construção de Políticas Públicas.

## **Contexto**
- Foi solicitado, por Erica Pinho (Narrativas), ao designer do DesignLab que facilitou as oficinas de aplicação de Árvores de Problemas em encontros de construção das Políticas Públicas d

[2022-05-02 12:37] RaniGub opened #305 "Relacionamento das histórias do iSUS | Sequenciador"
## **Objetivo**

**Como** designer
**Quero** mediar o relacionamento das tarefas do iSUS com as priorizações do sequenciador
**Para** realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

#

[2022-05-02 12:43] RaniGub opened #306 "Organizar histórias do iSUS que precisam de revisão de escopo"
## **Objetivo**

**Como** designer
**Quero** organizar as histórias do iSUS que precisam de revisão de escopo
**Para** otimizar o processo de desenvolvimento da tarefa

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

## **Escopo**

- [ ] Organizar as tarefas do iSU

[2022-05-02 12:54] caldy94 commented on #291
Ciclo editado, aguardo revisão do @RaniGub

[2022-05-02 13:25] caldy94 opened #307 "Relacionamento das histórias da Central de informações | Sequenciador"
## **Objetivo**

**Como** designer
**Quero** mediar o relacionamento das tarefas da Central de Informações com as priorizações do sequenciador
**Para** Para realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

- Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas

[2022-05-02 13:29] caldy94 opened #308 "Relacionamento das histórias do Mapas da Saúde | Sequenciador"
## **Objetivo**

**Como** designer
**Quero** mediar o relacionamento das tarefas do Mapas da Saúde com as priorizações do sequenciador
**Para** Para realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

- Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no proc

[2022-05-02 13:31] caldy94 opened #309 "Relacionamento das histórias das Narrativas | Sequenciador"
## **Objetivo**

**Como** designer
**Quero** mediar o relacionamento das tarefas das Narrativas com as priorizações do sequenciador
**Para** Para realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

- Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no process

[2022-05-02 13:32] caldy94 opened #310 "Relacionamento das histórias do DataLab | Sequenciador"
## **Objetivo**

**Como** designer
**Quero** mediar o relacionamento das tarefas do DataLab com as priorizações do sequenciador
**Para** Para realizar o match das histórias do GitHub com as histórias mapeadas na Inception.

## **Contexto**

- Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo pr

[2022-05-02 19:07] caldy94 commented on #192
Slides novamente atualizados, juntamente com o protótipo do figma. Esperando aprovação de @RaniGub

[2022-05-03 11:45] #302 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-05-03 16:32] caldy94 opened #311 "Organizar histórias da Central de Informações que precisam de revisão de escopo"
## **Objetivo**

**Como** designer
**Quero** organizar as histórias da Central de Informações que precisam de revisão de escopo
**Para** otimizar o processo de desenvolvimento da tarefa

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

## **Escopo**

- [ ] Organizar

[2022-05-03 16:37] caldy94 opened #312 "Organizar histórias do Mapas de Saúde que precisam de revisão de escopo"
## **Objetivo**

**Como** designer
**Quero** organizar as histórias do Mapas de Saúde que precisam de revisão de escopo
**Para** otimizar o processo de desenvolvimento da tarefa

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

## **Escopo**

- [ ] Organizar as tare

[2022-05-03 16:38] caldy94 opened #313 "Organizar histórias das Narrativas que precisam de revisão de escopo"
## **Objetivo**

**Como** designer
**Quero** organizar as histórias das Narrativas que precisam de revisão de escopo
**Para** otimizar o processo de desenvolvimento da tarefa

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

## **Escopo**

- [ ] Organizar as tarefas

[2022-05-03 16:39] caldy94 opened #314 "Organizar histórias do DataLab que precisam de revisão de escopo"
## **Objetivo**

**Como** designer
**Quero** organizar as histórias do DataLab que precisam de revisão de escopo
**Para** otimizar o processo de desenvolvimento da tarefa

## **Contexto**

Após a conclusão do sequenciador da Inception de Projetos, é preciso mediar a relação entre as histórias das tarefas do GitHub com as mapeadas no processo principal

## **Escopo**

- [ ] Organizar as tarefas do

[2022-05-06 12:30] RaniGub commented on #214
O Épico será finalizado. Aguardamos a compreensão de como o movimento continuará com articulação com a comunidade e Hacklab para a criação de um novo.

[2022-05-06 12:30] #214 closed, assigned to RaniGub, pauloamoreira

[2022-05-06 12:54] RaniGub commented on #134
Foi iniciado um movimento com o Hacklab para traçar a AI ideal. Compreendemos que será um movimento de melhoria colaborativa. Só precisamos alinhar como essa evolução irá acontecer com a troca de experiência entre os times.

[2022-05-06 12:54] #134 closed, assigned to RaniGub

[2022-05-09 12:35] caldy94 opened #315 "Criar sumário para a Board da Inception no Figma"
## **Objetivo**

**Como** usuário
**Quero** criar um sumário interativo na Board da Inception
**Para** que eu me localize dentro da estrutura, conseguindo acompanhar o processo de inception.

## **Contexto**

- A Board da Inception no Figma encontra-se organizada de forma não linear e com muitos detalhes.

## **Escopo**

- [ ] Organizar as etapas em ordem
- [ ] Criar elementos clicáveis para inter

[2022-05-09 12:42] caldy94 opened #316 "Criar Board de relacionamento entre a projeção de entregas da inception e a EAP do Mapa e Soluções"
## **Objetivo**

**Como** designer
**Quero** criar a board que mostre o relacionamento entre a projeção de entregas da inception e a EAP do Mapa e Soluções
**Para** tornar possível visualizar quais tarefas do mapa já foram realizadas.

## **Contexto**

Considerando a tabela da EAP na Inception Mãe, é necessário transcrever em novo board considerando informações da EAP do projeto Mapa.

## **Escopo

[2022-05-10 13:52] pauloamoreira opened #317 "Oficina de Design de Serviços ESP/CE 2022"
## **Objetivo**

**Como** designer de experiência
**Quero**formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas

[2022-05-10 16:40] RaniGub commented on #316
@caldy94 você pode atualizar o escopo dos passos dessa tarefa?

[2022-05-10 16:43] RaniGub commented on #304
Oi @pauloamoreira, aqui já foi né?

[2022-05-10 16:47] pauloamoreira commented on #304
@RaniGub  sim. pode fechar.

[2022-05-11 10:59] caldy94 commented on #316
A board está criada, mas gostaria que o grupo validasse o que cada entrega oferece (marcar os quadrados de azul), porque eu sozinha não consigo fazer essa avaliação. @RaniGub, @pauloamoreira, @elpadrejorge

[2022-05-11 11:50] RaniGub commented on #315
Tarefa encerrada, não há necessidade do esforço do time de Design nesse momento.

[2022-05-11 11:50] #315 closed, assigned to caldy94

[2022-05-11 12:18] #299 closed, assigned to elpadrejorge

[2022-05-11 12:19] #304 closed, assigned to pauloamoreira

[2022-05-11 12:20] #279 closed, assigned to MayaraMonte

[2022-05-11 12:20] #295 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-05-11 12:21] #301 closed, assigned to pauloamoreira, caldy94

[2022-05-11 12:21] #300 closed, assigned to pauloamoreira, caldy94

[2022-05-11 12:21] #246 closed, assigned to pauloamoreira

[2022-05-11 12:21] #260 closed, assigned to MayaraMonte, pauloamoreira

[2022-05-11 12:22] #203 closed, assigned to MayaraMonte

[2022-05-11 12:27] #202 closed, assigned to MayaraMonte

[2022-05-11 12:28] #261 closed, assigned to MayaraMonte

[2022-05-11 13:07] RaniGub commented on #316
Revisado, indicações realizadas.

[2022-05-11 13:10] RaniGub commented on #317
Tarefa convertida para Épico.

[2022-05-11 13:17] RaniGub opened #318 "1. Construção de Fluxo das Pré-Oficinas"
## **Objetivo**

**Como** designer de experiência
**Quero** estruturar um fluxo para as pré-oficinas
**Para** organizar a metodologia que será empregada

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas para a aplicação de Árvores de Problemas nas áreas: **Educação e Extensão, Desenvolvimento Educacion

[2022-05-11 13:18] #318 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-05-11 13:21] RaniGub opened #319 "2. Estruturação metodológica"
## **Objetivo**

**Como** designer de experiência
**Quero** propor e validar a metodologia das pré-oficinas
**Para** oportunizar o mapeamento adequado de problemas

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas para a aplicação de Árvores de Problemas nas áreas: **Educação e Extensão, Desenvolviment

[2022-05-11 13:24] RaniGub opened #320 "3. Dispor instrumentos das pré-oficinas/oficinas"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar as pré-oficinas de Design de Serviços, que serão ministradas para as diretorias da ESP/CE e facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas serão plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar p

[2022-05-11 13:27] RaniGub opened #321 "15. Estruturar o formato da Mandala de Governança"
## **Objetivo**

**Como** designer de experiência
**Quero** estruturar o formato da Mandala de Governança
**Para** integrar o processo de estruturação de informações

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas para a aplicação de Árvores de Problemas nas áreas: **Educação e Extensão, Desenvolvime

[2022-05-11 17:08] caldy94 commented on #316
Board refeita, aguardo algum feedback de @RaniGub

[2022-05-11 17:15] RaniGub opened #322 "Mapear contribuições do Designlab por meio da Inception"
## **Objetivo**

**Como** gestor do designlab
**Quero** mapear contribuições do Designlab por meio da Inception
**Para** prestar contas do esforço investido

## **Contexto**

Considerando o tempo empregado pelo time do Designlab em Abril e Maio/2022 para consolidação das informações da Inception com áreas, precisamos apresentar as contribuições e status dos encaminhamentos que o momento proporcion

[2022-05-11 17:27] RaniGub opened #323 "Proposta de fluxo para inserção do designer nos times de produtos"
## **Objetivo**

**Como** designer
**Quero** propor um fluxo para participação de um designer nos times de produtos
**Para** otimizar o processo de compreensão/análise das tarefas e como elas perpassam nas várias camadas dos times

## **Contexto**

Atualmente utilizamos um modelo que o designer só se aproxima do time de produto alguns dias antes da Sprint do produto acontecer,  o que pode ocasiona

[2022-05-11 17:37] RaniGub commented on #316
@caldy94 quando diminuímos o tamanho do esquema... as bolinhas com a numeração da tarefa não diminuíram proporcionalmente e acabaram sumindo. Você pode diminuir manualmente o tamanho delas para voltarem a aparecer? Obrigado.

[2022-05-11 17:40] caldy94 commented on #316
Oi Rani, os números das bolinhas sumiram, quando fui mexer já estava assim...

[2022-05-12 11:32] caldy94 commented on #316
Consegui enumerar, esperando feedback do Rani

[2022-05-12 19:34] RaniGub commented on #323
Concluído, será discutido em pauta na reunião do tático.

[2022-05-12 19:34] #323 closed, assigned to RaniGub

[2022-05-13 11:41] #316 closed, assigned to caldy94

[2022-05-16 13:21] pauloamoreira commented on #298
@RaniGub essa tarefa passará a ser executada pelo @elpadrejorge e pela @caldy94 ?

[2022-05-16 14:08] RaniGub commented on #322
Relatório fechado.

[2022-05-16 14:08] #322 closed, assigned to RaniGub

[2022-05-16 14:21] pauloamoreira commented on #321
@RaniGub em virtude da decisão de que a Mandala de Governança não fará parte das pré-oficinas, convém encerrar essa tarefa (não é mais pertinente).

[2022-05-16 14:26] RaniGub commented on #321
Paulo, discutimos isso na sexta passada e achamos pertinente voltar com a compreensão se é ou não necessário em nosso próximo encontro.

[2022-05-17 11:30] RaniGub commented on #303
Tarefa concluída.

[2022-05-17 11:30] #303 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-05-19 16:17] caldy94 commented on #308
EAP organizada. Vou necessitar e um feedback assim que necessário @RaniGub

[2022-05-23 17:44] pauloamoreira opened #324 "9. Realizar pré-oficina 1 - Governança e Gestão"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-23 17:47] pauloamoreira opened #325 "9.2. Sistematizar informações coletadas pré-oficina de Governança e Gestão"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar a sistematiz

[2022-05-23 17:50] pauloamoreira opened #326 "10. Realizar pré-oficina 2 - Desenvolvimento Educacional"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-23 17:54] pauloamoreira commented on #324
oficina realizada. board finalizado.

[2022-05-23 17:55] pauloamoreira commented on #325
resultados da oficina sistematizados. aguardando pareamento com @RaniGub para concluir a tarefa ou aperfeiçoar.

[2022-05-23 18:11] pauloamoreira commented on #271
dia 16.05.2022 foi realizada reunião na DITEC com a presença da DIDES, Gerência de Educação Profissional em Saúde, EaD, DITEC e Felicilab/Designlab, para alinhamento de expectativas e responsabilidades em relação à colaboração entre as áreas na elaboração do projeto piloto para a capacitação de ACS e ACE. Na ocasião, ficou firmando que o projeto que está sendo elaborado pela DIDES/Gerência de Educ

[2022-05-23 18:13] pauloamoreira commented on #271
recebi o acesso ao documento e já comecei a inclusão de contribuições e sugestões de aperfeiçoamentos. aguardo agora a validação de @RaniGub .

[2022-05-24 13:59] pauloamoreira commented on #317
.escopo do épico revisado.

[2022-05-26 11:45] RaniGub commented on #317
@elpadrejorge pvf crie as issues dos templates dos achados das pré-oficinas para as Áreas

[2022-05-27 11:39] #320 closed, assigned to RaniGub, pauloamoreira, elpadrejorge

[2022-05-27 19:22] caldy94 commented on #291
Esboçando o fluxo de acordo com as mudanças feitas por @RaniGub e outras pessoas. Ainda farei revisões.

![image](https://user-images.githubusercontent.com/101121073/170776833-98356ed5-7a44-4e23-b918-089fb19a8290.png)

[2022-05-30 14:54] RaniGub opened #327 "19. Ambiente virtual para acompanhamento dos achados das Pré-Oficinas pelas áreas (Template WP)"
## **Objetivo**

**Como** designer de experiência
**Quero** desenvolver um ambiente no WP
**Para** disponibilzar os achados das oficinas para as áreas

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas para a aplicação de Árvores de Problemas nas áreas: **Educação e Extensão, Desenvolvimento Educacional

[2022-05-30 14:59] RaniGub commented on #317
@elpadrejorge marquei uma reunião nesta terça à tarde sobre a Produção da Oficina. Vamos atualizar o arquivo de acompanhamento e mapear o que é necessário entrar como issue aqui.

[2022-05-30 16:41] Marceloalcantara commented on #327
Olá todos,
Pfv me remover dessas notificações do Design Lab, Obg

Em seg., 30 de mai. de 2022 às 11:54 AM, RaniGub ***@***.***>
escreveu:

--
Marcelo Alcantara Holanda
Criador e desenvolvedor do xlung, simulador virtual de ventilação mecânica,
www.xlung.net (Creator and developer of the xlung, virtual simulator of
mechanical ventilation)
Pneumologista, intensivista (Pulmonologist, Critical Care Sp

[2022-05-30 18:07] caldy94 commented on #291
Atualizado por enquanto
![Uploading ciclo-metodologia-esboço.jpg…]()

[2022-05-31 11:01] caldy94 commented on #291
Atualizado por enquanto

![ciclo-metodologia-esboço](https://user-images.githubusercontent.com/101121073/171158914-523af536-98a5-4ed5-bfdc-1ed5cde679ef.jpg)

[2022-05-31 16:35] RaniGub commented on #271
Paulo participou de uma reunião dia 27/06 com a Vanessa Araújo, Leni Nobre, Mara, Alex e outros envolvidos no Projeto. Um relato está sendo concluído para disponibilização à Ditec e Coordenção do Felicilab.

[2022-05-31 16:38] #326 closed, assigned to pauloamoreira, elpadrejorge

[2022-05-31 16:39] #319 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-05-31 16:40] #325 closed, assigned to pauloamoreira, elpadrejorge

[2022-05-31 16:50] RaniGub commented on #208
@caldy94 aproximar @thaistoscano

[2022-05-31 16:51] RaniGub commented on #327
@elpadrejorge validar o formato de apresentação com a @clarissagpeixoto e @uira

[2022-05-31 16:53] RaniGub commented on #317
@elpadrejorge pfv alinhe com a @marameida um Épico de produção

[2022-05-31 17:05] RaniGub commented on #327
@elpadrejorge Validado com Uirá. Necessita apreciação da @Clarisse1983 para lançamento.
Obs.:
- Verificar título da Árvore de Problema;
- Encurtar link da board do figma;
- Testar experiência numa aba anônima.

[2022-05-31 17:19] RaniGub opened #328 "Oficina de Design de Serviços ESP/CE 2022 - Produção"
## **Objetivo**

**Como** pessoa produtora da Oficina de Design ESP
**Quero** dispor de um kanban para acompanhamento das demandas de produção da Oficina
**Para** garantir que o momento seja realizado considerando todos os pontos

## **Contexto**

Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficinas para a aplicação de Árvor

[2022-05-31 18:06] pauloamoreira opened #329 "10. Realizar pré-oficina 3 - Educação e Extensão dia 30.05.2022"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:15] pauloamoreira commented on #329
.será realizada continuação e finalização desta atividade no dia 03.06.2022.

[2022-05-31 18:18] pauloamoreira opened #330 "11. Realizar pré-oficina 4 - Inteligência em Saúde"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:20] pauloamoreira opened #331 "11.1. Sistematizar informações coletadas pré-oficina de Inteligência e Saúde"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:28] pauloamoreira opened #332 "10.2. Sistematizar informações coletadas pré-oficina de Educação e Extensão"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:32] pauloamoreira opened #333 "12. Realizar pré-oficina 5 - Inovação e Tecnologia"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:34] pauloamoreira opened #334 "12.1. Sistematizar informações coletadas oficina de Inovação e Tecnologia"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:43] pauloamoreira opened #335 "9.1. Sistematizar informações coletadas pré-oficina de Desenvolvimento Educacional"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-05-31 18:51] marameida commented on #317
Breve ata da reunião deprodução (31/05):
1. Formalizar local BECE: solicitado Ofício para DITEC;
2. Solicitação de coffee break : alinhado com Flaviane (80 pessoas)
3. Orçamento de kits: levantar preços dos seguintes materiais
- Crachá;
- Pasta plástica;
- Caneta;
- Caneca ou copo plástico;
- Bloco ou post it;
- Blusa;
- Adesivo;
4. Lista de Frequencias: impressões feitas
5. Ficha de inscrição: su

[2022-05-31 18:58] pauloamoreira opened #336 "17. Elaborar Match dos problemas priorizados nas pré-oficinas das áreas (Identificação de problemas transversais)"
## **Objetivo**

**Como** designer de experiência
**Quero** analisar os problemas priorizados nas pré-oficinas
**Para** identificar os problemas transversais.

## **Contexto**

- No processo de preparação dos materiais para as oficinas de Design de Serviços na ESP/CE, se faz necessário analisar os problemas priorizados nas pré-oficinas das áreas, de modo a identificar os problemas transversais da

[2022-05-31 19:22] marameida commented on #317
Sugestão de Categorização das atividades (serão descritas em cards separados):
- Produção gráfica (banner, kits etc);
- Logística do evento (infraestrutura/materias, check-lists, llista de frequencias, local, coffee break);
- Comunicação/Divulgação (inscrição, grupos de comunicação, informes);
- Integração da oficina com Isus
- Elaboração de publicação sobre o evento;

[2022-05-31 19:31] pauloamoreira opened #337 "Sistema de Gestão Acadêmica - cooperação com a SecultCE/IDM"
## **Objetivo**

**Como** designer de experiência
**Quero** cooperar com a SecultCE  e Instituto Cultural Dragão do Mar - IDM
**Para** colaborar com a concepção de um Sistema de Gestão Educacional.

## **Contexto**

- Atendendo solicitação da SecultCE, designers do Felicilab/DITEC estão participando, em caráter de cooperação, de reuniões para colaborar com a criação dos  Sistema de Gestão Acadêmic

[2022-06-01 11:29] pauloamoreira commented on #271
Relato da reunião enviado para @RaniGub. aguardando deliberações.

[2022-06-01 12:08] RaniGub commented on #271
Relato repassado para o estratégico.

[2022-06-01 13:48] RaniGub commented on #317
Blz @marameida. Considere que o Épico é o #328 blz? Faça os desdobramentos pra gente enxergar melhor e saber o status de cada ponto discutido na reunião.

[2022-06-01 14:00] #331 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-01 14:01] #335 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-01 14:01] #330 closed, assigned to nobody

[2022-06-01 14:02] #324 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-01 14:12] pauloamoreira commented on #208
.pareei com a @caldy94  e repassei os links das pastas no drive onde existem versão anteriores de apresentações do Mapa da Saúde e orientei que ela buscasse saber com a @Clarisse1983 se o texto de atualização que estava sendo produzido pelas Narrativas em nov de 2021 foi finalizado e onde está disponível. também compartilhei este link de um artigo sobre criação de slides: [https://guykawasaki.com/

[2022-06-01 22:11] marameida commented on #328
Repassando aqui para o #328:
Sugestão de Categorização das atividades (serão descritas em cards separados):

-Produção gráfica (banner, kits etc);
-Logística do evento (infraestrutura/materias, check-lists, llista de frequencias, local, coffee break);
-Comunicação/Divulgação (inscrição, grupos de comunicação, informes);
-Integração da oficina com Isus
-Elaboração de publicação sobre o evento;

[2022-06-01 22:26] marameida opened #338 "Acompanhar a PRODUÇÃO GRÁFICA da Oficina de Design de Serviços"
## **Objetivo**

**Como** pessoa produtora da Oficina de Design ESP
**Quero** acompanhar a produção gráfica
**Para** garantir que o momento seja realizado considerando todos os pontos

## **Contexto**

Para o evento serão necessários  materiais gráficos como banners, adesivos, e kits de brindes.

## **Escopo**
- [ ] Elaboração da arte/logo para aplicação (Felicilab/ASCOM);
- [ ] Banner e adesivos

[2022-06-01 22:36] marameida opened #339 "PRODUÇÃO GRÁFICA | Oficina de Design de Serviços"
## Objetivo

Como pessoa produtora da Oficina de Design ESP
Quero acompanhar a produção gráfica
Para garantir que o momento seja realizado considerando todos os pontos

## Contexto

Para o evento serão necessários  materiais gráficos como banners, adesivos, e kits de brindes.

## Escopo
- [x] Elaboração da arte para aplicação nos brindes e outros materiais (Felicilab/ASCOM);
- [x] Banner e adesivo

[2022-06-01 22:49] marameida opened #340 "LOGÍSTICA DE ORGANIZAÇÃO | Oficina de Design de Serviços"
## Objetivo

Como pessoa produtora da Oficina de Design ESP
Quero acompanhar a logística de organização
Para garantir que o momento seja realizado considerando todos os pontos

## Contexto

A Logística de Organização do Evento incluirá levantamento de materiais, frequências, coffee break, mapeamento do local, etc)

Para o evento serão necessários materiais gráficos como banners, adesivos, e kits d

[2022-06-01 22:56] marameida opened #341 "COMUNICAÇÃO/DIVULGAÇÃO | Oficina de Design de Serviços"
## Objetivo

Como pessoa produtora da Oficina de Design ESP
Quero acompanhar a comunicação/divulgação
Para garantir que o momento seja realizado considerando todos os pontos

## Contexto

Para o evento serão necessários formulário de inscrição, grupos de comunicação, convites e demais informes.

## Escopo
- [x] Formulário de pré-inscrição (elaboração, validação, divulgação);
- [x] Informar as pess

[2022-06-01 23:05] marameida opened #342 "Acompanhar a integração da Oficina de Design de Serviços com o aplicativo ISUS"
## Objetivo

Como pessoa produtora da Oficina de Design ESP
Quero acompanhar a integração da oficina com o ISUS
Para garantir que a frequência dos participantes esteja vinculada ao aplicativo;

## Contexto
Deseja-se que o participante do evento possa confirmar sua frequencia através do aplicativo.

## Escopo
- [x] Resgatar formato utilizado em evento anterior;
- [x] Alinhar com equipe do ISUS a lo

[2022-06-01 23:13] marameida opened #343 "Elaborar publicação pós Oficina de Design de Serviços"
## Objetivo

Como pessoa produtora da Oficina de Design ESP
Quero elaborar publicação pós Oficina
Para garantir o registro formalizado do evento.

## Contexto
Será desevolvida uma publicação (revista/periódico) para registro dos dados levantados durante a Oficina.

## Escopo
- [ ] Resgatar formato utilizado em evento anterior;
- [ ] Alinhar com equipe de design e narrativas os encaminhamentos nece

[2022-06-01 23:44] marameida commented on #339
Plalnilha de orçamentos e custos:
https://docs.google.com/spreadsheets/d/1sh7vz-NmG8WpDKReqPassJ4zY5J5UAub/edit#gid=2113195094

[2022-06-01 23:45] marameida commented on #340
Plalnilha de orçamentos e custos:
https://docs.google.com/spreadsheets/d/1sh7vz-NmG8WpDKReqPassJ4zY5J5UAub/edit#gid=2113195094

[2022-06-02 11:19] marameida commented on #340
Ofício de formalização do espaço :
https://docs.google.com/document/d/1URp_zUPw5oERAAmkfY4rxKlvsZ85PMOmxsWpp47CtTE/edit

[2022-06-02 12:30] marameida commented on #341
Formulário de pré-inscrição - Já validado pelo setor de Narrativas (será disponibilizado como oportunidade no Mapas:
https://docs.google.com/document/d/1qOC4ZrlFTAQriA95Ad5WDp1VuEiplYT3CNNchwL-W5I/edit

[2022-06-02 15:06] elpadrejorge commented on #327
@RaniGub o formato já foi validado pela @Clarisse1983 e testado em aba anônima. Inseri as informações da BECE, um link para acrescentar na Agenda GWS os dias da oficina e também um link para o Maps direto para a BECE.

[2022-06-02 16:21] caldy94 commented on #208
Roteiro para o slide está sendo produzido no link https://docs.google.com/document/d/1xR94e1HlEBN4O4fzagkzi-G1hAF8ooXh9HlcZAQSVa0/edit?usp=sharing  (que também se encontra acima)

[2022-06-02 17:54] marameida commented on #341
Formulário de avaliação - necessário refinar com Paulo
https://docs.google.com/forms/d/1MN6LIvpir2YsbUKy3yNWW1SUYhkN3mjdJy_PLmwJWH0/edit

[2022-06-02 18:52] marameida commented on #341
Formulário de pré-inscrição cadastrado no Mapas. Por gentileza testem e me dêem "ok" para eu divulgar.
https://mapa.sus.ce.gov.br/oportunidade/283/#/tab=main-content

[2022-06-03 14:02] pauloamoreira commented on #271
A partir de retorno de @RaniGub , as informações solicitadas foram encaminhadas para Vanessa Araújo - Gerências de Educação Profissional, e agora permanecemos no aguardo de retorno.

[2022-06-06 12:00] pauloamoreira opened #344 "13. Realizar pré-oficina 6 - Pesquisa em Saúde"
## **Objetivo**

**Como** designer de experiência
**Quero** formatar e realizar as pré-oficinas de Design de Serviços, junto às diretorias da ESP/CE, facilitadas pelo DesignLab.
**Para** garantir que os objetivos das oficinas sejam plenamente atendidos.

## **Contexto**

- Por ocasião da proximidade da realização das oficinas de Design de Serviços na ESP/CE, se faz necessário realizar pré-oficina

[2022-06-06 12:36] caldy94 commented on #208
Modelo de slides disponibilizado:
https://docs.google.com/presentation/d/1gC1XHAtxvVmw9u0E1DdOTRtsErGYMEg4I_4ETyCPpdA/edit#slide=id.p1

[2022-06-06 18:37] marameida commented on #341
Lista de Contatos/frequência para divulgação:
https://docs.google.com/spreadsheets/d/18VhP1rhvofh0hgnjVYz7-YjLwMBpRtXKuCq3RJVpudU/edit#gid=0

[2022-06-07 11:18] RaniGub commented on #340
Bom dia @marameida, quais destas tarefas já podemos dar baixa?

[2022-06-07 11:19] RaniGub commented on #341
Bom dia @marameida, como tá o status dessas tarefas?

[2022-06-07 11:22] RaniGub commented on #339
@marameida chegue no Uirá para saber se já tem alguma deliberação sobre esses materiais. Ia pedir para você especificar melhor o tópico 3 e tirar uma dúvida sobre o 1.

[2022-06-07 11:35] RaniGub commented on #327
Avaliar algumas considerações enviadas pelo telegram.

[2022-06-07 11:44] #344 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-07 11:51] RaniGub commented on #317
@pauloamoreira pfv, verificar nas 3 primeiras árvores se o ajuste das colunas entre causa, problema e consequência estão correspondendo.

[2022-06-07 13:41] marameida commented on #341
Oi @RaniGub disparada divulgação de link e vídeo para pré-inscrições. Alinhado com ASCOM e com pessoas estratégicas de cada setor.

[2022-06-07 13:46] marameida commented on #339
Sim. Reforçado com @uira e Nicolas sobre os próximos encaminhamentos necessários. Conversado com @elpadrejorge sobre deliberação de artes (para kits, banner e adesivos) junto a ASCOM.

[2022-06-07 13:53] marameida commented on #339
Gostaria de alinhar com o time sobre a solicitação desse material e confecção das blusas, visto que o pedido deve ser feito com antecedência.
https://docs.google.com/spreadsheets/d/1sh7vz-NmG8WpDKReqPassJ4zY5J5UAub/edit#gid=2113195094

[2022-06-07 14:50] marameida commented on #341
Organizadas evidências das pré-oficinas (fotos e vídeos) em drive do Design:
https://drive.google.com/drive/u/0/folders/1ZlK4GA5I5MqrPy_mIdJpLF-LQ7GAyajM

[2022-06-07 16:26] caldy94 commented on #208
Slides atualizados

[2022-06-08 11:41] elpadrejorge commented on #327
o ambiente já está no ar. Faltam duas pré-oficinas para disponibilizar no sistema, que devem ser finalizadas hj mesmo mesmo (8/6)

[2022-06-08 12:25] RaniGub commented on #327
@elpadrejorge verificar quais depoimentos entram nas seções do ambiente.

[2022-06-08 12:36] marameida commented on #341
Enviado email convite de incrição para contatos que participaram das pré-oficinas.

[2022-06-08 12:44] RaniGub commented on #327
Lista de sugestão depoimentos atualizada. É importante coletar as fotos dessas pessoas.

[2022-06-08 12:55] RaniGub commented on #208
@thaistoscano você pode parear com a Caldy para validar o formato da apresentação? Obg.

[2022-06-08 13:07] marameida commented on #340
Atualizado check list no escopo.

[2022-06-08 13:46] marameida commented on #341
ASCOM estará divulgando as pré-inscrições hoje por email, intranet e grupos gerais.

[2022-06-08 13:48] marameida commented on #339
Socitado ao @elpadrejorge material para impressão com identificação visual da oficina (banner, adesivos e logo personalizada para itens dos kits).

[2022-06-08 15:12] elpadrejorge commented on #327
todos os ambientes de todas as pré-oficinas foram atualizados e já estão disponíveis. Como pendências, restam apenas os depoimentos.

[2022-06-09 11:54] RaniGub commented on #328
@elpadrejorge
Criar issues de material padrão para oficina:
- Banner 90x120cm
- Card de divulgação para insta
- Cartaz A4 com QR Code

[2022-06-10 12:20] marameida commented on #340
Ofício enviado para BECE.
https://docs.google.com/document/d/1QnEs-LowWltHN7mLcQhulvjUo9VAI-o_wccwBG75s2I/edit

[2022-06-10 12:49] marameida commented on #341
Até o momento 36 inscrições.

[2022-06-10 13:42] marameida commented on #341
Iniciada Edição do Formulário de Avaliação da Oficina:
https://docs.google.com/forms/d/1fDKAN4Bxvgzlvk7FT7WI2CiTPpcf6OXjkgoznZ3CjKc/edit
@pauloamoreira

[2022-06-10 20:59] marameida commented on #342
Agendada reunião com equipe do ISUS para refinamento e encaminhamento desta demanda.
Segunda dia 13/06 às 9:15h
@RaniGub @elpadrejorge @Laysacunha

[2022-06-13 12:13] RaniGub commented on #341
@marameida fale com o @elpadrejorge para atualizar o banner do formulário de feeedback

[2022-06-13 12:41] RaniGub commented on #341
Aguardar o fim das inscrições para criar o gurpo de whatsapp. Já li o formulário e acho as perguntas adequadas. @marameida você precisa só adaptar as áreas e conversar com a @Clarisse1983 para validação final.

[2022-06-13 12:45] RaniGub commented on #339
@marameida orçar kit simples (caneta e bloco de anotações) e verificar com Uirá a possibilidade. Solicitar a arte do banner para o @elpadrejorge

[2022-06-13 12:47] RaniGub commented on #327
@marameida lista de sugestões de depoimentos.

[2022-06-13 14:01] marameida commented on #327
Coletados depoimentos que serão utilizados no site e divulgação das inscrições: @RaniGub @elpadrejorge @caldy94 @nazkafarias @gabrieladamarques @ericabpinho

[2022-06-13 14:20] marameida commented on #340
Coffe Break solcitado novamente. Redirecionado recurso. No aguardo por liberação.

[2022-06-13 14:24] marameida commented on #341
Atualizando Formulário de Avaliação:
https://docs.google.com/forms/d/1fDKAN4Bxvgzlvk7FT7WI2CiTPpcf6OXjkgoznZ3CjKc/edit

[2022-06-13 14:26] marameida commented on #341
Até o momento: 49 inscrições para Oficina de Design de Serviços.

[2022-06-13 18:10] marameida commented on #341
Relatório de respostas referentes às inscrições:
https://docs.google.com/spreadsheets/d/1x14JySvHUDuPCDNZUNw4l69OrY4iLXiE/edit#gid=1756361182

[2022-06-14 11:36] elpadrejorge commented on #327
Boards das Árvores de Problemas das pré-oficinas refinados e já atualizados no site.

[2022-06-14 11:38] elpadrejorge commented on #339
Artes para banner, cartaz, crachá e bloco de notas criadas. Banner e cartaz já foram refinados e aprovados na última reunião da Oficina. Resta aprovação do bloco e  crachá.

[2022-06-14 13:57] marameida commented on #341
Divulgado percentuais de inscrições por setores, reforçando incremento das pré-inscrições.

[2022-06-14 13:59] marameida commented on #339
Solicitado à Selma itens e quantitativos dos materiais para Oficina de Design. Reforçaremos o pedido com a nova proposta de logo (Felicilab/"Design que salva vidas")

[2022-06-14 14:26] marameida commented on #341
Formulário de avaliação atualizado. vamos refinar fechamento @pauloamoreira
https://docs.google.com/forms/d/1fDKAN4Bxvgzlvk7FT7WI2CiTPpcf6OXjkgoznZ3CjKc/edit

[2022-06-14 14:30] marameida commented on #327
Coletados a maioria dos depoimentos sugeridos e enviados para narrativas para edição e transcrição de frases mais relevantes.

[2022-06-14 16:50] RaniGub commented on #339
@elpadrejorge apresentou a arte da camiseta que foi compartilhada no grupo da oficina e validado. A solução cromáticas dos crachás (áreas) será trabalhada na tarde desta terça-feira 14/06/22.

[2022-06-14 22:57] matheuscpl opened #345 "Design Tokens - iSUS"
## **Objetivo**

**Como** designer de interação
**Quero** uma documentação de padrões de design do iSUS
**Para** facilitar o desenvolvimento de produtos e gerar padronização

## **Contexto**

A problemática da inconsistência entre padrões de design de produtos do Felicilab, como o iSUS causa retrabalho para os designers, aumenta o tempo de produção e fomenta a inconsistência

## **Escopo**
- [x] C

[2022-06-15 13:35] RaniGub commented on #341
@elpadrejorge é possível você fazer duas coisas para atender uma demanda da Oficina no iSUS?
1- Banner de 395 x 130px. Genérico.
2- Topo de 411 x 235px para home de frequência da oficina. Genérico.

[2022-06-15 13:52] marameida commented on #339
Reforçado com Selma sobre material a ser produzido. Ainda no aguardo por retorno.

[2022-06-15 13:59] marameida commented on #341
Reforçado pré-inscrição com os setores. Entregue banner com QR CODE e anexado cartaz nos murais da escola. Solicitado reforço de divulgação com ASCOM. Até o momento 59 inscritos:

[2022-06-15 16:58] RaniGub commented on #341
![Captura de Tela 2022-06-15 às 13 57 45](https://user-images.githubusercontent.com/79097920/173883693-18490699-600b-4708-b1a3-d977c3cc3c23.png)
@marameida podemos padronizar e tirar /ESP das opções

[2022-06-15 17:33] RaniGub commented on #327
@elpadrejorge li o texto do site e vou sugerir algumas modificações na próxima semana.

Uma sugestão que já pode começar a ser pensada é a disponibilização da metodologia (flecha) no site com uma pequena melhoria visual no illustrator. Vou adicionar esse tópico na issue. Mas só cria a visualização não disponibiliza agora para gente ver com calma juntos.

[2022-06-15 19:15] marameida commented on #339
Enviadas para Lucinha, seguindo orientação da Selma,  logos e descrição dos itens para cotação com gráfica.

[2022-06-15 19:31] RaniGub commented on #340
Experiência e telas para frequência no iSUS disponibilizada na issue #761. Pareamento com Ericson realizada em 15/06/2022.

[2022-06-20 11:20] RaniGub commented on #342
@marameida vou encerrar essa tarefa. O acompanhamento dela está na #340. Já disponibilizei a experiência e telas. Falta validar uma regra com o Uirá.

[2022-06-20 11:20] #342 closed, assigned to marameida, elpadrejorge

[2022-06-20 11:23] RaniGub commented on #291
Bom dia @caldy94, por gentileza, coloque o arquivo aberto (.ai) no drive do design e disponibilize o link aqui. Obg.

[2022-06-20 11:24] caldy94 commented on #208
Apresentação está com o conteúdo pronto, ainda fiquei de parear a respeito dos GIFS de apresentação com a @thaistoscano. De resto acredito que esteja tudo sob conformes.

[2022-06-20 11:29] RaniGub commented on #192
@caldy94 você pode me adicionar como editor ou ceder as propriedades da pasta para que eu possa mover para o drive do design?

[2022-06-20 11:30] RaniGub commented on #293
Bom dia gente, vocês podem verificar o link do figma? Não consigo ter acesso.

[2022-06-20 11:55] #192 closed, assigned to caldy94

[2022-06-20 17:26] ricardopoppi opened #346 "Desenhar o fluxo de relacionamentos entre a oportunidade criada no Mapa (cursos) e a integração com o Sagu"
Issue 1 - Fluxo de jornada da migração de inscritos no MAPA para cadastramento de pf no SAGU
- [x] Compreender a jornada para validação para cadastramento de pf no SAGU (Conversa com Ana Xenofonte e/ou pessoa gestora de curso.)
Campos obrigatórios:

- Nome ✅ (obg. API)
- E-mail ✅
- Endereço ✅
- Sexo (obg. API)
- Estado civil
- Categoria profissional
- Tipo de vinculo
- CPF ✅ (obg. API)
- RG ✅
- Da

[2022-06-20 17:38] marameida commented on #339
Logos finais enviadas para Lucinha. A mesma confirmou que já encaminhou para gráfica. Solicitada também a abertura de processo via DITEC, conforme pedido do setor.

[2022-06-20 17:47] marameida commented on #341
Inscrições fechadas temporariamente para definição de destino das vagas remanescentes. Elaborada lista de aguardo: https://docs.google.com/spreadsheets/d/119ncCff7QEzID5KGqqi2g7zIFoLNzmvqEOF942_Agic/edit#gid=0

[2022-06-20 17:49] marameida commented on #340
Analisando possibilidade de parceria com empresa de produtos nutricionais para disponilização de kits para sorteios.

[2022-06-21 12:40] marameida commented on #340
Check-list para evento:
https://docs.google.com/spreadsheets/d/17wQK1RaFrTgY5-9ZU9uclhcI98YheufsaRQXY4l0KgU/edit#gid=0

[2022-06-21 12:41] marameida commented on #339
Material sendo produzido. No aguardo por recebimento.

[2022-06-21 12:59] marameida commented on #340
Lista de inscritos até o momento:
https://drive.google.com/drive/u/0/folders/1LLtElpa0p02jyr570oaCBZBtRSioH_tJ[https://app.zenhub.com/files/235795051/e2209d98-c321-4358-a759-4ac29bbfa0c7/download]

(https://app.zenhub.com/files/235795051/e2209d98-c321-4358-a759-4ac29bbfa0c7/download)

[2022-06-22 11:35] #334 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-22 13:19] #294 closed, assigned to MayaraMonte, RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-06-22 13:23] RaniGub commented on #204
Esse épico e issues relacionadas serão finalizados devido ao novo movimento integrado.

[2022-06-22 13:25] #206 closed, assigned to RaniGub

[2022-06-22 13:26] #219 closed, assigned to RaniGub

[2022-06-22 13:26] #259 closed, assigned to nobody

[2022-06-22 13:26] #258 closed, assigned to nobody

[2022-06-22 13:27] #204 closed, assigned to nobody

[2022-06-22 14:36] marameida commented on #339
Acompanhamento de processos junto DITEC e Lucinha (material gráfico).

[2022-06-22 14:38] marameida commented on #341
Podemos criar o grupo de whatsapp com as pessoas já inscritas? @uira e @RaniGub?

[2022-06-22 14:40] marameida commented on #340
Acompanhamento de processos junto DITEC e Lucinha (coffee break).

[2022-06-22 15:04] RaniGub commented on #341
@marameida como será a curadoria das pessoas que já se inscreveram? Aquelas que com certeza irão participar já poderiam ser incluídas no grupo. Mas é bom alinhar com o Uirá e Clarisse. Ai evitamos de criar expectativa em pessoas que talvez não estejam no grupo das que vão participar.  Vamos adicionando as demais depois.

[2022-06-23 13:53] marameida commented on #340
Check-list atualizado:
https://docs.google.com/spreadsheets/d/17wQK1RaFrTgY5-9ZU9uclhcI98YheufsaRQXY4l0KgU/edit#gid=0

[2022-06-24 11:40] #336 closed, assigned to pauloamoreira, elpadrejorge

[2022-06-24 17:25] caldy94 commented on #291
@RaniGub ,O arquivo está no computador 24 na ESP, quando estiver aí na próxima semana, envio

[2022-06-24 17:28] caldy94 commented on #208
@thaistoscano, slide da página 8 foi alterado, depois dê uma olhada, por favor.

[2022-06-27 11:40] RaniGub commented on #339
@marameida informou que as blusas serão entregues hoje. Acerca dos kits, Lucinha ficou de avisar assim que chegassem.

[2022-06-27 13:25] ericabpinho opened #347 "Novo fluxo de notificações do iSUS"
**Eu como** Pessoa usuária do iSUS.
Quero Receber notificações do aplicativo.
Para Me manter atualizada sobre as soluções digitais e política de inovação da ESP.

**CONTEXTO**
Por que notificaremos as atualizações de soluções mesmo no período de defeso?
Por que são plataformas de educação em saúde E produtos com concorrência no mercado, exceçoes previstas pela PGE. O time de Narrativas passa a ser

[2022-06-30 13:36] marameida commented on #340
Frequencia foi feita com assinaturas presenciais e transferida para planilha em google drive.
https://docs.google.com/spreadsheets/d/1LWbwHcFf0_-w1XI99a2q2WhfLR1cvLqFTs0-NiPEIb0/edit#gid=561097855

[2022-06-30 13:36] marameida commented on #340
Atividades encerradas.

[2022-06-30 13:36] #340 closed, assigned to marameida, elpadrejorge

[2022-06-30 13:38] marameida commented on #341
Atividade contemplada. Formulário pós avaliação será disponibilizado em grupo posteriormente.

[2022-06-30 13:38] #341 closed, assigned to marameida, elpadrejorge

[2022-06-30 13:39] marameida commented on #339
Atividades contempladas.

[2022-06-30 13:39] #339 closed, assigned to marameida, elpadrejorge

[2022-07-04 11:37] #328 closed, assigned to marameida, elpadrejorge

[2022-07-04 11:42] #327 closed, assigned to elpadrejorge

[2022-07-04 11:42] #321 closed, assigned to RaniGub, pauloamoreira, elpadrejorge

[2022-07-04 11:44] #80 closed, assigned to wforte88, matheuscpl, RaniGub

[2022-07-04 11:45] RaniGub commented on #154
Essa tarefa será encerrada e alinhada com o time de narrativas no momento oportuno.

[2022-07-04 11:45] #154 closed, assigned to pauloamoreira

[2022-07-04 11:46] #48 closed

[2022-07-04 11:46] #34 closed

[2022-07-04 11:50] RaniGub commented on #317
Épico finalizado, será criado um novo épico para o pós-oficina.

[2022-07-04 11:51] #317 closed, assigned to pauloamoreira, elpadrejorge

[2022-07-04 12:07] RaniGub opened #348 "Desenvolvimento de Artefato | Pós-Oficina"
## **Objetivo**

**Como** designer
**Quero** desenvolver um artefato da Oficina de Design de Serviço da ESP
**Para** tornar público os achados

## **Contexto**
A exemplo da Oficina da SEPOS, é preciso o desenvolvimento de um artefato impresso da Oficina de Design de Serviços da ESP.

## **Escopo - Sem marcação**
Inserir escopo.

## Observações
Links de apoio e informações adicionais

[2022-07-04 12:15] RaniGub opened #349 "Ambiente Virtual da Oficina de Design de Serviços da ESP | Pós-Oficina"
## **Objetivo**

**Como** designer
**Quero** disponibilizar as informações no ambiente virtual
**Para** possibilitar a consulta pelos colaboradores da ESP

## **Contexto**
É preciso disponibilizar os achados da Oficina de Design de Serviços da ESP

## **Escopo - Sem marcação**

**Atualização de conteúdos**
   - Revisão geral (organização de conteúdos não mais necessários)
   - Revisar os objetivos

[2022-07-04 12:50] matheuscpl commented on #346
@carolynemaciente Adicionei aqui o fluxo que desenhamos da integração
https://www.figma.com/file/Joo00AB0Y4sdYHq24oqPJr/Integra%C3%A7%C3%A3o-MAPA---SAGU?node-id=0%3A1

[2022-07-04 13:15] pauloamoreira opened #350 "Sistematização dos Resultados da Oficina de Design de Serviços ESP/CE 2022"
## **Objetivo**

**Como** designer de experiência
**Quero** analisar e sistematizar os resultados da Oficina de Design de Serviços ESP/CE 2022
**Para** compartilhar os achados com as áreas e gerar registro histórico do processo

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os resultad

[2022-07-04 14:14] elpadrejorge opened #351 "Revisar a estratégia de exibição dos depoimentos no Ambiente Virtual da Oficina de Design de Serviços da ESP 2022"
## **Objetivo**

**Como** designer
**Quero** revisar a estratégia de exibição dos depoimentos no ambiente virtual da Oficina de Design de Serviços da ESP 2022
**Para** tornar público todos os profissionais responsáveis pela produção da Oficina.

## **Contexto**

- O site da Oficina foi eleito como o ambiente virtual que receberá todos os registros, achados e desdobramentos resultantes dos encontro

[2022-07-04 16:38] #337 closed, assigned to pauloamoreira, elpadrejorge

[2022-07-04 16:42] RaniGub opened #352 "Sistema de Gestão Acadêmica - cooperação com a SecultCE/IDM"
## **Objetivo**

**Como** designer de experiência
**Quero** concluir a sistematização da Inception realizada
**Para** colaborar com a concepção de um Sistema de Gestão Educacional.

## **Contexto**

- Considerando o escopo de atividade #337, é preciso concluir alguns pontos não finalizados na Inception.

## **Escopo**

- [ ] Projeção de objetivos
- [ ] Projeção de funcionalidades

## Observações
L

[2022-07-04 17:09] RaniGub opened #353 "Coleta de depoimentos da Oficina de Design da ESP"
## **Objetivo**

**Como** designer
**Quero** colher os depoimentos das pessoas da produção da oficina de design da ESP
**Para** disponibilizar no ambiente virtual da oficina

## **Contexto**

- O site da Oficina foi eleito como o ambiente virtual que receberá todos os registros, achados e desdobramentos resultantes dos encontros das pré-oficinas e dos três dias de oficina. O site precisará conter

[2022-07-04 17:12] RaniGub commented on #353
Oi @Clarisse1983 o Washington deu um depoimento ao @edmirandajr sobre a Oficina no grupo da narrativas. A gente queria um breve recorte do áudio para usar como depoimento nessa atividade.

[2022-07-04 17:17] RaniGub opened #354 "Criar quadro de visualização dos resultados"
## **Objetivo**

**Como** designer de experiência
**Quero** criar quadro de visualização dos resultados da Oficina de Design da ESP
**Para** sistematizar os resultados

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os resultados obtidos, de modo a viabilizar o compartilhamento dos acha

[2022-07-05 12:01] RaniGub opened #355 "Transcrever as histórias desenvolvidas"
## **Objetivo**

**Como** designer
**Quero** transcrever as histórias das personas
**Para** organizar os achados da Oficina

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os resultados obtidos, de modo a viabilizar o compartilhamento dos achados, gerar registro histórico do processo e

[2022-07-05 12:09] RaniGub commented on #353
Oi @Clarisse1983 vc pode alinhar com o @elpadrejorge os depoimentos que faltam?

[2022-07-05 12:10] RaniGub commented on #354
@pauloamoreira já criei a #355 que será o conjunto dessa.

[2022-07-05 12:32] RaniGub opened #356 "Atualização de conteúdos Ambiente Virtual da Oficina"
## **Objetivo**

**Como** designer
**Quero** fazer uma revisão geral de conteúdos
**Para** atualizar com os acontecimentos do pós-oficina

## **Contexto**
É preciso disponibilizar os achados da Oficina de Design de Serviços da ESP

## **Escopo**

Etapa 1 - Pré-Oficinas

Refinamento:
- [x] Estudar solução para visualização da metodologia em mobil
- [x] Mudar título de "Metodologia" dos blocos para

[2022-07-05 13:53] #343 closed, assigned to RaniGub, elpadrejorge

[2022-07-05 13:53] #307 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:53] #311 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:53] #309 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #313 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #310 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #314 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #312 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #305 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #306 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-05 13:54] #298 closed, assigned to pauloamoreira

[2022-07-05 13:55] #147 closed, assigned to pauloamoreira

[2022-07-05 13:55] #162 closed, assigned to pauloamoreira

[2022-07-05 13:55] #148 closed, assigned to pauloamoreira

[2022-07-05 13:57] #136 closed, assigned to pauloamoreira

[2022-07-05 13:57] #276 closed, assigned to MayaraMonte

[2022-07-05 13:58] #332 closed, assigned to pauloamoreira

[2022-07-05 13:58] #333 closed, assigned to pauloamoreira, elpadrejorge

[2022-07-05 13:58] #271 closed, assigned to pauloamoreira

[2022-07-05 13:59] #329 closed, assigned to pauloamoreira, elpadrejorge

[2022-07-05 13:59] #289 closed, assigned to MayaraMonte

[2022-07-05 13:59] #308 closed, assigned to RaniGub, pauloamoreira, elpadrejorge, caldy94

[2022-07-06 12:19] RaniGub commented on #355
@pauloamoreira já pedi ao Wash atualizações. Olhando a board.... acho que no decorrer das atualizações vale a gente fazer aquela duplicação nos cards pq já é de nossa familiaridade. E se for preciso usar o mesmo método de projeção de entregas da Inception Mãe fica mais de boas.

[2022-07-07 12:02] RaniGub commented on #349
Oi Jorge, por favor, você pode criar essas issues:

Metodologia
Disponibilizar metodologia da flecha (estudar formato apropriado com descrição das etapas)
Estudar estratégia de exibição da metodologia conectada com os achados
Disponibilizar clusters de todos os problemas (identificar os trabalhados na oficina)

[2022-07-07 19:56] RaniGub commented on #353
Ficha Técnica (dos que faltavam ou que precisam ser alterados).

Érica Pinho - Cobertura e Divulgação
Gabriela Marques - Metodologia e Facilitação
Jorge Godoy - Metodologia, Facilitação e Ambiente Virtual
Ranielder Freitas - Coordenação Metodológica e Coordenação de Geral
Uirá Porã - Metodologia e Coordenação Geral
Nazka Fernandes - Metodologia e Facilitação
Gabriela Calderón - Produção
Paulo Amor

[2022-07-07 19:56] RaniGub commented on #356
Etapa 1 - Pré-Oficinas

Refinamento:
- [x] Estudar solução para visualização da metodologia em mobil
- [x] Mudar título de "Metodologia" dos blocos para "Condução da Etapa 1"
-- [ ] Padrozinar no título - Passo 1 - Definição de áreas, Passo 2 - Estruturação de Problemas, Passo 3 - Priorização de Problemas, Passo 4 - Banco de Problemas, Passo 5 - Problemas Transverssais, Passo 6 - Problemas direcio

[2022-07-08 11:44] RaniGub commented on #355
Falta pareamento da board do Washington e Jorge para finalização.

[2022-07-08 11:44] #354 closed, assigned to pauloamoreira

[2022-07-08 12:32] elpadrejorge opened #357 "Disponibilizar metodologia da flecha no ambiente virtual"
## **Objetivo**

**Como** designer
**Quero** Disponibilizar metodologia da flecha no ambiente virtual
**Para** possibilitar a consulta pelos colaboradores da ESP

## **Contexto**
A metodologia da oficina de design foi representada, em seus primeiros ensaios, com um formato de flecha. Esta representação facilita o entendimento de todo o processo da oficina.

## **Escopo**
- [x] estudar o melhor for

[2022-07-08 12:36] elpadrejorge opened #358 "Estudar estratégia de exibição no ambiente virtual da metodologia conectada com os achados"
## **Objetivo**

**Como** designer
**Quero** Estudar estratégia de exibição no ambiente virtual da metodologia conectada com os achados
**Para** possibilitar a consulta pelos colaboradores da ESP

## **Contexto**
Para visualizar da melhor maneira possível a metodologia utilizada na Oficina, se faz necessário um estudo de como esta metodologia pode ser apresentada.

## **Escopo **
- [x] verificar a

[2022-07-08 12:36] #358 closed, assigned to elpadrejorge

[2022-07-08 12:41] elpadrejorge opened #359 "Disponibilizar no ambiente virtual os clusters de todos os problemas | Parte 2"
## **Objetivo**

**Como** designer
**Quero** Disponibilizar no ambiente virtual os clusters de todos os problemas
**Para** possibilitar a consulta pelos colaboradores da ESP

## **Contexto**
Com o fim do momento presencial da oficina, a etapa de pós-oficina possui entre suas entregas a disponibilização dos achados validados na oficina no ambiente virtual.

## **Escopo**
- [x] criar na seção de ach

[2022-07-08 13:33] elpadrejorge commented on #353
As funções foram atualizadas na ficha técnica. Faltam depoimentos da Alice, Marcelo, Washington, Edmilson, Poppi e Matheus.

[2022-07-08 14:16] elpadrejorge commented on #356
Alterações possíveis realizadas.
Reorganizei o escopo para checkboxs para reforçar o que pode ser resolvido.

[2022-07-11 11:45] RaniGub commented on #353
Bom dia gente, faltam alguns depoimentos para a gente finalizar essa tarefa.
- Matheus (consigo pegar hoje após a daily)
- Poppi (aguardar recuperação da covid)
- Edmilson (@edmirandajr)
- Marcelo (@Clarisse1983 por gentileza, é possível fazer uma montagem com base no depoimento do Marcelo?)
- Alice (@elpadrejorge vamos tentar coletar algo nesta terça 12/07)

[2022-07-11 11:45] #351 closed, assigned to elpadrejorge

[2022-07-11 18:14] pauloamoreira opened #360 "Relacionar histórias semelhantes com a Inception mãe"
## **Objetivo**

**Como** designer de experiência
**Quero** relacionar histórias mapeadas na Inception Mãe com a jornada geral da Residência
**Para** criar visualização desse relacionamento e facilitar processos seguintes.

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os resultados ob

[2022-07-12 12:11] RaniGub commented on #360
Pareamento realizado:
- Seguir na exibição priorização pela GUT
- Indicar no cluster de Soluções não Integradas as priorizações da expectativa dos grupos
- Inserir legenda para histórias similares que se conectam e histórias que atendem a mais de um momento da jornada

[2022-07-12 12:58] RaniGub opened #361 "Revisar post-it gerados nos grupos"
## **Objetivo**

**Como** designer de experiência
**Quero** revisar post-it gerados nos grupos
**Para** garantir o registro dos dados no figma

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os resultados obtidos, de modo a viabilizar o compartilhamento dos achados, gerar registro histó

[2022-07-12 16:04] pauloamoreira commented on #360
.relacionamento finalizado. aguardando aprovação de @RaniGub

[2022-07-12 18:57] RaniGub commented on #361
@pauloamoreira existe uma nova persona no cluster de Soluções não Integradas, o Francisco. Ele tem duas necessidades. Amanhã atualizo você.

[2022-07-13 11:26] RaniGub opened #362 "Mapear as ações potenciais | Publicações/Artigos"
## **Objetivo**

**Como** pesquisador
**Quero** mapear as práticas do Time de Design
**Para** desenvolvimento de artigos científicos

## **Contexto**

Através das Metodologias Projetuais em Design, o Time de Design contribui no desenvolvimento das Soluções Digitais do SUS-CE, integrando teoria e prática do Design em suas ações. Visto o potencial de publicização da práxis transdisciplinar, é import

[2022-07-13 11:44] #355 closed, assigned to pauloamoreira

[2022-07-13 12:30] RaniGub opened #363 "Conteúdo de slides Reuniãozona"
## **Objetivo**

**Como** designer
**Quero** organizar o conteúdo dos slides
**Para** apresentar na Reuniãozona

## **Contexto**

É preciso disponibilizar informações sobre a Oficina de Design de Serviços da ESP na Reuniãozona.

## **Escopo**

- [x] Inserir conteúdo nos slides

## Observações
Links de apoio e informações adicionais

[2022-07-13 12:41] RaniGub commented on #360
Sugestão de legendas para relacionamento feita.

[2022-07-13 17:26] RaniGub commented on #357
@elpadrejorge acho que pode ser nosso MVP 1.1. O original tá na board.
![Captura de Tela 2022-07-13 às 14 22 02](https://user-images.githubusercontent.com/79097920/178794205-157d40a0-c240-4989-80d5-99cd057a3953.png)

[2022-07-14 11:46] RaniGub commented on #357
Resolver bug de visualização e colocar conteúdo em duas colunas.

[2022-07-14 16:11] #363 closed, assigned to nobody

[2022-07-15 11:45] RaniGub commented on #357
Ajeitar a disposição da coluna da imagem e jogar título pra cima.

[2022-07-15 11:48] RaniGub commented on #353
Bom dia gente, faltam alguns depoimentos para a gente finalizar essa tarefa.
- Poppi
- Edmilson

[2022-07-15 14:26] elpadrejorge commented on #357
Ajustes realizados.

[2022-07-15 14:28] elpadrejorge commented on #353
Depoimentos inseridos no ambiente. Poppi já contactado. Edmilson está de viagem de volta à Portugal, mas informou que assim que puder envia.

[2022-07-18 11:49] RaniGub commented on #357
Inverter colunas.

[2022-07-18 11:50] RaniGub commented on #353
Verificar depoimento do Washington

[2022-07-18 12:05] RaniGub commented on #359
Disponibilizar primeira visualização dos cards em tamanho padrão.

[2022-07-18 12:08] #356 closed, assigned to elpadrejorge

[2022-07-18 12:09] RaniGub opened #364 "Revisão geral de conteúdo | Ambiente Virtual Oficina ESP"
## **Objetivo**

**Como** designer
**Quero** fazer uma revisão geral de conteúdos
**Para** atualizar com os acontecimentos do pós-oficina

## **Contexto**
É preciso disponibilizar os achados da Oficina de Design de Serviços da ESP

## **Escopo**

- [x] Revisão geral (organização de conteúdos não mais necessários)
- [x] Revisar os objetivos disponibilizados no site (verificar apresentação e figma)

[2022-07-18 12:10] RaniGub commented on #364
Estudar estilos dos títulos

[2022-07-18 12:16] RaniGub commented on #349
Para visualização da previsão de entregas vamos criar uma seção nova.

[2022-07-18 12:30] #345 closed, assigned to matheuscpl

[2022-07-18 12:31] RaniGub opened #365 "Design System | ESP"
## **Objetivo**

**Como** designer de interação
**Quero** uma documentação de padrões de design do iSUS
**Para** facilitar o desenvolvimento de produtos e gerar padronização

## **Contexto**

A problemática da inconsistência entre padrões de design de produtos do Felicilab, como o iSUS causa retrabalho para os designers, aumenta o tempo de produção e fomenta a inconsistência

## **Escopo**
- Compo

[2022-07-18 12:37] RaniGub commented on #346
@ericabpinho a experiência já foi disponibilizada, falta análise do time de narrativas.

[2022-07-18 13:01] elpadrejorge opened #366 "Inserir os objetivos da Oficina de Design de Serviços da ESP no texto de abertura do Ambiente Virtual"
## **Objetivo**

**Como** narrativeira
**Quero** revisar o texto de abertura da oficina
**Para** que os objetivos da oficina de design de serviços estejam presentes de forma orgânica no texto de abertura.

## **Contexto**

- O texto de abertura da ODSESP presente no Ambiente Virtual da Oficina foi estruturado para um release e aproveitado com poucas adaptações para sua função de apresentação do am

[2022-07-18 18:03] RaniGub opened #367 "Identificação dos Problemas Transversais no Banco de Problemas (Figma)"
## **Objetivo**

**Como** designer
**Quero** criar uma identificação no Banco de Problemas de quais problemas são transversais
**Para** que as pessoas tenham conhecimento e possa acionar a equipe de competência para resolução dos demais

## **Contexto**

- Por ocasião da realização das oficinas de Design de Serviços na ESP/CE (29 a 30 de julho de 2022), se faz necessário analisar e sistematizar os

[2022-07-18 18:37] elpadrejorge commented on #353
todos os depoimentos foram transcritos e já inseridos no ambiente virtual. Tarefa concluída.

[2022-07-18 18:37] #353 closed, assigned to elpadrejorge

[2022-07-19 14:43] RaniGub commented on #357
Foi!

[2022-07-19 14:43] #357 closed, assigned to elpadrejorge

[2022-07-19 14:45] RaniGub opened #368 "Disponibilizar no ambiente virtual os clusters de todos os problemas | Parte 1"
## **Objetivo**

**Como** designer
**Quero** Disponibilizar no ambiente virtual os clusters de todos os problemas
**Para** possibilitar a consulta pelos colaboradores da ESP

## **Contexto**
Com o fim do momento presencial da oficina, a etapa de pós-oficina possui entre suas entregas a disponibilização dos achados validados na oficina no ambiente virtual.

## **Escopo**
- [x] criar visualização da

[2022-07-20 11:42] RaniGub commented on #360
Oi @pauloamoreira qnd vc puder fala comigo pra gente concluir a revisão dessa tarefa.

[2022-07-21 11:44] #368 closed, assigned to elpadrejorge

[2022-07-21 13:42] RaniGub commented on #359
Criar visualização para detalhamento dos encaminhamentos.

[2022-07-21 19:17] ericabpinho commented on #346
Foi realizada a análise de narrativas, sem indicações para alterações do texto.
Contudo, tenho algumas dúvidas fora do escopo da issue, a respeito das categorias "status das inscrições". Essas categorias foram definidas ao longo do processo, ou anteriormente, pela própria secretaria escolar?

Outra questão: essa etapa atual tem testes de usabilidade previstos?
@victorMagalhaesPacheco @ricardopoppi

[2022-07-22 11:42] RaniGub commented on #364
Revisar o target de todas as janelas.

[2022-07-22 12:35] #346 closed, assigned to matheuscpl, ericabpinho

[2022-07-22 12:37] ricardopoppi commented on #346
@ericabpinho obrigado pelo feedback. Sobre as categorias status das inscrições, como é uma funcionalidade que já está em produção algum tempo no mapa, sugiro que caso façamos algum ajuste seja um nova issue de análise ux com narrativas e depois se houver necessidade de alguma implementação de mudança uma nova issue para desenvolvimento que vamos atrelar a uma épica de melhorias e resolução de bugs

[2022-07-22 14:27] RaniGub opened #369 "Emissão de declarações da Oficina de Design"
## **Objetivo**

**Como** organizador da oficina de design
**Quero** gerenciar as informações das pessoas inscritas
**Para** emitir declarações de participação

## **Contexto**
É preciso fazer o relacionamento dos inscritos com a frequência das pessoas para emissão de declarações.

## **Escopo**

- [x] Criar espaço no site informando sobre as declarações. O espaço deve conter formulário de contato

[2022-07-22 14:30] RaniGub commented on #369
@ericabpinho precisamos alinhar com vcs essa issue.

[2022-07-22 14:36] RaniGub commented on #156
Essa tarefa será finalizada e um épico do site do Felicilab será criado no repo do Design. Jorge será a pessoa de referência dessa tarefa com o apoio do time de narrativas.

[2022-07-22 14:36] #156 closed, assigned to danielgula, elpadrejorge

[2022-07-22 14:38] RaniGub commented on #153
Essa tarefa será finalizada e um épico do site do Felicilab será criado no repo do Design. Jorge será a pessoa de referência dessa tarefa com o apoio do time de narrativas.

[2022-07-22 14:38] #153 closed, assigned to pauloamoreira, elpadrejorge

[2022-07-22 14:54] diegosilvachagas opened #370 "Preparar arquivo para apresentação dos indicadores"

[2022-07-22 16:32] #370 closed, assigned to nobody

[2022-07-25 11:55] #367 closed, assigned to pauloamoreira

[2022-07-25 11:56] RaniGub commented on #360
Tarefa finalizada. @ricardopoppi a sistematização está completa e pronta para ser entregue ao time de produtos.

[2022-07-25 11:56] #360 closed, assigned to pauloamoreira

[2022-07-25 12:17] RaniGub opened #371 "Compreensão de cenário para o Projeto de Fortalecimento da Capacidade de detecção e Respostas às Emergências em Saúde Publica"
## **Objetivo**

**Como** designer
**Quero** estudar possibilidades de participação no Projeto
**Para** ter contexto na Reunião da Proepi/Sevig e Inception

## **Contexto**

Estamos participando da prospecção de um novo projeto com a Coordenadoria de Vigilância Epidemiológica da SESA. É preciso compreender o cenário de oportunidades nesse projeto.

## **Escopo**

- [x] Explorar o App Guardiões da

[2022-07-25 12:24] ClarisCaval commented on #366
Bom dia, pessoas. Segue a nova proposta de texto;
https://docs.google.com/document/d/1IoaBzRogOLyLX23YwZvlRtzORnhRJ6n4-K14FTISYrg/edit
Qualquer dúvida, tô por aqui.

[2022-07-25 14:42] pauloamoreira commented on #361
revisão concluída. @elpadrejorge foram encontrados erros de revisão nas fichas das personas. caso estas fichas já tenham sido postadas no site, convém atualizar os arquivos a partir da versão atual, já revisada.

[2022-07-25 18:56] ericabpinho commented on #369
@RaniGub, @Clarisse1983, @elpadrejorge: vou preparar uma proposta de texto. Chamo o Jorge para alinhar assim que a sugestão de texto estiver pronta.

[2022-07-25 19:05] elpadrejorge opened #372 "Revisão da narrativa do ambiente virtual da Oficina de Design de Serviços da ESP 2022"
## **Objetivo**

**Como** narrativeira
**Quero** revisar a narrativa do ambiente virtual da oficina
**Para** que a compreensão de todas as informações disponibilizadas no ambiente virtual sejam claras e conectadas

## **Contexto**

- O site da Oficina está praticamente concluído. Foi revisado pelo Paulo e agora precisa ser revisado pelo time de Narrativas, para garantir que todo o conteúdo disponi

[2022-07-25 19:22] ericabpinho commented on #369
@RaniGub, @Clarisse1983, @elpadrejorge:
Proposta do texto: https://docs.google.com/document/d/1vseISmYPcf3JiKvCWOGlOb49euVya_d6vs6M5XT0eBk/edit.

[2022-07-26 19:28] ClarisCaval commented on #364
Esta revisão já está prevista na issue:
https://app.zenhub.com/workspaces/narrativas-62a774cf9c38ab0010cac6cd/issues/escoladesaudepublica/narrativas/60
Vou concluir essa para nós, considerando que o escopo será resolvido na outra.

[2022-07-27 11:41] #359 closed, assigned to elpadrejorge

[2022-07-27 11:56] RaniGub opened #373 "Artigo Diagnóstico Situacional e Priorização | Estruturar sumário"
## **Objetivo**

**Como** pesquisador
**Quero** estruturar o artigo da Oficina de Design
**Para** publicação em periódico

## **Contexto**

O Time de Design contribuiu na sistematização de informações para o planejamento estratégico da ESP, além do mapeamento e estruturação de informações que darão suporte a outras entregas do Felicilab.

## **Escopo**

- [ ] Imersão
- [ ] Estrutura do sumário
- [

[2022-07-27 11:58] RaniGub commented on #373
V1 da cronologia da estrutura. Adaptar com a evolução do artigo.

- Estruturar artigo das Oficinas de Design
- Estrutura do sumário
- Desenvolvimento
- Metodologia
- Resultados e Discussão
- Conclusões
-  Introdução

[2022-07-27 12:29] RaniGub commented on #371
Link do primeiro encontro disponibilizado.

[2022-07-27 14:43] edmirandajr commented on #364
@elpadrejorge preciso consultar esse figma para fazer a revisão?

[2022-07-27 17:21] elpadrejorge commented on #369
Após conversa com a Ana Xenofonte, foram traçadas três possibilidades de encaminhamentos para esta tarefa:
1 - Que as declarações fossem geradas manualmente pela Secretaria
2 - Que, via código, a oportunidade da Inscrição da Oficina no Mapa da Saúde fosse desbloqueada e tivesse o selo aplicado e os nomes dos não inscritos adicionados. Consultei o @victorMagalhaesPacheco sobre esta possibilidade e

[2022-07-28 17:54] RaniGub opened #374 "Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** construir um novo site para o Felicilab
**Para** reunir as informações institucionais do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e que agrege as entregas do laboratório de forma cla

[2022-07-29 12:45] elpadrejorge commented on #366
Texto adicionado ao site.

[2022-07-29 12:45] elpadrejorge commented on #366
Texto adicionado ao site.

[2022-07-29 12:45] #366 closed, assigned to ClarisCaval, elpadrejorge

[2022-07-29 12:50] elpadrejorge opened #375 "Estruturar os conteúdos do site com o time de Narrativas"
## **Objetivo**

**Como** designer
**Quero** estruturar os conteúdos do site do Felicilab
**Para** reunir as informações institucionais do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e que agrege as entregas do laboratório de form

[2022-07-29 12:54] elpadrejorge opened #376 "Elaborar a arquitetura e definir as jornadas dos usuários do site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** elaborar a arquitetura e as jornadas do site do Felicilab
**Para** reunir as informações institucionais do laboratório com uma experiência consistente

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e

[2022-08-01 18:06] edmirandajr commented on #364
conversei com Jorge hoje para entender o que procurar em minha revisão. Já percebemos algumas melhorias. Vou apontar tudo em um documento e linkar aqui

[2022-08-01 19:29] edmirandajr commented on #364
Comecei a apontar melhorias nesse link, devo encerrar até quinta https://docs.google.com/document/d/1bd7QjlfpfWJxIwyirZ-2VWfXcOx_pjCRCmQL-Bj4b6g/edit

[2022-08-03 14:41] ericabpinho opened #377 "Produzir apresentação impressa do roadmap"
## **Objetivo**

**Como** Pessoa do Comitê de Governança da ESP
**Quero** Visualizar o roadmap da board integrada
**Para** Compreender a linha do tempo de entregas do laboratório até dezembro

## **Contexto**

-Desde junho de 2022, o Felicilab  mudou sua forma de organização de trabalho, substituindo a divisão em times pelo esforço concentrado da board integrada. A integração de esforços de difere

[2022-08-04 14:00] #377 closed, assigned to ericabpinho, elpadrejorge

[2022-08-04 14:18] edmirandajr commented on #364
Revisão concluída, aguardo indicação do @elpadrejorge para resolver qualquer dúvida sobre minhas sugestões.

A revisão está disponível nesse link https://docs.google.com/document/d/1bd7QjlfpfWJxIwyirZ-2VWfXcOx_pjCRCmQL-Bj4b6g/edit

[2022-08-05 13:56] elpadrejorge commented on #364
Sugestões implementadas, na medida do possível. Peço ao @edmirandajr para validar se as alterações resolvem as questões levantadas.

[2022-08-09 13:34] elpadrejorge opened #378 "Pintura de Parede do Hall de Entrada do Felicilab"
Com a visita do novo Secretário de Saúde à ESP, marcada para 08/08/2022, foi solicitada a pintura da parede do Hall de Entrada do Felicilab, no prédio anexo.

- [x] Comprar tintas das cores do logo do Felicilab (Leroy Merlin)
- [x] Comprar fitas adesivas e rolos para pintura
- [x] Comprar 2m de adesivo vinil branco e 2m de máscara de aplicação de vinil
- [x] Realizar a pintura
- [x] Recortar e apl

[2022-08-09 17:53] elpadrejorge opened #379 "Pesquisar e definir soluções visuais para a hierarquia de textos e informações"
## **Objetivo**

**Como** designer
**Quero** pesquisar e definir soluções visuais para a hierarquia de textos e informações do site do Felicilab
**Para** consolidar escolhas visuais consistentes com a marca do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores d

[2022-08-09 17:55] elpadrejorge opened #380 "Definir paleta de cores harmônica às cores do Felicilab e suas aplicações"
## **Objetivo**

**Como** designer
**Quero** Definir paleta de cores harmônica às cores do Felicilab e suas aplicações
**Para** tornar a visualidade do site coerente com a identidade da marca do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu p

[2022-08-10 18:02] pauloamoreira commented on #371
.foi realizada, dia 10.08.2022, reunião de Mapeamento de Expectativas com Sarah Mendes (SESA) e equipe, DEDUC, DITEC e Felicilab, para alinhamento das demandas. A partir das informações recebidas, será reformulada a formalização da demanda na ESP. Será agendada uma inception para coleta dos dados necessários para execução das entregas da DITEC/Felicilab.

[2022-08-10 18:09] pauloamoreira opened #381 "Registros fotográficos da visita do Secretário de Saúde à ESP"
## **Objetivo**

**Como** Designer de Experiência/Fotógrafo
**Quero** produzir registros fotográficos da visita do Secretário de Saúde à ESP
**Para** colaborar com os registros históricos da instituição

## **Contexto**

- Com a visita do novo Secretário de Saúde à ESP, realizada em 08/08/2022, foi realizei cobertura fotográfica da visita do Secretário.

## **Escopo**

- [x] Realizar cobertura da

[2022-08-16 16:46] edmirandajr commented on #364
revisão concluída. disponível no link https://docs.google.com/document/d/1bd7QjlfpfWJxIwyirZ-2VWfXcOx_pjCRCmQL-Bj4b6g/edit?usp=sharing

[2022-08-16 20:00] ClarisCaval commented on #347
Apresentamos a proposta de seguir fazendo notificações apesar do defeso na última estratégica, sexta 12, e vamos apresentar uma proposta mais direcionada para Alice, que deverá levar a questão para o comitê de governança.

[2022-08-17 11:28] #378 closed, assigned to pauloamoreira, elpadrejorge

[2022-08-17 11:29] RaniGub commented on #376
Bom dia @elpadrejorge. Você pode disponibilizar o link das jornadas?

[2022-08-17 14:20] #376 closed, assigned to elpadrejorge

[2022-08-17 14:20] #375 closed, assigned to elpadrejorge

[2022-08-17 14:22] RaniGub commented on #379
@elpadrejorge disponibilizar arquivo no cloud.

[2022-08-17 14:25] RaniGub commented on #374
@elpadrejorge vc pode disponibilizar o endereço do estudo no WP?

[2022-08-18 11:31] RaniGub commented on #374
Bom dia @ericabpinho e @edmirandajr tudo de boa? Minha proposta é que esse épico seja espelhado na board de narrativas e o escopo ser desdobrado e atualizado por vocês. Daí o @elpadrejorge consegue acompanhar os desdobramentos e se aproximar quando for necessário. Editei um espaço no Escopo para Narrativas.

Para Jorge:
- Dei uma rápida atualizada no escopo, fiquei na dúvida sobre o Analytics, em

[2022-08-18 11:51] RaniGub commented on #349
Para finalização: definição de CA dos participantes para emissão de declaração pela secretaria acadêmica e divulgação na página. @RaniGub

[2022-08-18 11:56] pauloamoreira commented on #371
.após reunião da equipe do Felicilab no dia 17.08.2022, ficou definido que a proposta inicial será apresentado, para informe de pendências e encaminhamentos, ao Comitê de Governança da ESP dia 18.08.2022.

[2022-08-18 12:15] edmirandajr commented on #374
@RaniGub temos nas pastas abaixo textos para o site. No entanto, ainda precisamos decidir se mantemos em pastas separadas ou reunimos todos numa pasta só para evitar confusão. @ericabpinho @Clarisse1983

Pasta - Textos site Felicilab
https://drive.google.com/drive/folders/1diz4_TCJpBVU0hfM-IoskUQ5xTTNSpgy?usp=sharing

Pasta - Prestação de contas (contém textos para páginas do site)
https://drive.g

[2022-08-18 12:20] pauloamoreira opened #382 "Transcrição de tópicos de reuniões SEVIG/SESA com a ESP"
## **Objetivo**

**Como** Designer de Experiência do Felicilab
**Quero** transcrever tópicos tratados em reuniões com Sarah Mendes (SEVIG/SESA)
**Para** ter maior clareza sobre as expectativas de entrega de um novo projeto com a Coordenadoria de Vigilância Epidemiológica da SESA.

## **Contexto**

- Por ocasião das reuniões de prospecção de um novo projeto com a Coordenadoria de Vigilância Epidemi

[2022-08-18 18:27] pauloamoreira commented on #374
@elpadrejorge podemos parear dia 19.08, as 15h?

[2022-08-19 11:15] #174 closed, assigned to RaniGub

[2022-08-19 13:37] pauloamoreira commented on #371
Fluxo do projeto atualizado no figma.

[2022-08-19 16:55] RaniGub commented on #369
@elpadrejorge

Encaminhamentos:
1- Fornecer a lista dos participantes para Ana Xenofonte. Vamos simplificar e deixar somente 3 categorias dos envolvidos na Oficina como falamos anteriormente:
Participante: 20h
Facilitador(a): 40h
Organizador(a): 80h

2- Todos que estiveram presentes pelo menos 2 dias da Oficina recebem a declaração, independente se fizeram ou não a pré-inscrição. Vamos considerar

[2022-08-22 11:33] #382 closed, assigned to pauloamoreira

[2022-08-22 11:34] RaniGub commented on #371
Inception marcada para 26/06, 14h

[2022-08-22 11:34] #371 closed, assigned to RaniGub, pauloamoreira

[2022-08-22 11:48] #364 closed, assigned to elpadrejorge, edmirandajr

[2022-08-22 18:13] pauloamoreira opened #383 "Levantamento de funcionalidades do iSUS e do Mapa da Saúde"
## **Objetivo**

**Como** designer de experiência
**Quero** mapear as funcionalidades do iSUS e do Mapa de Saúde
**Para** colaborar com o processo de integração das soluções digitais e dispor de informações para atender demandas emergentes

## **Contexto**

- com as frequentes necessidades de levantamento de funcionalidades das soluções digitais do Felicilab, se faz necessário mapear as funcionali

[2022-08-22 18:14] pauloamoreira commented on #383
@ericsonmoreira e @victorMagalhaesPacheco aguardando atualização do documento com levantamento de funcionalidades do iSUS.

[2022-08-22 18:15] pauloamoreira commented on #383
@victorMagalhaesPacheco aguardando documento com funcionalidades do Mapa da Saúde.

[2022-08-22 19:06] vicmagpac commented on #383
@pauloamoreira Nestor

[2022-08-22 19:09] nestorufpe commented on #383
@pauloamoreira trabalhando nela. Acredito que amanhã esteja pronta.

[2022-08-23 12:18] pauloamoreira opened #384 "Adaptação de fluxo de inception para demanda de projeto com a SEVIG/SESA"
## **Objetivo**

**Como** designer de experiência
**Quero** adaptar o fluxo atual de realização de Inception
**Para** adequá-lo a aplicação em projeto de parceria entre a Secretaria Executiva de Vigilância Sanitária e a ESP.

## **Contexto**

- Por ocasião do agendamento de aplicação de Inception para compreensão e levantamento de requisitos de projeto de parceria entre a SEVIG/SES e a ESP, que oc

[2022-08-23 14:57] ericabpinho commented on #347
Observe:
- Percebemos que a comunicação sobre o site da Oficina deveria ser feita diretamente aos participantes interessados, pelo e-mail institucional. @edmirandajr criará issue.
- Percebemos que a periodicidade de 15x/semana seria excessiva e decidimos, por enquanto, ir decidindo conforme a demanda.

[2022-08-23 17:12] RaniGub opened #385 "Adequação de inception para o Projeto da Vigilância"
## **Objetivo**

**Como** designer
**Quero** readequar a inception
**Para** compreender as expectativas da SEVIG/SESA com a demanda

## **Contexto**

Estamos participando da prospecção de um novo projeto com a Coordenadoria de Vigilância Epidemiológica da SESA. É preciso compreender o cenário de oportunidades nesse projeto.

## **Escopo**

- [ ]  Readequar inception

## Observações
Slides
[4a16d15

[2022-08-23 17:19] RaniGub opened #386 "Proposta metodológica para gestão de informações da Monkeypox"
## **Objetivo**

**Como** designer
**Quero** adaptar um fluxo metodológico
**Para** gestão de informações da Monkeypox nas soluções digitais

## **Contexto**

A partir da compreensão da última reunião do tático (22/08/22), é preciso estruturar o cenário das soluções que irão abordar as informações da Monkeypox e seus desdobramentos.

## **Escopo**

- [ ] Adaptar metodologia do iNova para Monkeypox

[2022-08-23 17:21] RaniGub commented on #385
Atendido na tarefa #384

[2022-08-23 17:21] #385 closed, assigned to RaniGub, pauloamoreira, elpadrejorge

[2022-08-26 13:32] RaniGub commented on #384
Finalizado.

[2022-08-26 13:32] #384 closed, assigned to RaniGub, pauloamoreira

[2022-08-26 13:34] RaniGub opened #387 "Inception SEVIG"
## **Objetivo**

**Como** designer de experiência
**Quero** realizar uma inception
**Para** levantar os requisitos da demanda da Sevig

## **Contexto**

- Por ocasião do agendamento de aplicação de Inception para compreensão e levantamento de requisitos de projeto de parceria entre a SEVIG/SES e a ESP, que ocorrerá, com duração diferenciada, no dia 26/08, se faz necessário analisar o modelo atual

[2022-08-26 18:31] pauloamoreira commented on #387
.Inception reagendada para a manhã do dia 29/08.

[2022-08-29 11:28] #352 closed, assigned to elpadrejorge

[2022-08-29 11:33] #380 closed, assigned to elpadrejorge

[2022-08-29 12:14] RaniGub opened #388 "Desdobramentos de entregas do Projeto Sevig - Fluxo inicial"
## **Objetivo**

**Como** designer
**Quero** propor um fluxo metodológico
**Para** nortear os passos de entregas do projeto da SEVIG

## **Contexto**

Precisamos clarificar como se dará o fluxo (entrada, tratamento e publicação) das informações fornecidas pela SEVIG para alimentar as entregas do projeto.

## **Escopo**

- [x] Fluxo inicial

## Observações
Dar continuidade ao fluxo no desenho origi

[2022-08-30 16:29] #387 closed, assigned to RaniGub, pauloamoreira, elpadrejorge

[2022-08-30 16:53] RaniGub opened #389 "Sistematização Inception Sevig"
## **Objetivo**

**Como** designer
**Quero** fazer sistematização da Inception
**Para** dispor do norteamento para o componente de inovação e tecnologia no projeto

## **Contexto**

- Foi realizada em 30/08/2022 a Inception com a Sevig. É preciso que essas informações sejam sistematizadas para que façamos um pareamento com os demais times para que a projeção de entregas esteja alinhada com as expe

[2022-08-30 16:55] RaniGub opened #390 "Alinhamento dos resultados da Inception"
## **Objetivo**

**Como** designer
**Quero** alinhar os resultados da Inception da Sevig com o time de narrativas
**Para** dispor do norteamento para o componente de inovação e tecnologia no projeto

## **Contexto**

- Foi realizada em 30/08/2022 a Inception com a Sevig. É preciso que essas informações sejam sistematizadas para que façamos um pareamento com os demais times para que a projeção de e

[2022-08-30 17:10] RaniGub commented on #390
@gabrieladamarques @Clarisse1983 só marcando vcs na tarefa pra deixar no horizonte de acontecimentos.

[2022-08-30 17:11] RaniGub commented on #369
Aguardando pareamento com a Ana Xenofonte. Dia 31/03/22 ela será novamente procurada para novo alinhamento.

[2022-08-30 17:26] RaniGub opened #391 "Despacho e relatório de atividades das Oficinas para Construção de Políticas Públicas"
## **Objetivo**

**Como** designer
**Quero** atualizar o despacho e o relatório de atividades das Oficinas de Políticas Públicas
**Para** apresentar em reunião com a Sesa

## **Contexto**

O Designlab está trabalhando na atualização dessas informações para apresentação em reunião com a Secretária Executiva de Políticas de Saúde, Mônica Souza, no dia 31/08/2022.

## **Escopo**

- [x] Atualizar rela

[2022-08-30 17:38] RaniGub opened #392 "Pareamento com Time de Desenvolvimento para o Site do Felicilab (Bugs)"
## **Objetivo**

**Como** designer
**Quero** realizar um pareamento com o time DEV
**Para** correção de bugs e implementação de melhorias no novo site do Felicilab

## **Contexto**

O novo site do Felicilab está em fase de desenvolvimento, porém alguns comportamentos que gostaríamos de implementar estão apresentando  bugs que fogem de nossa competência técnica. Foi sinalizado ao líder do time de D

[2022-08-30 17:40] #379 closed, assigned to elpadrejorge

[2022-08-30 17:42] RaniGub opened #393 "Implementar soluções visuais para a hierarquia de textos e informações"
## **Objetivo**

**Como** designer
**Quero** implementar soluções visuais para a hierarquia de textos e informações do site do Felicilab
**Para** consolidar escolhas visuais consistentes com a marca do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca

[2022-08-31 16:38] pauloamoreira commented on #391
.em conversa com @gabrieladamarques ela me informou que o despacho já foi protocolado, então não será alterado, mas o relatório de atividades já foi atualizado e compartilhado com a diretoria de inovação e tecnologia.

[2022-09-01 11:45] elpadrejorge commented on #369
Em conversa com a Ana, foi solicitado o envio de um memo para a expedição das declarações da oficina. Junto a ele deve ir a matriz da frequência dos participantes pelo Sagu. Como nada foi lançado no Sagu, irei parear com a @nazkafarias a inserção destes dados no Sagu, provavelmente hoje, 01/09.

[2022-09-01 12:19] RaniGub commented on #383
Em pareamento com o Paulo, compreendemos que o conteúdo deve ser adaptado no contexto de apresentação dos produtos. No entanto, as informações contidas na versão original podem ser úteis em algum momento. Para acessá-las considere o versionamento dos documentos.

[2022-09-05 12:17] RaniGub commented on #369
A @nazkafarias e o Alexandre do time de projeto estão organizando a turma no Sagu para darmos procedimento a etapa de emissão.

[2022-09-05 12:29] alesouza88 commented on #369
Já solicitamos ao Time Técnico o envio do memorando para a Secretaria Acadêmica abrir o curso no Sagu, junto com o "FORMULÁRIO PARA CADASTRO DE CURSO NO SAGU". Segue abaixo a minuta de solicitação:
Link do formulário: https://docs.google.com/document/d/1zONiXuv26NUEXCVGl1GKy2GhaqIRd3-OIH-uAoWScEE/edit

![image](https://user-images.githubusercontent.com/87095371/188448816-0cec378f-7b08-447e-90f5-5f

[2022-09-05 12:38] RaniGub commented on #369
@alesouza88 teste

[2022-09-05 12:39] alesouza88 commented on #369
TOPPPPPP

[2022-09-05 13:26] RaniGub opened #394 "Produto das Oficinas de Design para Construção de Políticas Públicas"
## **Objetivo**

**Como** designer
**Quero** refinar as vertentes do produto da Oficina de Design
**Para** dar conhecimento as pessoas sobre os processos envolvidos e aos objetivos

## **Contexto**

É necessário organizar um espaço dedicado às Oficinas para Construção de Políticas Públicas para refinar as vertentes do processo e dos resultados e, para facilitar a prospecção de novos projetos.

##

[2022-09-05 13:42] #208 closed, assigned to caldy94

[2022-09-06 11:54] #393 closed, assigned to elpadrejorge

[2022-09-06 11:57] RaniGub opened #395 "Estudar experiência dos perfis do site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** estudar a experiência de navegação da seção dos perfis do Felicilab
**Para** guiar a implementação de telas

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e que agrege as entregas do laboratório de fo

[2022-09-06 12:01] RaniGub opened #396 "Desenvolver seção dos Times do site do Felibilab"
## **Objetivo**

**Como** designer
**Quero** desenvolver a seção dos Times do site do Felicilab
**Para** dispor das informações dos times

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e que agrege as entregas do laboratório de forma clara e con

[2022-09-06 12:34] RaniGub commented on #349
Faltam duas coisas para finalizar o Épico:
1- Verificar com Daniel e TI sobre acesso com senha no período de defeso eleitoral
2- Aguardar envio pelo @ricardopoppi das expectativas de entrega das histórias mapeadas na oficina com a classificação do tipo: 1) Precisamos de um novo projeto para atender; 2) Será atendido no quarto trimestre de 2022; e, 3) Em desenvolvimento, entrega prevista para XX/20

[2022-09-06 19:52] RaniGub commented on #349
Encaminhamentos:
1 - Elon da Ascom validou o acesso ao site da oficina durante o Defeso. Estamos realizando as adaptações sugeridas e depois será feita uma nova avaliação para liberação do link.
2- Em conversa com o @ricardopoppi foi acordado que o time de design irá disponibilizar as legendas de categorização das entregas para que o time de produtos faça a relação. Tão logo isso esteja pronto, o

[2022-09-08 11:54] RaniGub commented on #374
Após pareamento com a @Clarisse1983, compreendemos que os perfis devem contemplar as pessoas do Felicilab, enquanto as da Ditec devem aparecer no modelo de governança na seção do Felicilab. Considerar uma versão para o site e atualizar as informações.

[2022-09-08 11:55] elpadrejorge commented on #374
Em conversa com o time de Soluções (@fwandson @Wanderley97 e João Paulo), foi solicitado a criação de um ambiente de homologação para o novo site do Felicilab. Foi aberto o chamado 20220906586890 e estamos no aguardo.

[2022-09-08 11:55] #389 closed, assigned to pauloamoreira

[2022-09-08 12:05] elpadrejorge opened #397 "Manejo Clínico Covid-19 V3 - Migração"
## **Objetivo**

**Como** designer
**Quero** realizar a migração da v3 do manejo para um ambiente de homologação
**Para** realizar um refinamento final antes de substituir a v2 pela v3

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. P

[2022-09-08 17:40] RaniGub opened #398 "Prospecção de recursos com UFC"
## **Objetivo**

**Como** designer
**Quero** contextualizar a participação do Felicilab em um componente de inovação em um projeto da UFC
**Para** prospectar recursos financeiros

## **Contexto**

Em uma oportunidade de projeto multicêntrico com a Faculdade de Farmácia, Odontologia e Enfermagem - Universidade Federal do Ceará e outras universidades nacionais e internacionais, precisamos contextual

[2022-09-08 17:40] RaniGub commented on #398
@ericabpinho @edmirandajr criei a issue para que vocês possam marcar a entrega, obrigado gente.

[2022-09-09 11:43] RaniGub commented on #390
Primeiro pareamento com times de projeto realizada. É preciso de mais um encontro para visualização das entregas, incluindo o time de narrativas.

[2022-09-09 12:14] edmirandajr commented on #398
obrigado @RaniGub

[2022-09-09 12:19] RaniGub opened #399 "Alinhamento de conteúdos para o Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** realizar pareamentos com o time de narrativas
**Para** desdobrar as melhores estratégias de conteúdo para lançamento do site do Felicilab

## **Contexto**

Com a aproximação do lançamento do site do Felicilab, o time de design precisa estabelecer uma agenda fixa com o time de narrativas para tratar do apresentação do conteúdos de algumas seções que nece

[2022-09-09 12:31] RaniGub commented on #399
@ericabpinho @edmirandajr @Clarisse1983, bom dia! Na daily de hoje surgiram alguns pontos que o Jorge precisa alinhar com vocês sobre o site do Felicilab. A gente entende que nem sempre vai ser possível que todes participem, sugeri topificar as coisas para que nos encontros seja compreendido o que é possível ir desbloqueando sem a participação do time de narrativas inteiro. Como estamos há 3 seman

[2022-09-09 12:32] #398 closed, assigned to RaniGub, ericabpinho, edmirandajr

[2022-09-09 12:45] pauloamoreira commented on #390
Primeiro pareamento com o time de narrativas realizada dia 08.09. Daremos continuidade dia 09.09.

[2022-09-09 17:03] pauloamoreira commented on #390
Segundo pareamento com o time de narrativas realizado. Aguardando agora pareamento final com o time de projetos - @gabrieladamarques e @nazkafarias

[2022-09-09 17:46] RaniGub commented on #349
@ricardopoppi criei um espaço para você arrastar as histórias para estimativa dos prazos de entrega. Legendas:
Verde - Em desenvolvimento (Temos certeza da data)
Amarela - Em análise de complexidade (A estimativa pode mudar)
Laranja - Aguardando definição de recurso (A ESP quer a entrega, mas não sabemos ao certo do recurso)
Vermelho - Precisamos de um novo projeto para atender (Não temos como faz

[2022-09-09 17:52] RaniGub commented on #362
@elpadrejorge você chegou a fazer algum esboço do artigo da oficina? Se sim vocêpode disponibilizar aqui? Vlw.

[2022-09-09 17:53] RaniGub commented on #373
Melhor disponibilizar aqui @elpadrejorge XD

[2022-09-09 17:55] RaniGub opened #400 "Manejo Clínico Covid-19 V3 - Validação de segurança"
## **Objetivo**

**Como** designer
**Quero** realizar atualizações de segurança a atualização de plug-ins
**Para** assegurar a estruturação da V3 no servidor

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. Por isso, entramos em contat

[2022-09-09 17:56] RaniGub opened #401 "Manejo Clínico Covid-19 V3 - Análise de experiência e usabilidade"
## **Objetivo**

**Como** designer
**Quero** fazer a análise final de experiência  e usabilidade
**Para** assegurar a qualidade da V3

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. Por isso, entramos em contato com o time de Soluções

[2022-09-09 17:56] elpadrejorge commented on #373
@RaniGub , fiz muito pouco. O arquivo que comecei está neste link
https://docs.google.com/document/d/1xJHOciNKCFtNAk_G__M_dYbXnNJKPTI_/edit?usp=sharing&ouid=101992110686901504915&rtpof=true&sd=true

[2022-09-09 17:57] RaniGub opened #402 "Manejo Clínico Covid-19 V3 - Backup da V2 e ativação da V3"
## **Objetivo**

**Como** designer
**Quero** realizar o backup da V2 do Manejo Clínico da Covid-19
**Para** migração definitiva para a V3

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. Por isso, entramos em contato com o time de Solu

[2022-09-09 17:59] elpadrejorge commented on #362
@RaniGub , está atualizado na tarefa #373
https://docs.google.com/document/d/1xJHOciNKCFtNAk_G__M_dYbXnNJKPTI_/edit?usp=sharing&ouid=101992110686901504915&rtpof=true&sd=true

[2022-09-09 18:06] RaniGub opened #403 "Manejo Clínico Covid-19 V3 - Criar ambiente de homologação"
## **Objetivo**

**Como** designer
**Quero** realizar a migração da v3 do manejo para um ambiente de homologação
**Para** realizar um refinamento final antes de substituir a v2 pela v3

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. P

[2022-09-09 18:11] RaniGub commented on #397
Essa tarefa foi desdobrada em outras quatro:
#400 #401 #402 e #403 adicionando suas interdependências

[2022-09-09 18:19] RaniGub commented on #388
Essa tarefa será finalizada pois está sendo contemplada na #390

[2022-09-09 18:19] #388 closed, assigned to RaniGub, pauloamoreira

[2022-09-09 18:22] RaniGub commented on #369
Em alinhamento com o @alesouza88 os cadastros no Sagu estão sendo realizados. O próximo passo será a emissão das declarações pela Secretaria Acadêmica

[2022-09-09 18:32] RaniGub commented on #403
Em alinhamento com o @fwandson o prazo para criação do ambiente de homologação é 16/09/2022. A migração será realizada logo em seguida. Wandson se precisar de suporte na migração fale com o @elpadrejorge

[2022-09-09 18:32] RaniGub commented on #374
Em alinhamento com o @fwandson o prazo para criação do ambiente de homologação do site do Felicilab é 16/09/2022.

[2022-09-09 18:42] RaniGub opened #404 "Projeto Sevig"
## **Objetivo**

**Como** designer
**Quero** desdobrar a ambiência do Projeto da Secretaria de Vigilância em Saúde/SESA
**Para** organizar as entregas

## **Contexto**

- Estamos oficialmente dedicando esforços para levantamento de requisitos relacionados às entregas do Projeto da Secretaria de Vigilância em Saúde/SESA. Para tal, é preciso compreender os norteadores e cronograma de entregas.

## *

[2022-09-09 18:42] pauloamoreira commented on #390
Segundo pareamento com o time de projetos realizado.

[2022-09-09 18:43] pauloamoreira commented on #390
Tarefa finalizada.

[2022-09-09 18:48] #390 closed, assigned to pauloamoreira

[2022-09-09 19:22] RaniGub commented on #374
@elpadrejorge segunda pela manhã (12/09/22) você consegue fazer um exercício de projeção do que falta para o MVP 1 do novo site? Entendo que existe um bloco transversal de coisas que dependem da narrativas, mas para a gente ter um contexto geral e rodar duas ou três sprints do site até o lançamento.

[2022-09-09 19:31] RaniGub commented on #404
@pauloamoreira com base nos refinamentos com o time de narrativas e projetos vamos identificar o que seriam os épicos e ordenar a cronologia das entregas para bolarmos um roadmp. Isso vai dar apoio pra gente, com o time de projetos, entender quais os profissionais estarão envolvidos e durante quanto tempo. Também é interessante a gente saber como se dará a relação de refinamento com a Sevig. Imagi

[2022-09-09 19:45] RaniGub commented on #404
@pauloamoreira , vou pautar no tático nossos achados e estabelecer essa fluxo de comunicação com a Sevig para gente refinar as entregas e só depois ter a visão do roadmap e pessoas envolvidas. O comentário anterior fica como memória dos passos seguintes.

[2022-09-12 11:29] #381 closed, assigned to pauloamoreira

[2022-09-12 11:29] #361 closed, assigned to pauloamoreira

[2022-09-12 11:30] #290 closed, assigned to MayaraMonte

[2022-09-12 11:31] #228 closed, assigned to pauloamoreira

[2022-09-12 11:31] #227 closed, assigned to pauloamoreira

[2022-09-12 11:31] #229 closed, assigned to pauloamoreira

[2022-09-12 11:31] #226 closed, assigned to pauloamoreira

[2022-09-12 11:31] #195 closed, assigned to pauloamoreira

[2022-09-12 11:31] #224 closed, assigned to pauloamoreira

[2022-09-12 11:31] #211 closed, assigned to pauloamoreira

[2022-09-12 11:32] #179 closed, assigned to MayaraMonte

[2022-09-12 11:32] #178 closed, assigned to MayaraMonte

[2022-09-12 11:32] #190 closed, assigned to MayaraMonte

[2022-09-12 11:32] #270 closed, assigned to pauloamoreira

[2022-09-12 13:58] pauloamoreira commented on #383
levantamento de funcionalidades iSUS e levantamento de funcionalidades Mapa da Saúde finalizada. aguardando validação de @RaniGub

[2022-09-12 14:03] pauloamoreira commented on #383
@ericsonmoreira por favor, veja a configuração atual do documento com as funcionalidades do iSUS. incluí comentários com dúvidas lá.

[2022-09-12 14:40] #350 closed, assigned to pauloamoreira, elpadrejorge

[2022-09-12 19:21] pauloamoreira commented on #394
Esquema para compreensão do processo de construção das políticas públicas criado. aguardando refinamento com @RaniGub

[2022-09-13 14:53] elpadrejorge opened #405 "Realizar a importação de todas as páginas que serão reaproveitadas do site atual | Site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** rediagramar as páginas do site atual do Felicilab
**Para** adequá-las ao novo design do site que está em seu estágio final de produção

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, algumas páginas do site atual serão integralmen

[2022-09-13 14:57] elpadrejorge opened #406 "instalar e configurar plugins | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** instalar e configurar plugins
**Para** para garantir o bom funcionamento e segurança do novo site do Felicilab

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, alguns plugins precisam ser instalados para garantir o seu bom funciona

[2022-09-13 15:01] elpadrejorge opened #407 "inserir e diagramar o conteúdo desenvolvido pela Narrativas | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** inserir e diagramar o conteúdo desenvolvido pela Narrativas
**Para** atualizar e alinhar o conteúdo do novo site do Felicilab ao seu modelo de governança

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, alguns textos precisaram ser

[2022-09-13 15:05] elpadrejorge opened #408 "Criar as páginas dos conteúdos que já possuem modelos definidos | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** Criar as páginas dos conteúdos que já possuem modelos definidos
**Para** apresentar com o novo layout as soluções do felicilab

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, foi criado um layout específico para a apresentação das

[2022-09-13 15:08] elpadrejorge opened #409 "Padronização de fotos/filtros/ilustrações | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** Padronizar fotos/filtros/ilustrações no site do felicilab
**Para** manter uma consistência da identidade visual do site e do felicilab

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, foram definidos os estilos de texto, diagramaçã

[2022-09-13 15:11] elpadrejorge opened #410 "Revisão de experiência/mobile/bugs | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** revisar experiência/mobile/bugs após a migração do site para o ambiente de homologação
**Para** dirimir ao máximo eventuais inconsistências no site.

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, o site será migrado a um ambiente

[2022-09-13 15:13] elpadrejorge opened #411 "Implementação do site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** implementar o site do felicilab
**Para** publicá-lo e torná-lo disponível à sociedade

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, após todas as revisões tenham sido concluídas no ambiente de homologação, ele precisará ser impl

[2022-09-13 15:15] elpadrejorge opened #412 "Revisão e finalização de configurações de Analytics | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** revisar e configurar o analytics
**Para** refinar a implementação final do site do Felicilab

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, após todas as revisões tenham sido concluídas no ambiente de homologação, e implementado

[2022-09-13 17:25] ericabpinho commented on #399
Gente, pensei em ir respondendo às perguntas do escopo na ordem em que estão apresentadas. Pode ser? Para o texto de introdução, vocês têm uma estimativa de tamanho/caracteres?

[2022-09-13 18:30] RaniGub opened #413 "Pesquisa do referencial teórico contemporâneo"
## **Objetivo**

**Como** designer
**Quero** refinar as vertentes do produto da Oficina de Design
**Para** dar conhecimento as pessoas sobre os processos envolvidos e aos objetivos

## **Contexto**

É necessário organizar um espaço dedicado às Oficinas para Construção de Políticas Públicas para refinar as vertentes do processo e dos resultados e, para facilitar a prospecção de novos projetos.

##

[2022-09-13 18:31] RaniGub commented on #394
@pauloamoreira criar essa tarefa e fechar:
Pesquisa do referencial teórico balizar
Relacionar épico 394

[2022-09-13 18:32] RaniGub opened #414 "Pesquisa do referencial teórico balizar"
## **Objetivo**

**Como** designer
**Quero** refinar as vertentes do produto da Oficina de Design
**Para** dar conhecimento as pessoas sobre os processos envolvidos e aos objetivos

## **Contexto**

É necessário organizar um espaço dedicado às Oficinas para Construção de Políticas Públicas para refinar as vertentes do processo e dos resultados e, para facilitar a prospecção de novos projetos.

##

[2022-09-13 18:33] RaniGub commented on #404
Na reunião estratégica foi compreendido que as atividades devem ser pausadas até o recurso está efetivamente disponível.

[2022-09-13 18:42] RaniGub commented on #369
@nazkafarias informou que falta somente as informações de três pessoas. Alinhamos que o prazo será até dia 16/09/2022 para que as pessoas enviem essas informações.

[2022-09-13 18:48] #395 closed, assigned to elpadrejorge

[2022-09-13 18:56] RaniGub opened #415 "Esquema para compreensão do processo de construção das políticas públicas na Secretaria Executiva de Políticas Públicas - SEPOS/CE"
## **Objetivo**

**Como** design de experiência
**Quero** criar um esquema do processo de construção das políticas públicas na SEPOS/CE
**Para** facilitar a compreensão deste processo.

## **Contexto**
- É necessário organizar um espaço dedicado às Oficinas para Construção de Políticas Públicas para refinar as vertentes do processo e dos resultados e, para facilitar a prospecção de novos projetos.

[2022-09-13 19:13] RaniGub opened #416 "O que são políticas públicas?"
## **Objetivo**

**Como** designer
**Quero** refinar as vertentes do produto da Oficina de Design
**Para** dar conhecimento as pessoas sobre os processos envolvidos e aos objetivos

## **Contexto**

É necessário organizar um espaço dedicado às Oficinas para Construção de Políticas Públicas para refinar as vertentes do processo e dos resultados e, para facilitar a prospecção de novos projetos.

##

[2022-09-13 19:34] RaniGub commented on #408
@elpadrejorge criar essa tarefa espelhada para os perfis.

[2022-09-14 11:30] RaniGub opened #417 "Adaptação logo Dente-de-Leão para o NIT"
## **Objetivo**

**Como** designer
**Quero** adaptar o logo Dente-de-Leão
**Para** o NIT dispor de um logo

## **Contexto**

- Adaptação de logo para o NIT resultante de estudos do logo do Felicilab.

## **Escopo**

- [x] Adaptar tipografia para "Núcleo de Inovação e Tecnologia da Escola de Saúde Pública do Ceará"
- [x] Dispor de variação com contração "NIT"
- [x] Alinhar com Jorge
- [x] Dispor va

[2022-09-14 11:42] RaniGub commented on #417
@alesouza88

[2022-09-14 14:13] RaniGub commented on #399
Galere da narrativas @ericabpinho, temos o Fluxo de Atividades Integradas no Figma, verbalizar os pontos chaves desse esquema não responderia ou complementaria parte do "Como trabalhamos?"

https://www.figma.com/file/5FFxEuc7eI7tQlfSc7xYQ7/Fluxo-de-Produtos?node-id=45%3A1708

[2022-09-14 14:15] RaniGub commented on #399
Podemos criar a versão clean dessa board.

[2022-09-14 14:20] RaniGub commented on #369
@nazkafarias concluiu o doc. Será encaminhado para a secretaria acadêmica.

[2022-09-14 14:50] alesouza88 commented on #417
Demanda solicitada pela Clarissa através da Central de Chamados da ESP (OTRS)

Identificação do chamado: ESPCE#20220913586920 — Enviar logo do dente de leão com nome NIT
Link da solicitação: https://centraldesuporte.esp.ce.gov.br/otrs/index.pl?Action=AgentTicketZoom;TicketID=7784;ArticleID=27399#27369

![image](https://user-images.githubusercontent.com/87095371/190187988-dd922683-e62c-4192-8642-8c

[2022-09-14 14:54] alesouza88 commented on #417
@Rani ou @pauloamoreira, se possível depois só atualiza o escopo em relação à "Enviar para a Talita do NIT", pois conforme consta na solicitação, eles pedem para enviar ao e-mail do NIT: nit@esp.ce.gov.br.

[2022-09-14 15:06] pauloamoreira commented on #417
.adaptação realizada. marcarei pareamento com @elpadrejorge para finalização.
![marca NIT -2022_vertical_COR_Padrão_fundobranco](https://user-images.githubusercontent.com/79201419/190192863-1a551338-e41a-47b2-a041-71a6687fa479.png)

![marca NIT -2022_horizontal_COR_Padrão_fundobranco](https://user-images.githubusercontent.com/79201419/190192908-c0448eed-8bf7-47bd-8fdd-2715e49f3a2c.png)

[2022-09-14 20:52] pauloamoreira commented on #417
.após pareamento com @elpadrejorge, arquivos foram enviado para o email do NIT.

[2022-09-15 13:36] RaniGub opened #418 "Manejo Clínico Covid-19 V3 - Paridade conteúdos V2/V3"
## **Objetivo**

**Como** designer
**Quero** realizar paridade dos conteúdos (V2/V3)
**Para** assegurar que os conteúdos estão atualizados

## **Contexto**

A v3 do manejo clínico foi desenvolvida no período de abril-julho/2021, dentro de um servidor pessoal do Washington. Com as idas e vindas e repriorizações não houve a atualização da v2 até agora. Por isso, entramos em contato com o time de Sol

[2022-09-15 13:41] #123 closed, assigned to RaniGub

[2022-09-15 13:42] RaniGub commented on #374
Wandson informou que irá disponibilizar hoje pela tarde a homologação.

[2022-09-15 13:43] RaniGub commented on #403
Wandson informou que irá disponibilizar hoje pela tarde a homologação do Manejo devido a lentidão do servidor que ele se encontra hospedado.

[2022-09-15 14:44] RaniGub commented on #396
Jorge, vamos tentar ver amanhã pela manhã no presencial (16/09/22).

[2022-09-15 14:48] RaniGub commented on #391
Tarefa reaberta, @pauloamoreira está trabalhando no novo tópico.

[2022-09-15 15:01] pauloamoreira commented on #391
@RaniGub já incluí quase todas as informações solicitadas pela flavianne. vou finalizar no início da tarde. no entanto, é possível que os links das gravações de cada oficina estejam disponíveis apenas na sua conta. você tem como verificar essa informação?

[2022-09-15 16:10] alesouza88 commented on #369
OI lindezass, @nazkafarias já me enviou a documentação preenchida e só tive o  trabalho de enviar para DITEC para formalizar o pedido de certificação à Secretaria Acadêmica.

Coloquei toda a documentação na pasta drive, intitulada de OFICINA DE DESIGN ESP, localizada no endereço : (https://drive.google.com/drive/folders/1OSnTQ5VUFw_L7BN3sxyBzHJYnenap6vL?usp=sharing)

Segue abaixo e-mail enviado à

[2022-09-15 17:29] RaniGub commented on #369
Obrigado @alesouza88 e @nazkafarias

[2022-09-15 19:20] pauloamoreira commented on #391
@RaniGub as informações disponíveis foram inseridas no relatório.

[2022-09-16 11:29] RaniGub commented on #399
Bom dia @elpadrejorge lembrando dessas issues.

[2022-09-16 11:31] RaniGub commented on #374
Wandson informou que devido a uma demanda emergencial teve que repriorizar a criação dos ambientes. Informei que a falta deles está bloqueando algumas atividades nossa e pedi a avaliação para priorização.

[2022-09-16 19:25] ericabpinho commented on #399
@RaniGub, acho importante. Teria que ser uma versão bem enxuta. Dá certo?

[2022-09-16 19:38] RaniGub commented on #399
Oi @ericabpinho dá sim. Vou tentar trabalhar nisso na semana que vem.

[2022-09-16 19:48] #403 closed, assigned to fwandson, elpadrejorge

[2022-09-16 19:50] RaniGub commented on #397
Identificamos um problema de quebra nos arquivos do Manejo V3 no servidor de origem. Ainda não sabemos do que se trata e de como aconteceu, pois há alguns dias o sites estava 100% funcional. Solicitei ajuda do Washington para ele ver a possibilidade de identificar se é possível reestruturar a versão funcional com base em algum ponto de recuperação.

[2022-09-19 11:42] RaniGub commented on #397
Encontramos a versão na pasta \sus.ce do servidor original. @elpadrejorge irá investigar e dar um direcionamento.

[2022-09-19 14:51] ricardopoppi commented on #349
@RaniGub @elpadrejorge finalizei a distribuição das histórias das oficina lá no board, usando esse espaço que foi criado.

Tudo que tem a ver com a parte de gestão dos alunos eu coloquei como previsão esse ano pois estamos refinando justamente agora para poder fazer uma entrega este ano para a residência. Tudo que tem relação com o portal do aluno, como perdemos os recursos do projeto do CETRED, p

[2022-09-20 11:48] RaniGub opened #419 "Disponibilização do cronograma de entregas | Ambiente Virtual da Oficina"
## **Objetivo**

**Como** designer
**Quero** disponibilizar o cronograma de entregas da oficina no ambiente virtual
**Para** deixar os participantes informados

## **Contexto**

- É preciso disponibilizar os achados da Oficina de Design de Serviços da ESP

## **Escopo**

- [x] Disponibilizar as informações fornecidas pelo time de produtos no ambiente virtual

## Observações
Links de apoio e inform

[2022-09-20 11:53] RaniGub opened #420 "Informar da disponibilização das declarações | Ambiente Virtual da Oficina"
## **Objetivo**

**Como** designer
**Quero** informar sobre a disponibilização das declarações da Oficina
**Para** que os participantes possam programar a retirada

## **Contexto**

- É preciso disponibilizar os achados da Oficina de Design de Serviços da ESP

## **Escopo**

- [x] Criar um texto no ambiente virtual informando sobre a disponibilização dos certificados
- [x] Validar texto com a narr

[2022-09-20 11:56] RaniGub opened #421 "Esquema de como trabalhamos | Site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** criar um esquema gráfico
**Para** disponibilizar a forma que o Felicilab trabalha no site do Felicilab

## **Contexto**

- Frente aos complexos esquemas que temos, é preciso dispor de um que comunique o fluxo de forma resumida

## **Escopo**

- [ ] Criar esquema

## Observações
Links de apoio e informações adicionais

[2022-09-20 12:23] elpadrejorge opened #422 "Atualização de Conteúdo | site Felicilab | Manifesto"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:25] elpadrejorge opened #423 "Atualização de Conteúdo | site Felicilab | Inovação na ESP"
**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúdo for entregue, a

[2022-09-20 12:28] elpadrejorge opened #424 "Atualização de Conteúdo | site Felicilab | Modelo de Governança Colaborativa"
**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúdo for entregue, a

[2022-09-20 12:30] elpadrejorge opened #425 "Atualização de Conteúdo | site Felicilab | Linha do Tempo"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:32] elpadrejorge opened #426 "Atualização de Conteúdo | site Felicilab | Métodos"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:34] elpadrejorge opened #427 "Atualização de Conteúdo | site Felicilab | Publicações"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:37] elpadrejorge opened #428 "Atualização de Conteúdo | site Felicilab | Imprensa"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:43] elpadrejorge opened #429 "Atualização de Conteúdo | site Felicilab | Falaram de nós"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:45] elpadrejorge opened #430 "Atualização de Conteúdo | site Felicilab | Times"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-20 12:46] elpadrejorge opened #431 "Atualização de Conteúdo | site Felicilab | Bora Inovar?"
## **Objetivo**

**Como** designer
**Quero** atualizar o novo site do Felicilab com conteúdos desenvolvidos pelas narrativas
**Para** lançá-lo  até o fim do defeso eleitoral

## **Contexto**

O novo site do Felicilab está em sua fase final de desenvolvimento. Com isso, novas seções foram pensadas e o conteúdo de cada uma delas está em desenvolvimento pelo time de narrativas. Assim que cada conteúd

[2022-09-21 11:24] RaniGub commented on #406
No momento @elpadrejorge está fazendo a configuração dos plug-ins de menu na homologação.

[2022-09-21 11:26] RaniGub commented on #391
Relatório concluído.

[2022-09-21 11:27] RaniGub commented on #417
Adaptação concluída.

[2022-09-21 11:27] #417 closed, assigned to clarissagpeixoto, pauloamoreira

[2022-09-21 11:32] RaniGub opened #432 "Plug-in de menu | Site Felicilab"
## **Objetivo**

**Como** designer
**Quero** instalar e configurar um plug-in de menu
**Para** disponibilizar experiência adequada de navegação

## **Contexto**

- O site do Felicilab está em seu processo final de desenvolvimento. Até o fim do defeso eleitoral, o seu novo design precisa estar no ar. Neste processo, alguns plugins precisam ser instalados para garantir o seu bom funcionamento e a se

[2022-09-21 18:27] edmirandajr commented on #428
Segue link para documento com sugestão de texto: https://docs.google.com/document/d/10zfQTFs4x88Qo2Qcj9Txq79k-LsbeHAoid7x5mFJSzk/edit?usp=sharing @elpadrejorge @ericabpinho

[2022-09-21 19:20] RaniGub commented on #421
Finalizado. Também informado na tarefa #94 das narrativas.

https://www.figma.com/file/95nbqM2JbGAOXPR0wTXs66/Metodologia-Felicilab-Set-2022

[2022-09-22 11:30] elpadrejorge commented on #432
Menu instalado e configurado. Falta refinar com o @RaniGub

[2022-09-22 11:33] elpadrejorge commented on #419
Em conversa com a @ericabpinho e o @edmirandajr , foi acordado que o título das entregas será história/necessidades. Alteração realizada.

[2022-09-22 11:34] RaniGub commented on #432
Vamos refinar com o Junim na semana que vem, amanhã verifico o que podemos melhorar (se conseguimos).

[2022-09-22 11:39] RaniGub commented on #420
Aguardar posicionamento da Secretaria Acadêmica para disponibilizarmos as informações no site.

[2022-09-22 11:40] #419 closed, assigned to elpadrejorge

[2022-09-22 15:46] edmirandajr commented on #396
Segue texto para validação: https://docs.google.com/document/d/10Gw_e0ZzdJa2LpR5G_ptpxGmLE-UtmnnPXtopOz6K5k/edit

@elpadrejorge @ericabpinho

[2022-09-22 16:36] edmirandajr commented on #428
O texto foi validado pelo Time de Narrativas
https://docs.google.com/document/d/10zfQTFs4x88Qo2Qcj9Txq79k-LsbeHAoid7x5mFJSzk/edit?usp=sharing

@elpadrejorge

[2022-09-22 16:55] edmirandajr commented on #396
texto validado pelo Time de Narrativas
https://docs.google.com/document/d/10Gw_e0ZzdJa2LpR5G_ptpxGmLE-UtmnnPXtopOz6K5k/edit?usp=sharing

@elpadrejorge

[2022-09-23 17:31] edmirandajr commented on #429
texto para validação: https://docs.google.com/document/d/1Oy306ZkX77k4Wyx0ic9bUKeOJ9mlfEFVBFH5QK9FiOU/edit?usp=sharing

@elpadrejorge @ericabpinho

[2022-09-26 11:49] RaniGub opened #433 "Projeto Gráico da Revista Felicilab"
## **Objetivo**

**Como** designer
**Quero** criar o projeto gráfico da Revista Felicilab
**Para** reunir as informações institucionais do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de artefato impresso com informações institucionais do Laboratório. O conteúdo deve evidenciar de forma resumida: indicadores, metodologias etc.

##

[2022-09-26 12:09] matheuscpl opened #434 "Experiência de assinatura do certificado na web [fatia zero]"
## **Objetivo**

**Eu como** superintendente da ESP
**Quero** assinar os certificados digitalmente
**Para** reduzir o tempo e custo na assinatura de certificados

## **Contexto**

- Disponibilizar as declarações emitidas aos alunos pelo SAGU
- Permitir a assinatura através do GovBr por um portal na web

## **Escopo UX**
- [ ] Formular a experiência para assinatura dos certificados, considerando as

[2022-09-27 13:21] RaniGub opened #435 "Aula UFC | Apresentação da Metodologia Felicilab"
## **Objetivo**

**Como** designer
**Quero** formatar a apresentação da Metodologia Felicilab
**Para** apresentar aos alunos da UFC

## **Contexto**

- Fomos convidados para uma palestra aos alunos do mestrado e doutorado do PPG da UFC e Mestrado Profissional em Saúde da Fiocruz. Assim, é preciso que a gente compreenda as expectativas do encontro para formatação da apresentação.

## **Escopo**

-

[2022-09-27 13:25] RaniGub opened #436 "Aula UFC | Formatação"
## **Objetivo**

**Como** designer
**Quero** formatar a apresentação da Metodologia Felicilab
**Para** apresentar aos alunos da UFC

## **Contexto**

- Fomos convidados para uma palestra aos alunos do mestrado e doutorado do PPG da UFC e Mestrado Profissional em Saúde da Fiocruz. Assim, é preciso que a gente compreenda as expectativas do encontro para formatação da apresentação.

## **Escopo**

-

[2022-09-28 17:25] RaniGub commented on #433
@elpadrejorge vc pode atualizar como tá o processo?

[2022-09-28 17:26] RaniGub commented on #420
OFICINAS - DECLARAÇÃO DE PARTICIPAÇÃO
Se você participou de pelo menos 2 dias dos encontros na Biblioteca Estadual (BECE), você poderá buscar sua declaração de participação, em breve, no Felicilab. As declarações ficarão prontas ao longo do mês de outubro! Fique atento/a ao grupo da Oficina! Logo que as declarações ficarem prontas, avisaremos por lá!

@elpadrejorge já validado pela narrativas.

[2022-09-28 17:28] elpadrejorge commented on #433
O grid modular já foi feito e validado com o @edmirandajr , assim como os estilos de parágrafo e caractere. O texto está sendo finalizado pelas narrativas. Em pareamento feito próximo do meio dia de hj (28/9) com o @edmirandajr , alinhamos as imagens com os filtros para ilustrar a revista e inicio agora a tarde a produção da capa e contracapa da revista.

[2022-09-28 17:30] RaniGub commented on #432
Plug-in inserido e validado no ambiente de homologação. Resta apenas um pequeno refinamento da paleta do botão "Bora Inovar" pelo time de design. O alinhamento será atendido em outra tarefa. Será atendido na revisão final do site.

[2022-09-28 17:30] #432 closed, assigned to elpadrejorge

[2022-09-28 17:31] RaniGub commented on #392
Refinar com time de desenvolvimento a possibilidade do alinhamento do itens de menu.

[2022-09-28 17:34] elpadrejorge commented on #420
Texto atualizado e já disponível no link https://sus.ce.gov.br/felicilab/oficinadesignesp/

[2022-09-29 11:28] #420 closed, assigned to RaniGub, elpadrejorge

[2022-09-29 11:39] RaniGub opened #437 "Apoio na diagramação | Revista Felicilab"
## **Objetivo**

**Como** designer
**Quero** apoiar a diagramação da Revista Felicilab
**Para** reunir as informações institucionais do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de artefato impresso com informações institucionais do Laboratório. O conteúdo deve evidenciar de forma resumida: indicadores, metodologias etc.

## **

[2022-09-29 11:39] #433 closed, assigned to elpadrejorge

[2022-09-29 11:42] RaniGub opened #438 "Capa | Revista Felicilab"
## **Objetivo**

**Como** designer
**Quero** criar a capa da Revista Felicilab
**Para** reunir as informações institucionais do laboratório

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de artefato impresso com informações institucionais do Laboratório. O conteúdo deve evidenciar de forma resumida: indicadores, metodologias etc.

## **Escopo T

[2022-09-30 11:20] RaniGub commented on #365
Bom dia @matheuscpl como tá seu tempo? Consegue avançar no desdobramento desse épico?

[2022-10-03 12:10] RaniGub opened #439 "Rever páginas que ficaram off no Defeso Eleitoral"
## **Objetivo**

**Como** designer
**Quero** rever páginas do SUS.CE em off
**Para** reativa-las após o defeso

## **Contexto**

- Com o fim do Defeso Eleitoral, as páginas do SUS.CE precisam voltar a ser visualizadas.

## **Escopo**

- [x] Rever páginas em rascunho

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** res

[2022-10-04 14:00] matheuscpl opened #440 "[Design System] Guia de estilo - Cores, tipografia, formas e espaçamento"
## **Objetivo**

**Como** designer de interação
**Quero** acessar uma biblioteca de guia de estilo dos projetos
**Para** facilitar o desenho de produtos e garantir consistência e escalabilidade

## **Contexto**

A problemática da inconsistência entre padrões de design de produtos do Felicilab, como o iSUS, causa retrabalho para os designers, aumenta o tempo de produção e fomenta a inconsistência e

[2022-10-04 14:01] matheuscpl opened #441 "[Design System] Guia de estilo - Iconografia"
## **Objetivo**

**Como** designer de interação
**Quero** acessar uma biblioteca de ícones
**Para** facilitar a customização dos componentes e garantir consistência e escalabilidade

## **Contexto**

A biblioteca de ícones componentizados oferece ao designer acesso facilitado a milhares de formas iconográficas para serem utilizadas nos componentes e interfaces a serem criadas ou customizadas.

##

[2022-10-04 14:08] matheuscpl opened #442 "[Design System] Componentes - Botões"

[2022-10-05 11:09] elpadrejorge commented on #438
Ficou definido que a capa contará com a foto produzida pelo @pauloamoreira das pessoas do Felicilab e de steels.

[2022-10-05 11:10] elpadrejorge commented on #437
A diagramação será revista após pareamento com a @Clarisse1983. Matérias sairão e novas entrarão.

[2022-10-05 11:12] elpadrejorge commented on #396
Após pareamento com o time de Narrativas, ficou definido que temos 5 times no Felicilab: design, narrativas, desenvolvimento, produtos e projetos. No aguardo da definição do texto do time de produtos.

[2022-10-10 13:34] pauloamoreira commented on #413
.tarefa finalizada

[2022-10-10 13:46] pauloamoreira opened #443 "Produção de Imagens Fotográficas para Banco de Imagens e demandas emergentes."
## **Objetivo**

**Como** designer de experiência e fotógrafo
**Quero** produzir imagens fotográficas
**Para** usos em peças de design e programação visual do Felicilab

## **Contexto**

- A partir de demanda diagnosticada do uso de imagens fotográficas atuais (sem personagens usando máscara - contexto pós-pandemia) com temáticas relacionadas ao cotidiano do Felicilab, para ilustrar peças de progr

[2022-10-13 11:36] RaniGub commented on #396
Alinha com o Jorge a experiência do MVP1 da seção.

[2022-10-13 11:37] RaniGub commented on #365
Atividade temporariamente pausada.

[2022-10-13 11:38] #414 closed, assigned to RaniGub, pauloamoreira

[2022-10-13 11:39] RaniGub commented on #394
Aguardando sumário para validação.

[2022-10-13 11:44] RaniGub commented on #374
As modificações que serão feitas no site serão para:
1) Dar destaques a alguns números, fazer uma costura com os benefícios do uso do produto e mostrar oq o ele faz além do que é apresentado/Ver potencialidades @ericabpinho você pode alinhar com o @pauloamoreira que estava fazendo um exercício de potencialidades do Mapa e iSUS. Ele vai te dar algumas informações de relevância.

2) Mudanças na home

[2022-10-13 12:06] elpadrejorge commented on #396
Com base em refinamento de experiência com o @RaniGub , ficou definido que a página de Times será dividida em subpáginas para cada time, onde cada um será carregado com um menu de ícones para cada time.

[2022-10-13 20:41] elpadrejorge commented on #396
Seções atualizadas e já inseridas no menu.

[2022-10-13 20:43] elpadrejorge commented on #437
A revista foi redefinida em seu escopo e seu lançamento foi repriorizado até o fim do ano, com possibilidade de ser finalizada até a expoexp.

[2022-10-13 20:46] elpadrejorge commented on #439
Páginas já estão no ar.

[2022-10-13 20:53] elpadrejorge opened #444 "Formatar a home do novo site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** formatar a home do novo site para o Felicilab
**Para** adequar a narrativa das infos às personas mapeadas

## **Contexto**

- Com o movimento da Prestação de Contas do Felicilab, se evidenciou a necessidade de um redesign do site, com nova identidade visual que transmita os valores da marca e seu portfolio e que agrege as entregas do laboratório de form

[2022-10-13 21:03] elpadrejorge opened #445 "Folder de apresentação do Felicilab"
## **Objetivo**

**Como** designer
**Quero** desenvolver um folder de apresentação do Felicilab
**Para** disponibilizar um impresso que apoie as apresentações do laboratório a visitantes e cargos estratégicos

## **Contexto**

- Com o fim do defeso eleitoral e o novo contexto do Felicilab, surgiu a necessidade de elaborar um impresso que apoie a apresentação do laboratório, contendo as principais